Repository hmcts/pre-api, pull requests merged in 2023-12, with the labels that each got.

#85 S28 2226/create bookings
  config/pmd/ruleset.xml
  lombok.config
  src/functionalTest/java/uk/gov/hmcts/reform/preapi/controllers/OpenAPISpecFunctionalTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/preapi/controllers/SampleFunctionalTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/preapi/controllers/GetWelcomeTest.java
  src/main/java/uk/gov/hmcts/reform/preapi/controllers/BookingController.java
  src/main/java/uk/gov/hmcts/reform/preapi/controllers/RootController.java
  src/main/java/uk/gov/hmcts/reform/preapi/exception/GlobalControllerExceptionHandler.java
  src/main/java/uk/gov/hmcts/reform/preapi/exception/NotFoundException.java
  src/main/java/uk/gov/hmcts/reform/preapi/exception/PathPayloadMismatchException.java
  src/main/java/uk/gov/hmcts/reform/preapi/model/Booking.java
  src/main/java/uk/gov/hmcts/reform/preapi/model/Case.java
  src/main/java/uk/gov/hmcts/reform/preapi/service/CaseService.java
  src/smokeTest/java/uk/gov/hmcts/reform/preapi/controllers/SampleSmokeTest.java
  src/smokeTest/java/uk/gov/hmcts/reform/preapi/controllers/SmokeTest.java
  src/test/java/uk/gov/hmcts/reform/preapi/controller/BookingControllerTest.java
  src/test/java/uk/gov/hmcts/reform/preapi/model/CaseTest.java
  src/test/java/uk/gov/hmcts/reform/preapi/service/CaseServiceTest.java
Labels: ns:pre, prd:pre, rel:pre-api-pr-85

#87 Feature: API `/cases`
  src/main/java/uk/gov/hmcts/reform/preapi/controllers/BookingController.java
  src/main/java/uk/gov/hmcts/reform/preapi/controllers/CaseController.java
  src/main/java/uk/gov/hmcts/reform/preapi/entities/Case.java
  src/main/java/uk/gov/hmcts/reform/preapi/entities/Role.java
  src/main/java/uk/gov/hmcts/reform/preapi/entities/Room.java
  src/main/java/uk/gov/hmcts/reform/preapi/entities/User.java
  src/main/java/uk/gov/hmcts/reform/preapi/entities/base/BaseEntity.java
  src/main/java/uk/gov/hmcts/reform/preapi/entities/base/CreatedModifiedAtEntity.java
  src/main/java/uk/gov/hmcts/reform/preapi/exception/ConflictException.java
  src/main/java/uk/gov/hmcts/reform/preapi/exception/GlobalControllerExceptionHandler.java
  src/main/java/uk/gov/hmcts/reform/preapi/model/Case.java
  src/main/java/uk/gov/hmcts/reform/preapi/repositories/CaseRepository.java
  src/main/java/uk/gov/hmcts/reform/preapi/service/CaseService.java
  src/main/java/uk/gov/hmcts/reform/preapi/services/CaseService.java
  src/test/java/uk/gov/hmcts/reform/preapi/controller/BookingControllerTest.java
  src/test/java/uk/gov/hmcts/reform/preapi/controller/CaseControllerTest.java
  src/test/java/uk/gov/hmcts/reform/preapi/service/CaseServiceTest.java
  src/test/java/uk/gov/hmcts/reform/preapi/services/CaseServiceTest.java
Labels: ns:pre, prd:pre, rel:pre-api-pr-87

#93 Three OWASP suppressions
  config/owasp/suppressions.xml
Labels: ns:pre, prd:pre, rel:pre-api-pr-93

#91 Upsert booking in db
  src/main/java/uk/gov/hmcts/reform/preapi/controllers/BookingController.java
  src/main/java/uk/gov/hmcts/reform/preapi/enums/UpsertResult.java
  src/main/java/uk/gov/hmcts/reform/preapi/exception/GlobalControllerExceptionHandler.java
  src/main/java/uk/gov/hmcts/reform/preapi/exception/UnknownServerException.java
  src/main/java/uk/gov/hmcts/reform/preapi/model/Participant.java
  src/main/java/uk/gov/hmcts/reform/preapi/services/BookingService.java
  src/test/java/uk/gov/hmcts/reform/preapi/controller/BookingControllerTest.java
  src/test/java/uk/gov/hmcts/reform/preapi/services/BookingServiceTest.java
Labels: ns:pre, prd:pre, rel:pre-api-pr-91

#92 S28-2239: API `GET /bookings/{bookingId}/recordings/{recordingId}`
  src/main/java/uk/gov/hmcts/reform/preapi/controllers/RecordingController.java
  src/main/java/uk/gov/hmcts/reform/preapi/entities/CaptureSession.java
  src/main/java/uk/gov/hmcts/reform/preapi/entities/Recording.java
  src/main/java/uk/gov/hmcts/reform/preapi/model/Recording.java
  src/main/java/uk/gov/hmcts/reform/preapi/repositories/RecordingRepository.java
  src/main/java/uk/gov/hmcts/reform/preapi/services/RecordingService.java
  src/test/java/uk/gov/hmcts/reform/preapi/controller/RecordingControllerTest.java
  src/test/java/uk/gov/hmcts/reform/preapi/model/RecordingTest.java
  src/test/java/uk/gov/hmcts/reform/preapi/services/RecordingServiceTest.java
Labels: ns:pre, prd:pre, rel:pre-api-pr-92

#94 S28 2240: GET `/bookings/{bookingId}/recordings`
  src/main/java/uk/gov/hmcts/reform/preapi/controllers/RecordingController.java
  src/main/java/uk/gov/hmcts/reform/preapi/repositories/RecordingRepository.java
  src/main/java/uk/gov/hmcts/reform/preapi/services/RecordingService.java
  src/test/java/uk/gov/hmcts/reform/preapi/controller/RecordingControllerTest.java
  src/test/java/uk/gov/hmcts/reform/preapi/services/RecordingServiceTest.java
Labels: ns:pre, prd:pre, rel:pre-api-pr-94

#98 S28 2225/get booking by
  build.gradle
  src/main/java/uk/gov/hmcts/reform/preapi/controllers/BookingController.java
  src/main/java/uk/gov/hmcts/reform/preapi/model/Booking.java
  src/main/java/uk/gov/hmcts/reform/preapi/model/Participant.java
  src/main/java/uk/gov/hmcts/reform/preapi/services/BookingService.java
  src/test/java/uk/gov/hmcts/reform/preapi/controller/BookingControllerTest.java
  src/test/java/uk/gov/hmcts/reform/preapi/model/ParticipantTest.java
  src/test/java/uk/gov/hmcts/reform/preapi/services/BookingServiceTest.java
Labels: ns:pre, prd:pre, rel:pre-api-pr-98

#99 Refactor models to be named DTO
  config/checkstyle/checkstyle.xml
  src/integrationTest/java/uk/gov/hmcts/reform/preapi/entities/BookingDTOTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/preapi/entities/CaptureSessionTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/preapi/entities/CaseDTOTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/preapi/entities/ParticipantDTOTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/preapi/entities/RecordingDTOTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/preapi/entities/ShareRecordingTestDTO.java
  src/main/java/uk/gov/hmcts/reform/preapi/controllers/BookingController.java
  src/main/java/uk/gov/hmcts/reform/preapi/controllers/CaseController.java
  src/main/java/uk/gov/hmcts/reform/preapi/controllers/RecordingController.java
  src/main/java/uk/gov/hmcts/reform/preapi/dto/BookingDTO.java
  src/main/java/uk/gov/hmcts/reform/preapi/dto/CaseDTO.java
  src/main/java/uk/gov/hmcts/reform/preapi/dto/ParticipantDTO.java
  src/main/java/uk/gov/hmcts/reform/preapi/dto/RecordingDTO.java
  src/main/java/uk/gov/hmcts/reform/preapi/services/BookingService.java
  src/main/java/uk/gov/hmcts/reform/preapi/services/CaseService.java
  src/main/java/uk/gov/hmcts/reform/preapi/services/RecordingService.java
  src/main/resources/db/migration/V001__CreateSchemaTables.sql
  src/main/resources/db/migration/V002__CapitalizeEnums.sql
  src/test/java/uk/gov/hmcts/reform/preapi/controller/BookingDTOControllerTest.java
  src/test/java/uk/gov/hmcts/reform/preapi/controller/CaseDTOControllerTest.java
  src/test/java/uk/gov/hmcts/reform/preapi/controller/RecordingDTOControllerTest.java
  src/test/java/uk/gov/hmcts/reform/preapi/dto/CaseDTOTest.java
  src/test/java/uk/gov/hmcts/reform/preapi/dto/ParticipantDTOTest.java
  src/test/java/uk/gov/hmcts/reform/preapi/dto/RecordingDTOTest.java
  src/test/java/uk/gov/hmcts/reform/preapi/services/BookingDTOServiceTest.java
  src/test/java/uk/gov/hmcts/reform/preapi/services/CaseDTOServiceTest.java
  src/test/java/uk/gov/hmcts/reform/preapi/services/RecordingDTOServiceTest.java
Labels: ns:pre, prd:pre, rel:pre-api-pr-99

#102 Revert DTO refactor changes to schema
  src/main/resources/db/migration/V001__CreateSchemaTables.sql
  src/main/resources/db/migration/V002__CapitalizeEnums.sql
Labels: ns:pre, prd:pre, rel:pre-api-pr-102

#104 Revert class name changes which happened during DTO refactor
  config/owasp/suppressions.xml
  src/test/java/uk/gov/hmcts/reform/preapi/controller/BookingControllerTest.java
  src/test/java/uk/gov/hmcts/reform/preapi/controller/CaseControllerTest.java
  src/test/java/uk/gov/hmcts/reform/preapi/controller/RecordingControllerTest.java
  src/test/java/uk/gov/hmcts/reform/preapi/services/BookingServiceTest.java
  src/test/java/uk/gov/hmcts/reform/preapi/services/CaseServiceTest.java
  src/test/java/uk/gov/hmcts/reform/preapi/services/RecordingServiceTest.java
Labels: ns:pre, prd:pre, rel:pre-api-pr-104

#105 S28 2241: PUT `/bookings/{bookingId}/recordings/{recordingId}`
  src/main/java/uk/gov/hmcts/reform/preapi/controllers/RecordingController.java
  src/main/java/uk/gov/hmcts/reform/preapi/repositories/BookingRepository.java
  src/main/java/uk/gov/hmcts/reform/preapi/repositories/CaptureSessionRepository.java
  src/main/java/uk/gov/hmcts/reform/preapi/repositories/RecordingRepository.java
  src/main/java/uk/gov/hmcts/reform/preapi/services/RecordingService.java
  src/test/java/uk/gov/hmcts/reform/preapi/controller/RecordingControllerTest.java
  src/test/java/uk/gov/hmcts/reform/preapi/services/RecordingServiceTest.java
Labels: ns:pre, prd:pre, rel:pre-api-pr-105

#111 Fix: PUT `/cases/{id}` Can Update
  src/main/java/uk/gov/hmcts/reform/preapi/controllers/BookingController.java
  src/main/java/uk/gov/hmcts/reform/preapi/controllers/CaseController.java
  src/main/java/uk/gov/hmcts/reform/preapi/controllers/RecordingController.java
  src/main/java/uk/gov/hmcts/reform/preapi/controllers/base/PreApiController.java
  src/main/java/uk/gov/hmcts/reform/preapi/exception/ConflictException.java
  src/main/java/uk/gov/hmcts/reform/preapi/exception/GlobalControllerExceptionHandler.java
  src/main/java/uk/gov/hmcts/reform/preapi/repositories/CaseRepository.java
  src/main/java/uk/gov/hmcts/reform/preapi/services/CaseService.java
  src/test/java/uk/gov/hmcts/reform/preapi/controller/CaseControllerTest.java
  src/test/java/uk/gov/hmcts/reform/preapi/services/CaseServiceTest.java
Labels: ns:pre, prd:pre, rel:pre-api-pr-111

#115 Revert flyway plugin update
  build.gradle
Labels: ns:pre, prd:pre, rel:pre-api-pr-115

#113 S28 2240: Add search to `GET /bookings/{bookingId}/recordings`
  src/main/java/uk/gov/hmcts/reform/preapi/controllers/RecordingController.java
  src/main/java/uk/gov/hmcts/reform/preapi/repositories/RecordingRepository.java
  src/main/java/uk/gov/hmcts/reform/preapi/services/RecordingService.java
  src/test/java/uk/gov/hmcts/reform/preapi/controller/RecordingControllerTest.java
  src/test/java/uk/gov/hmcts/reform/preapi/services/RecordingServiceTest.java
Labels: ns:pre, prd:pre, rel:pre-api-pr-113

#120 S28 2251: `GET /courts` and `GET /courts/{id}`
  src/integrationTest/java/uk/gov/hmcts/reform/preapi/entities/CourtroomTest.java
  src/main/java/uk/gov/hmcts/reform/preapi/controllers/CourtController.java
  src/main/java/uk/gov/hmcts/reform/preapi/dto/BookingDTO.java
  src/main/java/uk/gov/hmcts/reform/preapi/dto/CourtDTO.java
  src/main/java/uk/gov/hmcts/reform/preapi/dto/RoomDTO.java
  src/main/java/uk/gov/hmcts/reform/preapi/entities/Court.java
  src/main/java/uk/gov/hmcts/reform/preapi/entities/Courtroom.java
  src/main/java/uk/gov/hmcts/reform/preapi/entities/Room.java
  src/main/java/uk/gov/hmcts/reform/preapi/repositories/CourtRepository.java
  src/main/java/uk/gov/hmcts/reform/preapi/repositories/CourtroomRepository.java
  src/main/java/uk/gov/hmcts/reform/preapi/services/CourtService.java
  src/test/java/uk/gov/hmcts/reform/preapi/controller/CourtControllerTest.java
  src/test/java/uk/gov/hmcts/reform/preapi/services/CourtServiceTest.java
Labels: ns:pre, prd:pre, rel:pre-api-pr-120

#123 Fix: Cannot update deleted cases/recordings/bookings
  src/main/java/uk/gov/hmcts/reform/preapi/entities/Booking.java
  src/main/java/uk/gov/hmcts/reform/preapi/exception/GlobalControllerExceptionHandler.java
  src/main/java/uk/gov/hmcts/reform/preapi/exception/UpdateDeletedException.java
  src/main/java/uk/gov/hmcts/reform/preapi/services/BookingService.java
  src/main/java/uk/gov/hmcts/reform/preapi/services/CaseService.java
  src/main/java/uk/gov/hmcts/reform/preapi/services/RecordingService.java
  src/test/java/uk/gov/hmcts/reform/preapi/controller/BookingControllerTest.java
  src/test/java/uk/gov/hmcts/reform/preapi/controller/CaseControllerTest.java
  src/test/java/uk/gov/hmcts/reform/preapi/controller/RecordingControllerTest.java
  src/test/java/uk/gov/hmcts/reform/preapi/services/BookingServiceTest.java
  src/test/java/uk/gov/hmcts/reform/preapi/services/CaseServiceTest.java
  src/test/java/uk/gov/hmcts/reform/preapi/services/RecordingServiceTest.java
Labels: ns:pre, prd:pre, rel:pre-api-pr-123

#119 S28 2223/delete booking
  build.gradle
  charts/pre-api/values.dev.template.yaml
  charts/pre-api/values.stg.template.yaml
  src/functionalTest/java/uk/gov/hmcts/reform/preapi/controllers/BookingControllerFT.java
  src/functionalTest/java/uk/gov/hmcts/reform/preapi/util/FunctionalTestBase.java
  src/functionalTest/resources/application.properties
  src/integrationTest/java/uk/gov/hmcts/reform/preapi/entities/CreateRecordingDTOTest.java
  src/main/java/uk/gov/hmcts/reform/preapi/controllers/BookingController.java
  src/main/java/uk/gov/hmcts/reform/preapi/controllers/TestingSupportController.java
  src/main/java/uk/gov/hmcts/reform/preapi/dto/CreateRecordingDTO.java
  src/main/java/uk/gov/hmcts/reform/preapi/entities/Recording.java
  src/main/java/uk/gov/hmcts/reform/preapi/entities/base/CreatedModifiedAtEntity.java
  src/main/java/uk/gov/hmcts/reform/preapi/exception/GlobalControllerExceptionHandler.java
  src/main/java/uk/gov/hmcts/reform/preapi/exception/ResourceInDeletedStateException.java
  src/main/java/uk/gov/hmcts/reform/preapi/exception/UpdateDeletedException.java
  src/main/java/uk/gov/hmcts/reform/preapi/repositories/BookingRepository.java
  src/main/java/uk/gov/hmcts/reform/preapi/repositories/CaseRepository.java
  src/main/java/uk/gov/hmcts/reform/preapi/repositories/ParticipantRepository.java
  src/main/java/uk/gov/hmcts/reform/preapi/repositories/SoftDeleteRepository.java
  src/main/java/uk/gov/hmcts/reform/preapi/services/BookingService.java
  src/main/java/uk/gov/hmcts/reform/preapi/services/CaseService.java
  src/main/java/uk/gov/hmcts/reform/preapi/services/RecordingService.java
  src/main/resources/application.yaml
  src/main/resources/db/migration/V004__RecordingDurationType.sql
  src/main/resources/db/migration/V005__JoiningTablePKs.sql
  src/test/java/uk/gov/hmcts/reform/preapi/controller/BookingControllerTest.java
  src/test/java/uk/gov/hmcts/reform/preapi/controller/CaseControllerTest.java
  src/test/java/uk/gov/hmcts/reform/preapi/controller/RecordingControllerTest.java
  src/test/java/uk/gov/hmcts/reform/preapi/services/BookingServiceTest.java
  src/test/java/uk/gov/hmcts/reform/preapi/services/CaseServiceTest.java
  src/test/java/uk/gov/hmcts/reform/preapi/services/RecordingServiceTest.java
Labels: ns:pre, prd:pre, enable_helm_keep, enable_keep_helm, rel:pre-api-pr-119

#110 adding mutation tests to pipeline
  Jenkinsfile_nightly
  build.gradle
Labels: ns:pre, prd:pre, rel:pre-api-pr-110

#126 RecordingDTO added
  src/functionalTest/java/uk/gov/hmcts/reform/preapi/controllers/BookingControllerFT.java
  src/main/java/uk/gov/hmcts/reform/preapi/controllers/RecordingController.java
  src/main/java/uk/gov/hmcts/reform/preapi/dto/RecordingDTO.java
  src/main/java/uk/gov/hmcts/reform/preapi/services/RecordingService.java
  src/test/java/uk/gov/hmcts/reform/preapi/controller/RecordingControllerTest.java
Labels: ns:pre, prd:pre, rel:pre-api-pr-126

#127 fixing nightly pipeline to pre api
  Jenkinsfile_nightly
Labels: ns:pre, prd:pre, rel:pre-api-pr-127

#125 S28 2254: PUT `/courts/{id}`
  src/main/java/uk/gov/hmcts/reform/preapi/controllers/CaseController.java
  src/main/java/uk/gov/hmcts/reform/preapi/controllers/CourtController.java
  src/main/java/uk/gov/hmcts/reform/preapi/dto/CreateCourtDTO.java
  src/main/java/uk/gov/hmcts/reform/preapi/entities/base/BaseEntity.java
  src/main/java/uk/gov/hmcts/reform/preapi/entities/base/CreatedModifiedAtEntity.java
  src/main/java/uk/gov/hmcts/reform/preapi/enums/RecordingStatus.java
  src/main/java/uk/gov/hmcts/reform/preapi/services/CourtService.java
  src/test/java/uk/gov/hmcts/reform/preapi/controller/CourtControllerTest.java
  src/test/java/uk/gov/hmcts/reform/preapi/services/CourtServiceTest.java
Labels: ns:pre, prd:pre, rel:pre-api-pr-125

#128 S28 2265: GET `/users/{id}`
  src/main/java/uk/gov/hmcts/reform/preapi/controllers/UserController.java
  src/main/java/uk/gov/hmcts/reform/preapi/dto/PermissionDTO.java
  src/main/java/uk/gov/hmcts/reform/preapi/dto/RoleDTO.java
  src/main/java/uk/gov/hmcts/reform/preapi/dto/UserDTO.java
  src/main/java/uk/gov/hmcts/reform/preapi/repositories/AppAccessRepository.java
  src/main/java/uk/gov/hmcts/reform/preapi/services/UserService.java
  src/test/java/uk/gov/hmcts/reform/preapi/controller/UserControllerTest.java
  src/test/java/uk/gov/hmcts/reform/preapi/services/UserServiceTest.java
Labels: ns:pre, prd:pre, rel:pre-api-pr-128

#129 Search for Bookings by caseId or ref
  config/checkstyle/checkstyle.xml
  src/integrationTest/java/uk/gov/hmcts/reform/preapi/entities/AppAccessTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/preapi/entities/CaptureSessionTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/preapi/entities/CaseDTOTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/preapi/entities/CourtTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/preapi/entities/CreateBookingDTOTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/preapi/entities/CreateParticipantDTOTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/preapi/entities/CreateRecordingDTOTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/preapi/entities/PortalAccessTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/preapi/entities/ShareRecordingTestDTO.java
  src/integrationTest/java/uk/gov/hmcts/reform/preapi/entities/UserTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/preapi/services/BookingServiceIT.java
  src/integrationTest/java/uk/gov/hmcts/reform/preapi/util/HelperFactory.java
  src/main/java/uk/gov/hmcts/reform/preapi/controllers/BookingController.java
  src/main/java/uk/gov/hmcts/reform/preapi/repositories/BookingRepository.java
  src/main/java/uk/gov/hmcts/reform/preapi/services/BookingService.java
  src/test/java/uk/gov/hmcts/reform/preapi/controller/BookingControllerTest.java
  src/test/java/uk/gov/hmcts/reform/preapi/services/BookingServiceTest.java
Labels: ns:pre, prd:pre, rel:pre-api-pr-129

#133 Adds meta data to API docs
  src/main/java/uk/gov/hmcts/reform/preapi/controllers/BookingController.java
  src/main/java/uk/gov/hmcts/reform/preapi/controllers/CaseController.java
  src/main/java/uk/gov/hmcts/reform/preapi/controllers/CourtController.java
  src/main/java/uk/gov/hmcts/reform/preapi/controllers/RecordingController.java
  src/main/java/uk/gov/hmcts/reform/preapi/controllers/UserController.java
Labels: ns:pre, prd:pre, rel:pre-api-pr-133

#136 S28 2264: GET `/users`
  src/main/java/uk/gov/hmcts/reform/preapi/controllers/UserController.java
  src/main/java/uk/gov/hmcts/reform/preapi/repositories/AppAccessRepository.java
  src/main/java/uk/gov/hmcts/reform/preapi/repositories/BookingRepository.java
  src/main/java/uk/gov/hmcts/reform/preapi/services/UserService.java
  src/test/java/uk/gov/hmcts/reform/preapi/controller/UserControllerTest.java
  src/test/java/uk/gov/hmcts/reform/preapi/services/UserServiceTest.java
Labels: ns:pre, prd:pre, rel:pre-api-pr-136

#138 Fix: Save participant when created/updated and set court
  src/main/java/uk/gov/hmcts/reform/preapi/services/BookingService.java
  src/test/java/uk/gov/hmcts/reform/preapi/services/BookingServiceTest.java
Labels: ns:pre, prd:pre, rel:pre-api-pr-138

#132 Paginated, sortable bookings for case
  build.gradle
  src/integrationTest/java/uk/gov/hmcts/reform/preapi/services/BookingServiceIT.java
  src/main/java/uk/gov/hmcts/reform/preapi/config/WebConfiguration.java
  src/main/java/uk/gov/hmcts/reform/preapi/controllers/BookingController.java
  src/main/java/uk/gov/hmcts/reform/preapi/exception/GlobalControllerExceptionHandler.java
  src/main/java/uk/gov/hmcts/reform/preapi/exception/RequestedPageOutOfRangeException.java
  src/main/java/uk/gov/hmcts/reform/preapi/repositories/BookingRepository.java
  src/main/java/uk/gov/hmcts/reform/preapi/services/BookingService.java
  src/test/java/uk/gov/hmcts/reform/preapi/controller/BookingControllerTest.java
  src/test/java/uk/gov/hmcts/reform/preapi/services/BookingServiceTest.java
Labels: ns:pre, prd:pre, rel:pre-api-pr-132

#137 S28 2267: DELETE `/users/{id}`
  src/main/java/uk/gov/hmcts/reform/preapi/controllers/UserController.java
  src/main/java/uk/gov/hmcts/reform/preapi/repositories/AppAccessRepository.java
  src/main/java/uk/gov/hmcts/reform/preapi/repositories/PortalAccessRepository.java
  src/main/java/uk/gov/hmcts/reform/preapi/repositories/UserRepository.java
  src/main/java/uk/gov/hmcts/reform/preapi/services/UserService.java
  src/test/java/uk/gov/hmcts/reform/preapi/controller/UserControllerTest.java
  src/test/java/uk/gov/hmcts/reform/preapi/services/UserServiceTest.java
Labels: ns:pre, prd:pre, rel:pre-api-pr-137

#139 Fix: 500 Error on PUT `cases/{id}` Request Body id is null
  src/main/java/uk/gov/hmcts/reform/preapi/controllers/CaseController.java
Labels: ns:pre, prd:pre, rel:pre-api-pr-139

#144 S28 2266: PUT `/users/{id}`
  src/main/java/uk/gov/hmcts/reform/preapi/controllers/BookingController.java
  src/main/java/uk/gov/hmcts/reform/preapi/controllers/UserController.java
  src/main/java/uk/gov/hmcts/reform/preapi/dto/BookingDTO.java
  src/main/java/uk/gov/hmcts/reform/preapi/dto/CaseDTO.java
  src/main/java/uk/gov/hmcts/reform/preapi/dto/CourtDTO.java
  src/main/java/uk/gov/hmcts/reform/preapi/dto/CreateBookingDTO.java
  src/main/java/uk/gov/hmcts/reform/preapi/dto/CreateCaptureSessionDTO.java
  src/main/java/uk/gov/hmcts/reform/preapi/dto/CreateCaseDTO.java
  src/main/java/uk/gov/hmcts/reform/preapi/dto/CreateCourtDTO.java
  src/main/java/uk/gov/hmcts/reform/preapi/dto/CreateParticipantDTO.java
  src/main/java/uk/gov/hmcts/reform/preapi/dto/CreateRecordingDTO.java
  src/main/java/uk/gov/hmcts/reform/preapi/dto/CreateUserDTO.java
  src/main/java/uk/gov/hmcts/reform/preapi/dto/ParticipantDTO.java
  src/main/java/uk/gov/hmcts/reform/preapi/dto/PermissionDTO.java
  src/main/java/uk/gov/hmcts/reform/preapi/dto/RecordingDTO.java
  src/main/java/uk/gov/hmcts/reform/preapi/dto/RegionDTO.java
  src/main/java/uk/gov/hmcts/reform/preapi/dto/RoleDTO.java
  src/main/java/uk/gov/hmcts/reform/preapi/dto/RoomDTO.java
  src/main/java/uk/gov/hmcts/reform/preapi/dto/UserDTO.java
  src/main/java/uk/gov/hmcts/reform/preapi/dto/base/BaseRecordingDTO.java
  src/main/java/uk/gov/hmcts/reform/preapi/dto/base/BaseUserDTO.java
  src/main/java/uk/gov/hmcts/reform/preapi/entities/User.java
  src/main/java/uk/gov/hmcts/reform/preapi/services/UserService.java
  src/test/java/uk/gov/hmcts/reform/preapi/controller/UserControllerTest.java
  src/test/java/uk/gov/hmcts/reform/preapi/services/UserServiceTest.java
Labels: ns:pre, prd:pre, rel:pre-api-pr-144
