Repository hmcts/pre-api, pull requests merged in 2024-05, with the labels that each got.

#464 S28 2848: Report GET `/reports/recording-participants`
  infrastructure/main.tf
  pre-api-stg.yaml
  src/integrationTest/java/uk/gov/hmcts/reform/preapi/services/ReportServiceIT.java
  src/main/java/uk/gov/hmcts/reform/preapi/controllers/ReportController.java
  src/main/java/uk/gov/hmcts/reform/preapi/dto/reports/RecordingParticipantsReportDTO.java
  src/main/java/uk/gov/hmcts/reform/preapi/services/ReportService.java
  src/test/java/uk/gov/hmcts/reform/preapi/controller/ReportControllerTest.java
  src/test/java/uk/gov/hmcts/reform/preapi/services/ReportServiceTest.java
Labels: ns:pre, prd:pre, enable_keep_helm, stg/destroy, rel:pre-api-pr-464, prod/destroy

#494 Fix App Insights config name
  lib/applicationinsights.json
Labels: ns:pre, prd:pre, enable_keep_helm, stg/add-or-update, prod/add-or-update, rel:pre-api-pr-494

#495 full AI connection string not just key
  charts/pre-api/Chart.yaml
  charts/pre-api/values.yaml
  lib/applicationinsights.json
Labels: ns:pre, prd:pre, rel:pre-api-pr-495

#498 Fix: `POST /invites/redeem/{email}` Case Insensitive
  src/functionalTest/java/uk/gov/hmcts/reform/preapi/controllers/InviteControllerFT.java
  src/functionalTest/java/uk/gov/hmcts/reform/preapi/controllers/UserControllerFT.java
  src/main/java/uk/gov/hmcts/reform/preapi/controllers/InviteController.java
  src/main/java/uk/gov/hmcts/reform/preapi/repositories/PortalAccessRepository.java
  src/main/java/uk/gov/hmcts/reform/preapi/services/InviteService.java
Labels: ns:pre, prd:pre, enable_keep_helm, rel:pre-api-pr-498

#501 adding edge cases
  bin/migration/migration_reports/sql_queries.py
  bin/migration/tables/capturesessions.py
  bin/migration/tables/participants.py
  bin/migration/tables/recordings.py
Labels: ns:pre, prd:pre, rel:pre-api-pr-501

#502 fixing stupid mistake
  bin/migration/tables/recordings.py
Labels: ns:pre, prd:pre, rel:pre-api-pr-502

#459 Functional Tests: Create, Update and Search Cases
  src/functionalTest/java/uk/gov/hmcts/reform/preapi/controllers/CaseControllerFT.java
Labels: ns:pre, prd:pre, rel:pre-api-pr-459

#496 S28 2889: Participant Validation on `PUT /cases/{id}` and `PUT /bookings/{id}`
  src/functionalTest/java/uk/gov/hmcts/reform/preapi/controllers/BookingControllerFT.java
  src/functionalTest/java/uk/gov/hmcts/reform/preapi/controllers/CaseControllerFT.java
  src/functionalTest/java/uk/gov/hmcts/reform/preapi/util/FunctionalTestBase.java
  src/main/java/uk/gov/hmcts/reform/preapi/dto/CreateCaseDTO.java
  src/main/java/uk/gov/hmcts/reform/preapi/repositories/ParticipantRepository.java
  src/main/java/uk/gov/hmcts/reform/preapi/services/BookingService.java
  src/test/java/uk/gov/hmcts/reform/preapi/controller/CaseControllerTest.java
  src/test/java/uk/gov/hmcts/reform/preapi/services/BookingServiceTest.java
Labels: ns:pre, prd:pre, enable_keep_helm, rel:pre-api-pr-496

#506 S28 2901: Fix 504 Errors on Reports
  src/integrationTest/java/uk/gov/hmcts/reform/preapi/services/ReportServiceIT.java
  src/main/java/uk/gov/hmcts/reform/preapi/dto/reports/ConcurrentCaptureSessionReportDTO.java
  src/main/java/uk/gov/hmcts/reform/preapi/entities/CaptureSession.java
  src/main/java/uk/gov/hmcts/reform/preapi/repositories/CaptureSessionRepository.java
  src/main/java/uk/gov/hmcts/reform/preapi/repositories/RecordingRepository.java
  src/main/java/uk/gov/hmcts/reform/preapi/services/ReportService.java
  src/test/java/uk/gov/hmcts/reform/preapi/services/ReportServiceTest.java
Labels: ns:pre, prd:pre, enable_keep_helm, rel:pre-api-pr-506

#492 S28 2886: Set Up Azure SDK
  .env
  .env.local
  .gitignore
  build.gradle
  charts/pre-api/Chart.yaml
  charts/pre-api/values.dev.template.yaml
  charts/pre-api/values.stg.template.yaml
  charts/pre-api/values.yaml
  config/owasp/suppressions.xml
  infrastructure/main.tf
  pre-api-stg.yaml
  src/main/java/uk/gov/hmcts/reform/preapi/controllers/MediaServiceController.java
  src/main/java/uk/gov/hmcts/reform/preapi/dto/media/AssetDTO.java
  src/main/java/uk/gov/hmcts/reform/preapi/exception/GlobalControllerExceptionHandler.java
  src/main/java/uk/gov/hmcts/reform/preapi/media/AzureMediaService.java
  src/main/java/uk/gov/hmcts/reform/preapi/media/IMediaService.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/preapi/controller/MediaServiceControllerTest.java
  src/test/java/uk/gov/hmcts/reform/preapi/media/AzureMediaServiceTest.java
Labels: ns:pre, prd:pre, enable_keep_helm, stg/destroy, prod/destroy, rel:pre-api-pr-492

#510 S28 2911: DTO List Sort Orders
  infrastructure/main.tf
  pre-api-stg.yaml
  src/functionalTest/java/uk/gov/hmcts/reform/preapi/controllers/BookingControllerFT.java
  src/functionalTest/java/uk/gov/hmcts/reform/preapi/controllers/InviteControllerFT.java
  src/functionalTest/java/uk/gov/hmcts/reform/preapi/controllers/UserControllerFT.java
  src/functionalTest/java/uk/gov/hmcts/reform/preapi/util/FunctionalTestBase.java
  src/main/java/uk/gov/hmcts/reform/preapi/controllers/TestingSupportController.java
  src/main/java/uk/gov/hmcts/reform/preapi/dto/BookingDTO.java
  src/main/java/uk/gov/hmcts/reform/preapi/dto/CaseDTO.java
  src/main/java/uk/gov/hmcts/reform/preapi/dto/CourtDTO.java
  src/main/java/uk/gov/hmcts/reform/preapi/dto/RecordingDTO.java
  src/main/java/uk/gov/hmcts/reform/preapi/dto/UserDTO.java
  src/main/java/uk/gov/hmcts/reform/preapi/repositories/ShareBookingRepository.java
  src/main/java/uk/gov/hmcts/reform/preapi/services/ShareBookingService.java
  src/test/java/uk/gov/hmcts/reform/preapi/controller/BookingControllerTest.java
  src/test/java/uk/gov/hmcts/reform/preapi/dto/BookingDTOTest.java
  src/test/java/uk/gov/hmcts/reform/preapi/dto/CaseDTOTest.java
  src/test/java/uk/gov/hmcts/reform/preapi/dto/CourtDTOTest.java
  src/test/java/uk/gov/hmcts/reform/preapi/dto/RecordingDTOTest.java
  src/test/java/uk/gov/hmcts/reform/preapi/dto/UserDTOTest.java
  src/test/java/uk/gov/hmcts/reform/preapi/services/ShareBookingServiceTest.java
Labels: ns:pre, prd:pre, enable_keep_helm, stg/destroy, prod/destroy, rel:pre-api-pr-510

#514 S28 2965: Undelete Recording Cascade
  src/functionalTest/java/uk/gov/hmcts/reform/preapi/controllers/BookingControllerFT.java
  src/functionalTest/java/uk/gov/hmcts/reform/preapi/controllers/CaptureSessionControllerFT.java
  src/functionalTest/java/uk/gov/hmcts/reform/preapi/controllers/RecordingControllerFT.java
  src/main/java/uk/gov/hmcts/reform/preapi/controllers/TestingSupportController.java
  src/main/java/uk/gov/hmcts/reform/preapi/services/BookingService.java
  src/main/java/uk/gov/hmcts/reform/preapi/services/CaptureSessionService.java
  src/test/java/uk/gov/hmcts/reform/preapi/services/BookingServiceTest.java
  src/test/java/uk/gov/hmcts/reform/preapi/services/CaptureSessionServiceTest.java
Labels: ns:pre, prd:pre, enable_keep_helm, rel:pre-api-pr-514

#524 Fix: AMS Client Configuration
  src/main/java/uk/gov/hmcts/reform/preapi/config/AMSConfiguration.java
  src/main/java/uk/gov/hmcts/reform/preapi/media/AzureMediaService.java
  src/test/java/uk/gov/hmcts/reform/preapi/media/AzureMediaServiceTest.java
Labels: ns:pre, prd:pre, enable_keep_helm, rel:pre-api-pr-524

#470 S28 2762: Secondary Court DB Update + Validators
  bin/migration/tables/appaccess.py
  infrastructure/main.tf
  pre-api-stg.yaml
  src/integrationTest/java/uk/gov/hmcts/reform/preapi/entities/AppAccessTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/preapi/services/UserAuthenticationServiceIT.java
  src/integrationTest/java/uk/gov/hmcts/reform/preapi/services/UserServiceIT.java
  src/main/java/uk/gov/hmcts/reform/preapi/controllers/TestingSupportController.java
  src/main/java/uk/gov/hmcts/reform/preapi/controllers/params/TestingSupportRoles.java
  src/main/java/uk/gov/hmcts/reform/preapi/dto/CreateAppAccessDTO.java
  src/main/java/uk/gov/hmcts/reform/preapi/dto/CreateUserDTO.java
  src/main/java/uk/gov/hmcts/reform/preapi/dto/base/BaseAppAccessDTO.java
  src/main/java/uk/gov/hmcts/reform/preapi/dto/validators/NoDuplicateCourtsConstraint.java
  src/main/java/uk/gov/hmcts/reform/preapi/dto/validators/NoDuplicateCourtsValidator.java
  src/main/java/uk/gov/hmcts/reform/preapi/dto/validators/PortalAppAccessConstraint.java
  src/main/java/uk/gov/hmcts/reform/preapi/dto/validators/PortalAppAccessValidator.java
  src/main/java/uk/gov/hmcts/reform/preapi/dto/validators/PrimaryCourtConstraint.java
  src/main/java/uk/gov/hmcts/reform/preapi/dto/validators/PrimaryCourtValidator.java
  src/main/java/uk/gov/hmcts/reform/preapi/entities/AppAccess.java
  src/main/java/uk/gov/hmcts/reform/preapi/entities/ShareBooking.java
  src/main/java/uk/gov/hmcts/reform/preapi/services/AppAccessService.java
  src/main/resources/db/migration/V019__AddDefaultCourtAppAccess.sql
  src/test/java/uk/gov/hmcts/reform/preapi/controller/UserControllerTest.java
  src/test/java/uk/gov/hmcts/reform/preapi/dto/UserDTOTest.java
  src/test/java/uk/gov/hmcts/reform/preapi/dto/validators/NoDuplicateCourtsValidatorTest.java
  src/test/java/uk/gov/hmcts/reform/preapi/dto/validators/PortalAppAccessValidatorTest.java
  src/test/java/uk/gov/hmcts/reform/preapi/dto/validators/PrimaryCourtValidatorTest.java
  src/test/java/uk/gov/hmcts/reform/preapi/services/AppAccessServiceTest.java
  src/test/java/uk/gov/hmcts/reform/preapi/util/HelperFactory.java
Labels: ns:pre, prd:pre, enable_keep_helm, stg/destroy, rel:pre-api-pr-470, prod/destroy
