Repository hmcts/pre-api, pull requests merged in 2024-09, with the labels that each got.

#656 Fix: `PUT /case/{id}` Constraints Surrounding Case State and ClosedAt
  src/main/java/uk/gov/hmcts/reform/preapi/dto/CaseDTO.java
  src/main/java/uk/gov/hmcts/reform/preapi/dto/CreateCaseDTO.java
  src/main/java/uk/gov/hmcts/reform/preapi/dto/validators/CaseStateConstraint.java
  src/main/java/uk/gov/hmcts/reform/preapi/dto/validators/CaseStateValidator.java
  src/main/java/uk/gov/hmcts/reform/preapi/entities/Case.java
  src/main/java/uk/gov/hmcts/reform/preapi/services/CaseService.java
  src/test/java/uk/gov/hmcts/reform/preapi/controller/CaseControllerTest.java
  src/test/java/uk/gov/hmcts/reform/preapi/dto/validators/CaseStateValidatorTest.java
Labels: ns:pre, prd:pre, enable_keep_helm, stg/destroy, prod/destroy, rel:pre-api-pr-656

#685 S28 3235: Disassociation Email Notifications Via Flow
  build.gradle
  src/functionalTest/java/uk/gov/hmcts/reform/preapi/controllers/BookingControllerFT.java
  src/functionalTest/java/uk/gov/hmcts/reform/preapi/controllers/CaptureSessionControllerFT.java
  src/functionalTest/java/uk/gov/hmcts/reform/preapi/controllers/RecordingControllerFT.java
  src/functionalTest/java/uk/gov/hmcts/reform/preapi/util/FunctionalTestBase.java
  src/functionalTest/resources/application.properties
  src/main/java/uk/gov/hmcts/reform/preapi/config/FlowHttpClientConfiguration.java
  src/main/java/uk/gov/hmcts/reform/preapi/dto/flow/CaseStateChangeNotificationDTO.java
  src/main/java/uk/gov/hmcts/reform/preapi/dto/flow/StoppedLiveEventsNotificationDTO.java
  src/main/java/uk/gov/hmcts/reform/preapi/email/CaseStateChangeNotifierFlowClient.java
  src/main/java/uk/gov/hmcts/reform/preapi/email/StopLiveEventNotifierFlowClient.java
  src/main/java/uk/gov/hmcts/reform/preapi/services/CaseService.java
  src/main/java/uk/gov/hmcts/reform/preapi/services/ShareBookingService.java
  src/main/java/uk/gov/hmcts/reform/preapi/tasks/CleanupLiveEvents.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/preapi/services/CaseServiceTest.java
  src/test/java/uk/gov/hmcts/reform/preapi/tasks/CleanupLiveEventsTest.java
Labels: ns:pre, prd:pre, stg/add-or-update, prod/add-or-update, rel:pre-api-pr-685

#695 Add config for flow to KV
  charts/pre-api/Chart.yaml
  charts/pre-api/values.yaml
  src/main/resources/application.yaml
Labels: ns:pre, prd:pre, rel:pre-api-pr-695

#663 Don't delete streaming locator unless needed
  src/main/java/uk/gov/hmcts/reform/preapi/media/MediaKind.java
  src/test/java/uk/gov/hmcts/reform/preapi/media/MediaKindTest.java
Labels: ns:pre, prd:pre, enable_keep_helm, stg/add-or-update, prod/add-or-update, rel:pre-api-pr-663

#686 S28 3248: Handle Streaming Locator 409 Error Response
  charts/pre-api/values.dev.template.yaml
  src/main/java/uk/gov/hmcts/reform/preapi/exception/GlobalControllerExceptionHandler.java
  src/main/java/uk/gov/hmcts/reform/preapi/media/FeignErrorDecoder.java
  src/test/java/uk/gov/hmcts/reform/preapi/media/FeignErrorDecoderTest.java
Labels: ns:pre, prd:pre, enable_keep_helm, rel:pre-api-pr-686

#694 S28 3255: Migration for Terms And Conditions
  src/integrationTest/java/uk/gov/hmcts/reform/preapi/entities/TermsAndConditionsTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/preapi/entities/UserTermsAcceptedTest.java
  src/main/java/uk/gov/hmcts/reform/preapi/entities/TermsAndConditions.java
  src/main/java/uk/gov/hmcts/reform/preapi/entities/User.java
  src/main/java/uk/gov/hmcts/reform/preapi/entities/UserTermsAccepted.java
  src/main/java/uk/gov/hmcts/reform/preapi/enums/TermsAndConditionsType.java
  src/main/java/uk/gov/hmcts/reform/preapi/repositories/TermsAndConditionsRepository.java
  src/main/java/uk/gov/hmcts/reform/preapi/repositories/UserTermsAcceptedRepository.java
  src/main/resources/db/migration/V021__TermsAndConditions.sql
  src/test/java/uk/gov/hmcts/reform/preapi/util/HelperFactory.java
Labels: ns:pre, prd:pre, rel:pre-api-pr-694

#702 Update Readme diagram with MK
  README.md
Labels: ns:pre, prd:pre, rel:pre-api-pr-702

#703 Alert on staging and improve error reporting levels in global ex handler
  infrastructure/data.tf
  infrastructure/exception-alert.tf
  src/main/java/uk/gov/hmcts/reform/preapi/exception/GlobalControllerExceptionHandler.java
Labels: ns:pre, prd:pre, stg/add-or-update, prod/add-or-update, rel:pre-api-pr-703

#653 S28 3188: `PUT /cases/{id}` Auth Check For Updating Case State
  src/functionalTest/java/uk/gov/hmcts/reform/preapi/controllers/AuditControllerFT.java
  src/functionalTest/java/uk/gov/hmcts/reform/preapi/controllers/BookingControllerFT.java
  src/functionalTest/java/uk/gov/hmcts/reform/preapi/controllers/CaptureSessionControllerFT.java
  src/functionalTest/java/uk/gov/hmcts/reform/preapi/controllers/CaseControllerFT.java
  src/functionalTest/java/uk/gov/hmcts/reform/preapi/controllers/InviteControllerFT.java
  src/functionalTest/java/uk/gov/hmcts/reform/preapi/controllers/RecordingControllerFT.java
  src/functionalTest/java/uk/gov/hmcts/reform/preapi/controllers/ReportControllerFT.java
  src/functionalTest/java/uk/gov/hmcts/reform/preapi/controllers/UserControllerFT.java
  src/functionalTest/java/uk/gov/hmcts/reform/preapi/security/XUserIdFilterFT.java
  src/functionalTest/java/uk/gov/hmcts/reform/preapi/util/FunctionalTestBase.java
  src/main/java/uk/gov/hmcts/reform/preapi/controllers/TestingSupportController.java
  src/main/java/uk/gov/hmcts/reform/preapi/repositories/RoleRepository.java
  src/main/java/uk/gov/hmcts/reform/preapi/security/AuthorisationService.java
  src/test/java/uk/gov/hmcts/reform/preapi/security/AuthorisationServiceTest.java
  src/test/java/uk/gov/hmcts/reform/preapi/util/HelperFactory.java
Labels: ns:pre, prd:pre, enable_keep_helm, stg/destroy, prod/destroy, rel:pre-api-pr-653
