Repository hmcts/pre-api, pull requests merged in 2024-10, with the labels that each got.

#699 S28 3269: `PUT /user/{id}` Restricted to Admin Users
  src/functionalTest/java/uk/gov/hmcts/reform/preapi/controllers/AuditControllerFT.java
  src/functionalTest/java/uk/gov/hmcts/reform/preapi/controllers/BookingControllerFT.java
  src/functionalTest/java/uk/gov/hmcts/reform/preapi/controllers/CaptureSessionControllerFT.java
  src/functionalTest/java/uk/gov/hmcts/reform/preapi/controllers/CaseControllerFT.java
  src/functionalTest/java/uk/gov/hmcts/reform/preapi/controllers/InviteControllerFT.java
  src/functionalTest/java/uk/gov/hmcts/reform/preapi/controllers/RecordingControllerFT.java
  src/functionalTest/java/uk/gov/hmcts/reform/preapi/controllers/ReportControllerFT.java
  src/functionalTest/java/uk/gov/hmcts/reform/preapi/controllers/UserControllerFT.java
  src/functionalTest/java/uk/gov/hmcts/reform/preapi/security/XUserIdFilterFT.java
  src/functionalTest/java/uk/gov/hmcts/reform/preapi/util/FunctionalTestBase.java
  src/main/java/uk/gov/hmcts/reform/preapi/controllers/TestingSupportController.java
  src/main/java/uk/gov/hmcts/reform/preapi/controllers/UserController.java
  src/main/java/uk/gov/hmcts/reform/preapi/exception/GlobalControllerExceptionHandler.java
  src/main/java/uk/gov/hmcts/reform/preapi/repositories/RoleRepository.java
Labels: ns:pre, prd:pre, enable_keep_helm, rel:pre-api-pr-699

#733 Change the filename used per media service
  src/main/java/uk/gov/hmcts/reform/preapi/services/CaptureSessionService.java
  src/test/java/uk/gov/hmcts/reform/preapi/services/CaptureSessionServiceTest.java
Labels: ns:pre, prd:pre, rel:pre-api-pr-733

#710 S28 3259: Cron Stops Live Events Without Associated Capture Session (Non Prod)
  src/main/java/uk/gov/hmcts/reform/preapi/tasks/CleanupLiveEvents.java
  src/test/java/uk/gov/hmcts/reform/preapi/tasks/CleanupLiveEventsTest.java
Labels: ns:pre, prd:pre, enable_keep_helm, rel:pre-api-pr-710

#735 Fix: Stop Live Event Cron Job Null Errors
  src/main/java/uk/gov/hmcts/reform/preapi/tasks/CleanupLiveEvents.java
  src/test/java/uk/gov/hmcts/reform/preapi/tasks/CleanupLiveEventsTest.java
Labels: ns:pre, prd:pre, rel:pre-api-pr-735

#736 Save filename of edited recording in the DTO
  src/main/java/uk/gov/hmcts/reform/preapi/controllers/MediaServiceController.java
Labels: ns:pre, prd:pre, enable_keep_helm, rel:pre-api-pr-736

#743 Get destination filename from SA after job run
  src/main/java/uk/gov/hmcts/reform/preapi/controllers/MediaServiceController.java
  src/test/java/uk/gov/hmcts/reform/preapi/controller/MediaServiceControllerTest.java
Labels: ns:pre, prd:pre, rel:pre-api-pr-743

#744 S28 3259: Fix Stop Live Event Cron Errors
  src/main/java/uk/gov/hmcts/reform/preapi/media/MediaKind.java
  src/main/java/uk/gov/hmcts/reform/preapi/services/CaptureSessionService.java
  src/test/java/uk/gov/hmcts/reform/preapi/media/MediaKindTest.java
  src/test/java/uk/gov/hmcts/reform/preapi/services/CaptureSessionServiceTest.java
Labels: ns:pre, prd:pre, rel:pre-api-pr-744

#717 S28 3223: Custom Health Indicator (Add checks for MK storage account connections)
  .env.local
  charts/pre-api/Chart.yaml
  charts/pre-api/values.yaml
  src/main/java/uk/gov/hmcts/reform/preapi/actuator/PreApiHealthIndicator.java
  src/main/java/uk/gov/hmcts/reform/preapi/media/MediaKindAccountsClient.java
  src/main/java/uk/gov/hmcts/reform/preapi/media/dto/MkStorageAccount.java
  src/main/java/uk/gov/hmcts/reform/preapi/media/dto/MkStorageAccounts.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/preapi/actuator/PreApiHealthIndicatorTest.java
Labels: ns:pre, prd:pre, enable_keep_helm, rel:pre-api-pr-717

#662 S28 3186: Disassociation
  build.gradle
  charts/pre-api/Chart.yaml
  charts/pre-api/values.yaml
  infrastructure/main.tf
  pre-api-stg.yaml
  src/functionalTest/java/uk/gov/hmcts/reform/preapi/controllers/BookingControllerFT.java
  src/functionalTest/java/uk/gov/hmcts/reform/preapi/controllers/CaptureSessionControllerFT.java
  src/functionalTest/java/uk/gov/hmcts/reform/preapi/controllers/CaseControllerFT.java
  src/functionalTest/java/uk/gov/hmcts/reform/preapi/controllers/RecordingControllerFT.java
  src/functionalTest/java/uk/gov/hmcts/reform/preapi/controllers/ReportControllerFT.java
  src/functionalTest/java/uk/gov/hmcts/reform/preapi/security/XUserIdFilterFT.java
  src/functionalTest/java/uk/gov/hmcts/reform/preapi/util/FunctionalTestBase.java
  src/functionalTest/resources/application.properties
  src/main/java/uk/gov/hmcts/reform/preapi/config/FlowHttpClientConfiguration.java
  src/main/java/uk/gov/hmcts/reform/preapi/controllers/CaseController.java
  src/main/java/uk/gov/hmcts/reform/preapi/controllers/MediaServiceController.java
  src/main/java/uk/gov/hmcts/reform/preapi/controllers/TestingSupportController.java
  src/main/java/uk/gov/hmcts/reform/preapi/dto/CaptureSessionDTO.java
  src/main/java/uk/gov/hmcts/reform/preapi/dto/CaseDTO.java
  src/main/java/uk/gov/hmcts/reform/preapi/dto/CreateCaseDTO.java
  src/main/java/uk/gov/hmcts/reform/preapi/dto/flow/CaseStateChangeNotificationDTO.java
  src/main/java/uk/gov/hmcts/reform/preapi/dto/flow/StoppedLiveEventsNotificationDTO.java
  src/main/java/uk/gov/hmcts/reform/preapi/dto/validators/CaseStateConstraint.java
  src/main/java/uk/gov/hmcts/reform/preapi/dto/validators/CaseStateValidator.java
  src/main/java/uk/gov/hmcts/reform/preapi/email/CaseStateChangeNotifierFlowClient.java
  src/main/java/uk/gov/hmcts/reform/preapi/email/StopLiveEventNotifierFlowClient.java
  src/main/java/uk/gov/hmcts/reform/preapi/entities/Case.java
  src/main/java/uk/gov/hmcts/reform/preapi/enums/CaseState.java
  src/main/java/uk/gov/hmcts/reform/preapi/exception/ResourceInWrongStateException.java
  src/main/java/uk/gov/hmcts/reform/preapi/repositories/CaseRepository.java
  src/main/java/uk/gov/hmcts/reform/preapi/security/AuthorisationService.java
  src/main/java/uk/gov/hmcts/reform/preapi/services/BookingService.java
  src/main/java/uk/gov/hmcts/reform/preapi/services/CaptureSessionService.java
  src/main/java/uk/gov/hmcts/reform/preapi/services/CaseService.java
  src/main/java/uk/gov/hmcts/reform/preapi/services/RecordingService.java
  src/main/java/uk/gov/hmcts/reform/preapi/services/ShareBookingService.java
  src/main/java/uk/gov/hmcts/reform/preapi/tasks/CleanupLiveEvents.java
  src/main/java/uk/gov/hmcts/reform/preapi/tasks/ClosePendingCases.java
  src/main/resources/application.yaml
  src/main/resources/db/migration/V022__AddStateToCaseTable.sql
  src/test/java/uk/gov/hmcts/reform/preapi/controller/CaseControllerTest.java
  src/test/java/uk/gov/hmcts/reform/preapi/controller/MediaServiceControllerTest.java
  src/test/java/uk/gov/hmcts/reform/preapi/dto/validators/CaseStateValidatorTest.java
  src/test/java/uk/gov/hmcts/reform/preapi/security/AuthorisationServiceTest.java
  src/test/java/uk/gov/hmcts/reform/preapi/services/BookingServiceTest.java
  src/test/java/uk/gov/hmcts/reform/preapi/services/CaptureSessionServiceTest.java
  src/test/java/uk/gov/hmcts/reform/preapi/services/CaseServiceTest.java
  src/test/java/uk/gov/hmcts/reform/preapi/services/RecordingServiceTest.java
  src/test/java/uk/gov/hmcts/reform/preapi/services/ShareBookingServiceTest.java
  src/test/java/uk/gov/hmcts/reform/preapi/tasks/CleanupLiveEventsTest.java
  src/test/java/uk/gov/hmcts/reform/preapi/tasks/ClosePendingCasesTest.java
  src/test/java/uk/gov/hmcts/reform/preapi/util/HelperFactory.java
Labels: ns:pre, prd:pre, enable_keep_helm, stg/destroy, prod/destroy, rel:pre-api-pr-662

#696 S28 3256: Terms and Conditions Content Endpoints
  infrastructure/main.tf
  pre-api-stg.yaml
  src/integrationTest/java/uk/gov/hmcts/reform/preapi/services/TermsAndConditionsServiceIT.java
  src/main/java/uk/gov/hmcts/reform/preapi/config/SecurityConfig.java
  src/main/java/uk/gov/hmcts/reform/preapi/controllers/TermsAndConditionsController.java
  src/main/java/uk/gov/hmcts/reform/preapi/controllers/TestingSupportController.java
  src/main/java/uk/gov/hmcts/reform/preapi/dto/TermsAndConditionsDTO.java
  src/main/java/uk/gov/hmcts/reform/preapi/repositories/TermsAndConditionsRepository.java
  src/main/java/uk/gov/hmcts/reform/preapi/services/TermsAndConditionsService.java
  src/test/java/uk/gov/hmcts/reform/preapi/controller/TermsAndConditionsControllerTest.java
  src/test/java/uk/gov/hmcts/reform/preapi/services/TermsAndConditionsServiceTest.java
Labels: ns:pre, prd:pre, enable_keep_helm, stg/destroy, prod/destroy, rel:pre-api-pr-696

#701 S28 3263: Accept Terms and Conditions
  infrastructure/main.tf
  pre-api-stg.yaml
  src/integrationTest/java/uk/gov/hmcts/reform/preapi/services/UserTermsAcceptedServiceIT.java
  src/main/java/uk/gov/hmcts/reform/preapi/controllers/TermsAndConditionsController.java
  src/main/java/uk/gov/hmcts/reform/preapi/controllers/TestingSupportController.java
  src/main/java/uk/gov/hmcts/reform/preapi/dto/UserDTO.java
  src/main/java/uk/gov/hmcts/reform/preapi/entities/UserTermsAccepted.java
  src/main/java/uk/gov/hmcts/reform/preapi/services/UserService.java
  src/main/java/uk/gov/hmcts/reform/preapi/services/UserTermsAcceptedService.java
  src/test/java/uk/gov/hmcts/reform/preapi/controller/TermsAndConditionsControllerTest.java
  src/test/java/uk/gov/hmcts/reform/preapi/dto/UserDTOTest.java
  src/test/java/uk/gov/hmcts/reform/preapi/services/UserServiceTest.java
  src/test/java/uk/gov/hmcts/reform/preapi/services/UserTermsAcceptedServiceTest.java
Labels: ns:pre, prd:pre, enable_keep_helm, stg/destroy, prod/destroy, rel:pre-api-pr-701

#754 S28 2256/ts and cs data
  infrastructure/main.tf
  pre-api-stg.yaml
  src/main/java/uk/gov/hmcts/reform/preapi/controllers/TermsAndConditionsController.java
  src/main/resources/db/migration/V023_AddTermsAndConditionsCopy.sql
  src/test/java/uk/gov/hmcts/reform/preapi/controller/TermsAndConditionsControllerTest.java
Labels: ns:pre, prd:pre, stg/destroy, prod/destroy, rel:pre-api-pr-754

#756 Remove auth on Ts&Cs endpoints
  src/main/java/uk/gov/hmcts/reform/preapi/config/SecurityConfig.java
Labels: ns:pre, prd:pre, rel:pre-api-pr-756

#753 Remove extra call to load user from db
  src/main/java/uk/gov/hmcts/reform/preapi/services/CaptureSessionService.java
  src/test/java/uk/gov/hmcts/reform/preapi/services/CaptureSessionServiceTest.java
Labels: ns:pre, prd:pre, rel:pre-api-pr-753

#755 Fix: Rename Migration File V023
  src/integrationTest/java/uk/gov/hmcts/reform/preapi/services/TermsAndConditionsServiceIT.java
  src/main/java/uk/gov/hmcts/reform/preapi/dto/UserDTO.java
  src/main/resources/db/migration/V023__AddTermsAndConditionsCopy.sql
Labels: ns:pre, prd:pre, rel:pre-api-pr-755

#742 S28 3352: Recording Duration From `.mpd` File
  src/main/java/uk/gov/hmcts/reform/preapi/entities/Recording.java
  src/main/java/uk/gov/hmcts/reform/preapi/entities/listeners/RecordingListener.java
  src/main/java/uk/gov/hmcts/reform/preapi/media/storage/AzureFinalStorageService.java
  src/test/java/uk/gov/hmcts/reform/preapi/entities/listeners/RecordingListenerTest.java
  src/test/java/uk/gov/hmcts/reform/preapi/media/storage/AzureFinalStorageServiceTest.java
Labels: ns:pre, prd:pre, enable_keep_helm, rel:pre-api-pr-742

#757 Include Ts&Cs response in get user by email endpoint
  infrastructure/main.tf
  pre-api-stg.yaml
  src/main/java/uk/gov/hmcts/reform/preapi/dto/AccessDTO.java
  src/main/java/uk/gov/hmcts/reform/preapi/services/UserService.java
  src/test/java/uk/gov/hmcts/reform/preapi/dto/AccessDTOTest.java
Labels: ns:pre, prd:pre, enable_keep_helm, stg/destroy, prod/destroy, rel:pre-api-pr-757

#598 S28 3081/fix audit issues
  src/integrationTest/java/uk/gov/hmcts/reform/preapi/services/AuditServiceIT.java
  src/main/java/uk/gov/hmcts/reform/preapi/security/filter/XUserIdFilter.java
  src/main/java/uk/gov/hmcts/reform/preapi/services/CaseService.java
  src/test/java/uk/gov/hmcts/reform/preapi/security/XUserIdFilterTest.java
  src/test/java/uk/gov/hmcts/reform/preapi/services/CaseServiceTest.java
Labels: ns:pre, prd:pre, enable_keep_helm, rel:pre-api-pr-598

#708 S28 3225: Search Bookings By Capture Session Status
  infrastructure/main.tf
  pre-api-stg.yaml
  src/functionalTest/java/uk/gov/hmcts/reform/preapi/controllers/BookingControllerFT.java
  src/functionalTest/java/uk/gov/hmcts/reform/preapi/util/FunctionalTestBase.java
  src/integrationTest/java/uk/gov/hmcts/reform/preapi/services/BookingServiceIT.java
  src/main/java/uk/gov/hmcts/reform/preapi/controllers/BookingController.java
  src/main/java/uk/gov/hmcts/reform/preapi/controllers/params/SearchBookings.java
  src/main/java/uk/gov/hmcts/reform/preapi/repositories/BookingRepository.java
  src/main/java/uk/gov/hmcts/reform/preapi/services/BookingService.java
  src/test/java/uk/gov/hmcts/reform/preapi/controller/BookingControllerTest.java
  src/test/java/uk/gov/hmcts/reform/preapi/services/BookingServiceTest.java
Labels: ns:pre, prd:pre, enable_keep_helm, stg/destroy, prod/destroy, rel:pre-api-pr-708
