Repository hmcts/pre-api, pull requests merged in 2024-04, with the labels that each got.

#430 Feature: Add Case Id to `RecordingDTO`
  infrastructure/main.tf
  pre-api-stg.yaml
  src/main/java/uk/gov/hmcts/reform/preapi/dto/RecordingDTO.java
  src/test/java/uk/gov/hmcts/reform/preapi/dto/RecordingDTOTest.java
Labels: ns:pre, prd:pre, rel:pre-api-pr-430, stg/destroy

#424 Functional Test: Delete Booking/Capture Session
  src/functionalTest/java/uk/gov/hmcts/reform/preapi/controllers/BookingControllerFT.java
  src/functionalTest/java/uk/gov/hmcts/reform/preapi/controllers/CaptureSessionControllerFT.java
  src/main/java/uk/gov/hmcts/reform/preapi/controllers/TestingSupportController.java
Labels: ns:pre, prd:pre, rel:pre-api-pr-424

#428 S28 2777: Undeleting Recording also Undeletes Related Capture Session
  src/main/java/uk/gov/hmcts/reform/preapi/services/CaptureSessionService.java
  src/main/java/uk/gov/hmcts/reform/preapi/services/RecordingService.java
  src/test/java/uk/gov/hmcts/reform/preapi/services/RecordingServiceTest.java
Labels: ns:pre, prd:pre, rel:pre-api-pr-428

#429 S28 2788: `NotPastDateValidator` Timezone Fix
  src/main/java/uk/gov/hmcts/reform/preapi/dto/validators/NotPastDateValidator.java
  src/test/java/uk/gov/hmcts/reform/preapi/controller/BookingControllerTest.java
  src/test/java/uk/gov/hmcts/reform/preapi/dto/validators/NotPastDateValidatorTest.java
Labels: ns:pre, prd:pre, rel:pre-api-pr-429

#431 Fix: `GET /reports/playback` Error In Caused by Malformed `audit_details`
  src/integrationTest/java/uk/gov/hmcts/reform/preapi/services/ReportServiceIT.java
  src/main/java/uk/gov/hmcts/reform/preapi/services/ReportService.java
Labels: ns:pre, prd:pre, rel:pre-api-pr-431

#405 Tests/e2e
  src/functionalTest/java/uk/gov/hmcts/reform/preapi/controllers/BookingControllerFT.java
Labels: ns:pre, prd:pre, rel:pre-api-pr-405

#432 Fix: ft failing in master
  src/functionalTest/java/uk/gov/hmcts/reform/preapi/controllers/BookingControllerFT.java
Labels: ns:pre, prd:pre, rel:pre-api-pr-432

#433 Fix/ft
  src/functionalTest/java/uk/gov/hmcts/reform/preapi/controllers/BookingControllerFT.java
Labels: ns:pre, prd:pre, rel:pre-api-pr-433

#434 S28 2788: Fix: `NotPastDateValidator`
  src/main/java/uk/gov/hmcts/reform/preapi/dto/validators/NotPastDateValidator.java
Labels: ns:pre, prd:pre, rel:pre-api-pr-434

#435 Fix: FT
  src/functionalTest/java/uk/gov/hmcts/reform/preapi/controllers/BookingControllerFT.java
Labels: ns:pre, prd:pre, rel:pre-api-pr-435

#439 Functional Test: `PUT /cases/{id}` Case Reference Tests
  infrastructure/main.tf
  pre-api-stg.yaml
  src/functionalTest/java/uk/gov/hmcts/reform/preapi/controllers/CaseControllerFT.java
  src/main/java/uk/gov/hmcts/reform/preapi/dto/CreateCaseDTO.java
  src/test/java/uk/gov/hmcts/reform/preapi/controller/CaseControllerTest.java
Labels: ns:pre, prd:pre, stg/destroy, rel:pre-api-pr-439

#443 fix: convert email to lowercase
  src/main/java/uk/gov/hmcts/reform/preapi/controllers/InviteController.java
Labels: ns:pre, prd:pre, rel:pre-api-pr-443

#444 Functional Test: Create/Update Capture Sessions and Bookings
  src/functionalTest/java/uk/gov/hmcts/reform/preapi/controllers/BookingControllerFT.java
  src/functionalTest/java/uk/gov/hmcts/reform/preapi/controllers/CaptureSessionControllerFT.java
Labels: ns:pre, prd:pre, rel:pre-api-pr-444

#446 Functional Test: Create a Booking with `scheduledFor` in the Past
  src/functionalTest/java/uk/gov/hmcts/reform/preapi/controllers/BookingControllerFT.java
Labels: ns:pre, prd:pre, rel:pre-api-pr-446

#451 adding pandas library dependency
  bin/migration/requirements.txt
Labels: ns:pre, prd:pre, rel:pre-api-pr-451

#448 Functional Tests: Restore, Recordings, Courts, Invites + Refactor
  src/functionalTest/java/uk/gov/hmcts/reform/preapi/controllers/AuditControllerFT.java
  src/functionalTest/java/uk/gov/hmcts/reform/preapi/controllers/BookingControllerFT.java
  src/functionalTest/java/uk/gov/hmcts/reform/preapi/controllers/CaptureSessionControllerFT.java
  src/functionalTest/java/uk/gov/hmcts/reform/preapi/controllers/CaseControllerFT.java
  src/functionalTest/java/uk/gov/hmcts/reform/preapi/controllers/CourtControllerFT.java
  src/functionalTest/java/uk/gov/hmcts/reform/preapi/controllers/InviteControllerFT.java
  src/functionalTest/java/uk/gov/hmcts/reform/preapi/controllers/RecordingControllerFT.java
  src/functionalTest/java/uk/gov/hmcts/reform/preapi/controllers/UserControllerFT.java
  src/functionalTest/java/uk/gov/hmcts/reform/preapi/util/FunctionalTestBase.java
  src/main/java/uk/gov/hmcts/reform/preapi/controllers/TestingSupportController.java
Labels: ns:pre, prd:pre, rel:pre-api-pr-448

#445 Portal Users and Recordings duration
  bin/migration/azure_storage_utils/main.py
  bin/migration/tables/portalaccess.py
Labels: ns:pre, prd:pre, rel:pre-api-pr-445

#458 Fix: reintroduce fts
  src/functionalTest/java/uk/gov/hmcts/reform/preapi/controllers/BookingControllerFT.java
Labels: ns:pre, prd:pre, rel:pre-api-pr-458

#465 Fix: take out failing fts in master
  src/functionalTest/java/uk/gov/hmcts/reform/preapi/controllers/BookingControllerFT.java
Labels: ns:pre, prd:pre, rel:pre-api-pr-465

#463 S28-2850: Update pr template
  .github/PULL_REQUEST_TEMPLATE.md
Labels: ns:pre, prd:pre, rel:pre-api-pr-463

#466 adding rollback, adding query for NAN values, remove header check, re…
  bin/migration/azure_storage_utils/main.py
Labels: ns:pre, prd:pre, rel:pre-api-pr-466

#437 S28-2783 Migration ado pipeline
  bin/migration/main.py
  bin/migration/requirements.txt
  data-migration.yml
Labels: ns:pre, prd:pre, rel:pre-api-pr-437

#480 S28-2863 : Migration Pipeline - add dev env
  data-migration.yml
Labels: ns:pre, prd:pre, rel:pre-api-pr-480

#478 S28 2852: Fix Functional Test Data in DB
  src/functionalTest/resources/application.properties
Labels: ns:pre, prd:pre, rel:pre-api-pr-478

#489 Update data-migration.yml to point to api db
  data-migration.yml
Labels: ns:pre, prd:pre, rel:pre-api-pr-489
