Repository hmcts/pre-api, pull requests merged in 2024-07, with the labels that each got.

#557 S28 2882/play live event
  charts/pre-api/Chart.yaml
  charts/pre-api/values.yaml
  infrastructure/main.tf
  pre-api-stg.yaml
  src/main/java/uk/gov/hmcts/reform/preapi/controllers/MediaServiceController.java
  src/main/java/uk/gov/hmcts/reform/preapi/exception/AMSLiveEventNotFoundException.java
  src/main/java/uk/gov/hmcts/reform/preapi/exception/AMSLiveEventNotRunningException.java
  src/main/java/uk/gov/hmcts/reform/preapi/exception/GlobalControllerExceptionHandler.java
  src/main/java/uk/gov/hmcts/reform/preapi/exception/ResourceInWrongStateException.java
  src/main/java/uk/gov/hmcts/reform/preapi/media/AzureMediaService.java
  src/main/java/uk/gov/hmcts/reform/preapi/media/IMediaService.java
  src/main/java/uk/gov/hmcts/reform/preapi/media/MediaKind.java
  src/test/java/uk/gov/hmcts/reform/preapi/controller/MediaServiceControllerTest.java
  src/test/java/uk/gov/hmcts/reform/preapi/media/AzureMediaServiceTest.java
Labels: ns:pre, prd:pre, enable_keep_helm, stg/destroy, prod/destroy, rel:pre-api-pr-557

#587 Use hmcts ACR for postgres testcontainers
  README.md
  build.gradle
  config/owasp/suppressions.xml
  src/integrationTest/resources/application.properties
  src/main/java/uk/gov/hmcts/reform/preapi/config/ContainerImageNameSubstitutor.java
  src/main/resources/testcontainers.properties
Labels: ns:pre, prd:pre, rel:pre-api-pr-587

#581 S28 3102: `GET /users` Search Param `appActive`
  infrastructure/main.tf
  pre-api-stg.yaml
  src/functionalTest/java/uk/gov/hmcts/reform/preapi/controllers/CourtControllerFT.java
  src/functionalTest/java/uk/gov/hmcts/reform/preapi/controllers/UserControllerFT.java
  src/functionalTest/java/uk/gov/hmcts/reform/preapi/util/FunctionalTestBase.java
  src/integrationTest/java/uk/gov/hmcts/reform/preapi/services/UserServiceIT.java
  src/main/java/uk/gov/hmcts/reform/preapi/controllers/UserController.java
  src/main/java/uk/gov/hmcts/reform/preapi/controllers/params/SearchUsers.java
  src/main/java/uk/gov/hmcts/reform/preapi/repositories/UserRepository.java
  src/main/java/uk/gov/hmcts/reform/preapi/services/UserService.java
  src/test/java/uk/gov/hmcts/reform/preapi/controller/UserControllerTest.java
  src/test/java/uk/gov/hmcts/reform/preapi/services/UserServiceTest.java
Labels: ns:pre, prd:pre, enable_keep_helm, stg/destroy, prod/destroy, rel:pre-api-pr-581

#592 S28-2271: Add `created_at` field to BaseAppAccessDTO
  infrastructure/main.tf
  pre-api-stg.yaml
  src/main/java/uk/gov/hmcts/reform/preapi/dto/base/BaseAppAccessDTO.java
Labels: ns:pre, prd:pre, enable_keep_helm, stg/destroy, prod/destroy, rel:pre-api-pr-592

#591 S28 3114: Fix 500 Error on `PUT /users/{id}` when `app_access[].role_id` is null
  src/main/java/uk/gov/hmcts/reform/preapi/dto/validators/PortalAppAccessValidator.java
  src/test/java/uk/gov/hmcts/reform/preapi/dto/validators/PortalAppAccessValidatorTest.java
Labels: ns:pre, prd:pre, enable_keep_helm, rel:pre-api-pr-591

#565 Audit a DELETE activity when a delete controller is called on an entity
  config/owasp/suppressions.xml
  src/integrationTest/java/uk/gov/hmcts/reform/preapi/services/AuditServiceIT.java
  src/main/java/uk/gov/hmcts/reform/preapi/entities/Booking.java
  src/main/java/uk/gov/hmcts/reform/preapi/entities/CaptureSession.java
  src/main/java/uk/gov/hmcts/reform/preapi/entities/Case.java
  src/main/java/uk/gov/hmcts/reform/preapi/entities/Recording.java
  src/main/java/uk/gov/hmcts/reform/preapi/entities/ShareBooking.java
  src/main/java/uk/gov/hmcts/reform/preapi/entities/User.java
  src/main/java/uk/gov/hmcts/reform/preapi/entities/base/ISoftDeletable.java
  src/main/java/uk/gov/hmcts/reform/preapi/entities/listeners/AuditListener.java
  src/main/java/uk/gov/hmcts/reform/preapi/repositories/AppAccessRepository.java
  src/main/java/uk/gov/hmcts/reform/preapi/repositories/BookingRepository.java
  src/main/java/uk/gov/hmcts/reform/preapi/repositories/CaptureSessionRepository.java
  src/main/java/uk/gov/hmcts/reform/preapi/repositories/CaseRepository.java
  src/main/java/uk/gov/hmcts/reform/preapi/repositories/ParticipantRepository.java
  src/main/java/uk/gov/hmcts/reform/preapi/repositories/PortalAccessRepository.java
  src/main/java/uk/gov/hmcts/reform/preapi/repositories/RecordingRepository.java
  src/main/java/uk/gov/hmcts/reform/preapi/repositories/ShareBookingRepository.java
  src/main/java/uk/gov/hmcts/reform/preapi/repositories/SoftDeleteRepository.java
  src/main/java/uk/gov/hmcts/reform/preapi/repositories/UserRepository.java
  src/main/java/uk/gov/hmcts/reform/preapi/services/BookingService.java
  src/main/java/uk/gov/hmcts/reform/preapi/services/CaptureSessionService.java
  src/main/java/uk/gov/hmcts/reform/preapi/services/CaseService.java
  src/main/java/uk/gov/hmcts/reform/preapi/services/InviteService.java
  src/main/java/uk/gov/hmcts/reform/preapi/services/RecordingService.java
  src/main/java/uk/gov/hmcts/reform/preapi/services/ShareBookingService.java
  src/main/java/uk/gov/hmcts/reform/preapi/services/UserService.java
  src/test/java/uk/gov/hmcts/reform/preapi/services/BookingServiceTest.java
  src/test/java/uk/gov/hmcts/reform/preapi/services/CaptureSessionServiceTest.java
  src/test/java/uk/gov/hmcts/reform/preapi/services/CaseServiceTest.java
  src/test/java/uk/gov/hmcts/reform/preapi/services/RecordingServiceTest.java
  src/test/java/uk/gov/hmcts/reform/preapi/services/ShareBookingServiceTest.java
  src/test/java/uk/gov/hmcts/reform/preapi/services/UserServiceTest.java
  src/test/java/uk/gov/hmcts/reform/preapi/util/HelperFactory.java
Labels: ns:pre, prd:pre, enable_keep_helm, rel:pre-api-pr-565

#556 S28 2981: Remove Recordings URL Column
  src/main/resources/db/migration/V020__RemoveRecordingUrl.sql
Labels: ns:pre, prd:pre, rel:pre-api-pr-556

#597 Prepare application to run cron jobs
  README.md
  build.gradle
  src/main/java/uk/gov/hmcts/reform/preapi/Application.java
  src/main/java/uk/gov/hmcts/reform/preapi/services/ScheduledTaskRunner.java
  src/test/java/uk/gov/hmcts/reform/preapi/controller/AuditControllerTest.java
  src/test/java/uk/gov/hmcts/reform/preapi/controller/BookingControllerTest.java
  src/test/java/uk/gov/hmcts/reform/preapi/controller/CaptureSessionControllerTest.java
  src/test/java/uk/gov/hmcts/reform/preapi/controller/CaseControllerTest.java
  src/test/java/uk/gov/hmcts/reform/preapi/controller/CourtControllerTest.java
  src/test/java/uk/gov/hmcts/reform/preapi/controller/InviteControllerTest.java
  src/test/java/uk/gov/hmcts/reform/preapi/controller/MediaServiceControllerTest.java
  src/test/java/uk/gov/hmcts/reform/preapi/controller/RecordingControllerTest.java
  src/test/java/uk/gov/hmcts/reform/preapi/controller/ReportControllerTest.java
  src/test/java/uk/gov/hmcts/reform/preapi/controller/RoleControllerTest.java
  src/test/java/uk/gov/hmcts/reform/preapi/controller/RoomControllerTest.java
  src/test/java/uk/gov/hmcts/reform/preapi/controller/UserControllerTest.java
  src/test/java/uk/gov/hmcts/reform/preapi/services/ScheduledTaskRunnerTest.java
Labels: ns:pre, prd:pre, rel:pre-api-pr-597

#600 Fix: Add deserializer for timestamp (jackson config)
  build.gradle
  src/functionalTest/java/uk/gov/hmcts/reform/preapi/util/FunctionalTestBase.java
  src/main/java/uk/gov/hmcts/reform/preapi/config/JacksonConfiguration.java
  src/test/java/uk/gov/hmcts/reform/preapi/controller/AuditControllerTest.java
  src/test/java/uk/gov/hmcts/reform/preapi/controller/BookingControllerTest.java
  src/test/java/uk/gov/hmcts/reform/preapi/controller/CaptureSessionControllerTest.java
  src/test/java/uk/gov/hmcts/reform/preapi/controller/CaseControllerTest.java
  src/test/java/uk/gov/hmcts/reform/preapi/controller/CourtControllerTest.java
  src/test/java/uk/gov/hmcts/reform/preapi/controller/RecordingControllerTest.java
  src/test/java/uk/gov/hmcts/reform/preapi/controller/UserControllerTest.java
Labels: ns:pre, prd:pre, rel:pre-api-pr-600

#601 Coverage for Jackson Config
  build.gradle
  src/test/java/uk/gov/hmcts/reform/preapi/config/JacksonConfigurationTest.java
Labels: ns:pre, prd:pre, rel:pre-api-pr-601

#602 Task for deleting all running live events
  infrastructure/main.tf
  pre-api-stg.yaml
  src/main/java/uk/gov/hmcts/reform/preapi/controllers/MediaServiceController.java
  src/main/java/uk/gov/hmcts/reform/preapi/media/IMediaService.java
  src/main/java/uk/gov/hmcts/reform/preapi/tasks/CleanupLiveEvents.java
  src/test/java/uk/gov/hmcts/reform/preapi/tasks/CleanupLiveEventsTest.java
  src/test/java/uk/gov/hmcts/reform/rsecheck/DemoUnitTest.java
Labels: ns:pre, prd:pre, stg/destroy, prod/destroy, rel:pre-api-pr-602

#605 Fix bug where jackson is formatting Duration as double instead of ISO 8601 string
  src/main/java/uk/gov/hmcts/reform/preapi/dto/base/BaseRecordingDTO.java
  src/main/java/uk/gov/hmcts/reform/preapi/dto/reports/CompletedCaptureSessionReportDTO.java
  src/main/java/uk/gov/hmcts/reform/preapi/dto/reports/ConcurrentCaptureSessionReportDTO.java
  src/main/java/uk/gov/hmcts/reform/preapi/dto/reports/PlaybackReportDTO.java
  src/test/java/uk/gov/hmcts/reform/preapi/controller/ReportControllerTest.java
Labels: ns:pre, prd:pre, rel:pre-api-pr-605

#607 Functional test to verify format of Timestamp and Duration output from API
  src/functionalTest/java/uk/gov/hmcts/reform/preapi/controllers/ReportControllerFT.java
  src/functionalTest/java/uk/gov/hmcts/reform/preapi/util/FunctionalTestBase.java
Labels: ns:pre, prd:pre, rel:pre-api-pr-607

#606 Fix: test ams in stg and dev
  charts/pre-api/Chart.yaml
  charts/pre-api/values.dev.template.yaml
  charts/pre-api/values.stg.template.yaml
Labels: ns:pre, prd:pre, enable_keep_helm, rel:pre-api-pr-606

#579 S28 3098: End Live Event (AMS Implementation)
  build.gradle
  charts/pre-api/Chart.yaml
  charts/pre-api/values.dev.template.yaml
  charts/pre-api/values.yaml
  infrastructure/main.tf
  pre-api-stg.yaml
  src/functionalTest/resources/application.properties
  src/integrationTest/resources/application.properties
  src/main/java/uk/gov/hmcts/reform/preapi/config/AzureConfiguration.java
  src/main/java/uk/gov/hmcts/reform/preapi/controllers/MediaServiceController.java
  src/main/java/uk/gov/hmcts/reform/preapi/exception/GlobalControllerExceptionHandler.java
  src/main/java/uk/gov/hmcts/reform/preapi/exception/ResourceInWrongStateException.java
  src/main/java/uk/gov/hmcts/reform/preapi/media/AzureFinalStorageService.java
  src/main/java/uk/gov/hmcts/reform/preapi/media/AzureMediaService.java
  src/main/java/uk/gov/hmcts/reform/preapi/media/IMediaService.java
  src/main/java/uk/gov/hmcts/reform/preapi/media/MediaKind.java
  src/main/java/uk/gov/hmcts/reform/preapi/services/CaptureSessionService.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/preapi/controller/MediaServiceControllerTest.java
  src/test/java/uk/gov/hmcts/reform/preapi/media/AzureFinalStorageServiceTest.java
  src/test/java/uk/gov/hmcts/reform/preapi/media/AzureMediaServiceTest.java
  src/test/java/uk/gov/hmcts/reform/preapi/media/MediaKindTest.java
  src/test/java/uk/gov/hmcts/reform/preapi/services/CaptureSessionServiceTest.java
Labels: ns:pre, prd:pre, enable_keep_helm, stg/destroy, prod/destroy, rel:pre-api-pr-579

#615 Fix: Staging to use Test Storage Accounts
  charts/pre-api/values.stg.template.yaml
Labels: ns:pre, prd:pre, rel:pre-api-pr-615

#588 S28 3099: Stop Live Event (MediaKind Implemenation)
  charts/pre-api/values.dev.template.yaml
  src/main/java/uk/gov/hmcts/reform/preapi/config/JacksonConfiguration.java
  src/main/java/uk/gov/hmcts/reform/preapi/controllers/MediaServiceController.java
  src/main/java/uk/gov/hmcts/reform/preapi/exception/GlobalControllerExceptionHandler.java
  src/main/java/uk/gov/hmcts/reform/preapi/media/AzureMediaService.java
  src/main/java/uk/gov/hmcts/reform/preapi/media/MediaKind.java
  src/main/java/uk/gov/hmcts/reform/preapi/media/MediaKindClient.java
  src/main/java/uk/gov/hmcts/reform/preapi/media/dto/MkBuiltInAssetConverterPreset.java
  src/main/java/uk/gov/hmcts/reform/preapi/media/dto/MkJob.java
  src/main/java/uk/gov/hmcts/reform/preapi/media/dto/MkTransform.java
  src/main/java/uk/gov/hmcts/reform/preapi/media/dto/MkTransformOutput.java
  src/main/java/uk/gov/hmcts/reform/preapi/media/dto/MkTransformProperties.java
  src/test/java/uk/gov/hmcts/reform/preapi/media/MediaKindTest.java
Labels: ns:pre, prd:pre, enable_keep_helm, stg/destroy, prod/destroy, rel:pre-api-pr-588

#585 S28-3072/ams generate asset
  infrastructure/main.tf
  pre-api-stg.yaml
  src/main/java/uk/gov/hmcts/reform/preapi/config/SecurityConfig.java
  src/main/java/uk/gov/hmcts/reform/preapi/controllers/MediaServiceController.java
  src/main/java/uk/gov/hmcts/reform/preapi/dto/media/GenerateAssetDTO.java
  src/main/java/uk/gov/hmcts/reform/preapi/dto/media/GenerateAssetResponseDTO.java
  src/main/java/uk/gov/hmcts/reform/preapi/exception/ForbiddenException.java
  src/main/java/uk/gov/hmcts/reform/preapi/exception/GlobalControllerExceptionHandler.java
  src/main/java/uk/gov/hmcts/reform/preapi/media/AzureMediaService.java
  src/main/java/uk/gov/hmcts/reform/preapi/media/IMediaService.java
  src/main/java/uk/gov/hmcts/reform/preapi/media/MediaKind.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/preapi/controller/MediaServiceControllerTest.java
  src/test/java/uk/gov/hmcts/reform/preapi/media/AzureMediaServiceTest.java
  src/test/java/uk/gov/hmcts/reform/preapi/media/MediaKindTest.java
Labels: ns:pre, prd:pre, enable_keep_helm, stg/destroy, prod/destroy, rel:pre-api-pr-585

#617 Fix: Start Live Event Endpoint does not wait for live event to start
  charts/pre-api/values.dev.template.yaml
  src/main/java/uk/gov/hmcts/reform/preapi/controllers/MediaServiceController.java
  src/main/java/uk/gov/hmcts/reform/preapi/dto/media/LiveEventDTO.java
  src/main/java/uk/gov/hmcts/reform/preapi/media/AzureMediaService.java
  src/main/java/uk/gov/hmcts/reform/preapi/media/IMediaService.java
  src/main/java/uk/gov/hmcts/reform/preapi/media/MediaKind.java
  src/main/java/uk/gov/hmcts/reform/preapi/services/CaptureSessionService.java
  src/test/java/uk/gov/hmcts/reform/preapi/controller/MediaServiceControllerTest.java
  src/test/java/uk/gov/hmcts/reform/preapi/media/AzureMediaServiceTest.java
  src/test/java/uk/gov/hmcts/reform/preapi/media/MediaKindTest.java
  src/test/java/uk/gov/hmcts/reform/preapi/services/CaptureSessionServiceTest.java
Labels: ns:pre, prd:pre, enable_keep_helm, rel:pre-api-pr-617

#593 S28-3073/mk generate asset
  charts/pre-api/values.dev.template.yaml
  src/main/java/uk/gov/hmcts/reform/preapi/controllers/MediaServiceController.java
  src/main/java/uk/gov/hmcts/reform/preapi/media/AzureMediaService.java
  src/main/java/uk/gov/hmcts/reform/preapi/media/IMediaService.java
  src/main/java/uk/gov/hmcts/reform/preapi/media/MediaKind.java
  src/test/java/uk/gov/hmcts/reform/preapi/controller/MediaServiceControllerTest.java
  src/test/java/uk/gov/hmcts/reform/preapi/media/AzureMediaServiceTest.java
  src/test/java/uk/gov/hmcts/reform/preapi/media/MediaKindTest.java
  src/test/java/uk/gov/hmcts/reform/preapi/services/CaptureSessionServiceTest.java
Labels: ns:pre, prd:pre, enable_keep_helm, stg/destroy, prod/destroy, rel:pre-api-pr-593

#608 S28 3127: Fix Create Endpoint + Locator Endpoint Without .ism 500 Error
  src/main/java/uk/gov/hmcts/reform/preapi/controllers/MediaServiceController.java
  src/main/java/uk/gov/hmcts/reform/preapi/exception/AssetFilesNotFoundException.java
  src/main/java/uk/gov/hmcts/reform/preapi/exception/GlobalControllerExceptionHandler.java
  src/main/java/uk/gov/hmcts/reform/preapi/media/AzureMediaService.java
  src/main/java/uk/gov/hmcts/reform/preapi/media/MediaKind.java
  src/test/java/uk/gov/hmcts/reform/preapi/controller/MediaServiceControllerTest.java
Labels: ns:pre, prd:pre, enable_keep_helm, stg/destroy, prod/destroy, rel:pre-api-pr-608

#618 Endpoint to check if ism file exists for use in edit flow
  infrastructure/main.tf
  pre-api-stg.yaml
  src/main/java/uk/gov/hmcts/reform/preapi/controllers/MediaServiceController.java
  src/test/java/uk/gov/hmcts/reform/preapi/controller/MediaServiceControllerTest.java
Labels: ns:pre, prd:pre, enable_keep_helm, stg/destroy, prod/destroy, rel:pre-api-pr-618

#628 Addition AMS Logging
  src/main/java/uk/gov/hmcts/reform/preapi/media/AzureMediaService.java
Labels: ns:pre, prd:pre, rel:pre-api-pr-628

#519 S28 2315: Update createdby field audit table
  bin/migration-update/__init__.py
  bin/migration-update/main.py
  bin/migration-update/sql_queries.py
Labels: ns:pre, prd:pre, rel:pre-api-pr-519

#630 S28 3151: Asset Playback (AMS Implementation)
  charts/pre-api/values.dev.template.yaml
  src/main/java/uk/gov/hmcts/reform/preapi/media/AzureMediaService.java
  src/test/java/uk/gov/hmcts/reform/preapi/media/AzureMediaServiceTest.java
Labels: ns:pre, prd:pre, enable_keep_helm, rel:pre-api-pr-630

#627 S28 3146: `GET /recordings` Add `sort` Param
  infrastructure/main.tf
  pre-api-stg.yaml
  src/functionalTest/java/uk/gov/hmcts/reform/preapi/controllers/RecordingControllerFT.java
  src/main/java/uk/gov/hmcts/reform/preapi/controllers/RecordingController.java
  src/main/java/uk/gov/hmcts/reform/preapi/exception/GlobalControllerExceptionHandler.java
  src/main/java/uk/gov/hmcts/reform/preapi/repositories/RecordingRepository.java
  src/test/java/uk/gov/hmcts/reform/preapi/controller/RecordingControllerTest.java
Labels: ns:pre, prd:pre, enable_keep_helm, stg/destroy, prod/destroy, rel:pre-api-pr-627

#636 Fix: `playLiveEvent` Error When `checkStream` Called First
  src/main/java/uk/gov/hmcts/reform/preapi/controllers/MediaServiceController.java
  src/test/java/uk/gov/hmcts/reform/preapi/controller/MediaServiceControllerTest.java
Labels: ns:pre, prd:pre, rel:pre-api-pr-636

#637 Fix: JWT Key Incorrectly Set (AMS)
  src/main/java/uk/gov/hmcts/reform/preapi/media/AzureMediaService.java
Labels: ns:pre, prd:pre, enable_keep_helm, rel:pre-api-pr-637

#632 S28 3127: MK Detect Stream Started
  src/main/java/uk/gov/hmcts/reform/preapi/controllers/MediaServiceController.java
  src/main/java/uk/gov/hmcts/reform/preapi/media/AzureMediaService.java
  src/main/java/uk/gov/hmcts/reform/preapi/media/MediaKind.java
  src/main/java/uk/gov/hmcts/reform/preapi/media/storage/AzureStorageService.java
  src/test/java/uk/gov/hmcts/reform/preapi/controller/MediaServiceControllerTest.java
  src/test/java/uk/gov/hmcts/reform/preapi/media/AzureFinalStorageServiceTest.java
  src/test/java/uk/gov/hmcts/reform/preapi/media/MediaKindTest.java
  src/test/java/uk/gov/hmcts/reform/preapi/media/storage/AzureFinalStorageServiceTest.java
Labels: ns:pre, prd:pre, enable_keep_helm, rel:pre-api-pr-632

#640 Switch Staging (AMS -> MK)
  charts/pre-api/values.stg.template.yaml
Labels: ns:pre, prd:pre, rel:pre-api-pr-640

#641 Expire streaming locators at midnight today
  src/main/java/uk/gov/hmcts/reform/preapi/media/AzureMediaService.java
  src/main/java/uk/gov/hmcts/reform/preapi/media/MediaKind.java
Labels: ns:pre, prd:pre, enable_keep_helm, rel:pre-api-pr-641

#631 Cover suggested error conditions
  charts/pre-api/values.dev.template.yaml
  infrastructure/main.tf
  src/main/java/uk/gov/hmcts/reform/preapi/controllers/MediaServiceController.java
  src/main/java/uk/gov/hmcts/reform/preapi/exception/GlobalControllerExceptionHandler.java
  src/main/java/uk/gov/hmcts/reform/preapi/media/MediaKind.java
  src/main/java/uk/gov/hmcts/reform/preapi/media/dto/MkBuiltInAssetConverterPreset.java
  src/main/java/uk/gov/hmcts/reform/preapi/media/dto/MkBuiltInPreset.java
  src/main/java/uk/gov/hmcts/reform/preapi/media/dto/MkTransformOutput.java
  src/main/java/uk/gov/hmcts/reform/preapi/media/storage/AzureStorageService.java
  src/test/java/uk/gov/hmcts/reform/preapi/controller/MediaServiceControllerTest.java
  src/test/java/uk/gov/hmcts/reform/preapi/media/MediaKindTest.java
  src/test/java/uk/gov/hmcts/reform/preapi/media/dto/MkTransformTest.java
  src/test/java/uk/gov/hmcts/reform/preapi/media/storage/AzureFinalStorageServiceTest.java
Labels: ns:pre, prd:pre, enable_keep_helm, stg/destroy, prod/destroy, rel:pre-api-pr-631

#644 Fix: MK Final Assets Not Playable
  src/main/java/uk/gov/hmcts/reform/preapi/media/MediaKind.java
  src/main/java/uk/gov/hmcts/reform/preapi/media/storage/AzureStorageService.java
  src/test/java/uk/gov/hmcts/reform/preapi/media/MediaKindTest.java
  src/test/java/uk/gov/hmcts/reform/preapi/media/storage/AzureFinalStorageServiceTest.java
Labels: ns:pre, prd:pre, rel:pre-api-pr-644

#634 S28 3152/cleanup streaming locators
  src/main/java/uk/gov/hmcts/reform/preapi/media/AzureMediaService.java
  src/main/java/uk/gov/hmcts/reform/preapi/media/IMediaService.java
  src/main/java/uk/gov/hmcts/reform/preapi/media/MediaKind.java
  src/main/java/uk/gov/hmcts/reform/preapi/media/MediaKindClient.java
  src/main/java/uk/gov/hmcts/reform/preapi/tasks/CleanupStreamingLocators.java
  src/test/java/uk/gov/hmcts/reform/preapi/media/AzureMediaServiceTest.java
  src/test/java/uk/gov/hmcts/reform/preapi/media/MediaKindTest.java
Labels: ns:pre, prd:pre, enable_keep_helm, rel:pre-api-pr-634

#646 S28 3182: Locator not Deleted on Stop Live Event (AMS Implementation)
  src/main/java/uk/gov/hmcts/reform/preapi/media/AzureMediaService.java
Labels: ns:pre, prd:pre, rel:pre-api-pr-646
