Repository hmcts/pre-api, pull requests merged in 2024-02, with the labels that each got.

#256 Bump API to release latest API updates
  infrastructure/main.tf
Labels: ns:pre, prd:pre, destroy, rel:pre-api-pr-256

#248 S28-2375 Add github action to increment apim revisions
  .github/workflows/publish-swagger-v2-and-bump-apim-revision.yaml
  infrastructure/main.tf
Labels: ns:pre, prd:pre, destroy, rel:pre-api-pr-248

#230 S28 2380: Enforce Permissions at API Level (Part 1)
  build.gradle
  infrastructure/main.tf
  pre-api-stg.yaml
  src/functionalTest/java/uk/gov/hmcts/reform/preapi/controllers/AuditControllerFT.java
  src/functionalTest/java/uk/gov/hmcts/reform/preapi/controllers/BookingControllerFT.java
  src/functionalTest/java/uk/gov/hmcts/reform/preapi/controllers/CaseControllerFT.java
  src/functionalTest/java/uk/gov/hmcts/reform/preapi/security/XUserIdFilterFT.java
  src/functionalTest/java/uk/gov/hmcts/reform/preapi/util/FunctionalTestBase.java
  src/integrationTest/java/uk/gov/hmcts/reform/preapi/openapi/OpenAPIPublisherTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/preapi/services/BookingServiceIT.java
  src/integrationTest/java/uk/gov/hmcts/reform/preapi/services/UserAuthenticationServiceIT.java
  src/main/java/uk/gov/hmcts/reform/preapi/Application.java
  src/main/java/uk/gov/hmcts/reform/preapi/config/SecurityConfig.java
  src/main/java/uk/gov/hmcts/reform/preapi/controllers/AuditController.java
  src/main/java/uk/gov/hmcts/reform/preapi/controllers/BookingController.java
  src/main/java/uk/gov/hmcts/reform/preapi/controllers/CaptureSessionController.java
  src/main/java/uk/gov/hmcts/reform/preapi/controllers/CaseController.java
  src/main/java/uk/gov/hmcts/reform/preapi/controllers/CourtController.java
  src/main/java/uk/gov/hmcts/reform/preapi/controllers/InviteController.java
  src/main/java/uk/gov/hmcts/reform/preapi/controllers/RecordingController.java
  src/main/java/uk/gov/hmcts/reform/preapi/controllers/ReportController.java
  src/main/java/uk/gov/hmcts/reform/preapi/controllers/RoleController.java
  src/main/java/uk/gov/hmcts/reform/preapi/controllers/TestingSupportController.java
  src/main/java/uk/gov/hmcts/reform/preapi/controllers/UserController.java
  src/main/java/uk/gov/hmcts/reform/preapi/dto/AppAccessDTO.java
  src/main/java/uk/gov/hmcts/reform/preapi/entities/listeners/AuditListener.java
  src/main/java/uk/gov/hmcts/reform/preapi/repositories/AppAccessRepository.java
  src/main/java/uk/gov/hmcts/reform/preapi/repositories/BookingRepository.java
  src/main/java/uk/gov/hmcts/reform/preapi/repositories/ShareBookingRepository.java
  src/main/java/uk/gov/hmcts/reform/preapi/security/AuthorisationService.java
  src/main/java/uk/gov/hmcts/reform/preapi/security/authentication/UserAuthentication.java
  src/main/java/uk/gov/hmcts/reform/preapi/security/filter/XUserIdFilter.java
  src/main/java/uk/gov/hmcts/reform/preapi/security/service/UserAuthenticationService.java
  src/main/java/uk/gov/hmcts/reform/preapi/services/AuditService.java
  src/main/java/uk/gov/hmcts/reform/preapi/services/BookingService.java
  src/main/java/uk/gov/hmcts/reform/preapi/services/UserService.java
  src/test/java/uk/gov/hmcts/reform/preapi/controller/AuditControllerTest.java
  src/test/java/uk/gov/hmcts/reform/preapi/controller/BookingControllerTest.java
  src/test/java/uk/gov/hmcts/reform/preapi/controller/CaptureSessionControllerTest.java
  src/test/java/uk/gov/hmcts/reform/preapi/controller/CaseControllerTest.java
  src/test/java/uk/gov/hmcts/reform/preapi/controller/CourtControllerTest.java
  src/test/java/uk/gov/hmcts/reform/preapi/controller/InviteControllerTest.java
  src/test/java/uk/gov/hmcts/reform/preapi/controller/RecordingControllerTest.java
  src/test/java/uk/gov/hmcts/reform/preapi/controller/ReportControllerTest.java
  src/test/java/uk/gov/hmcts/reform/preapi/controller/RoleControllerTest.java
  src/test/java/uk/gov/hmcts/reform/preapi/controller/UserControllerTest.java
  src/test/java/uk/gov/hmcts/reform/preapi/security/AuthorisationServiceTest.java
  src/test/java/uk/gov/hmcts/reform/preapi/security/XUserIdFilterTest.java
  src/test/java/uk/gov/hmcts/reform/preapi/services/AuditServiceTest.java
  src/test/java/uk/gov/hmcts/reform/preapi/services/BookingServiceTest.java
  src/test/java/uk/gov/hmcts/reform/preapi/services/UserServiceTest.java
Labels: ns:pre, prd:pre, rel:pre-api-pr-230, destroy

#258 Remove auth from audit and make x-user-id optional
  infrastructure/main.tf
  pre-api-stg.yaml
  src/functionalTest/java/uk/gov/hmcts/reform/preapi/security/XUserIdFilterFT.java
  src/functionalTest/java/uk/gov/hmcts/reform/preapi/util/FunctionalTestBase.java
  src/main/java/uk/gov/hmcts/reform/preapi/config/OpenAPIConfiguration.java
  src/main/java/uk/gov/hmcts/reform/preapi/config/SecurityConfig.java
  src/main/java/uk/gov/hmcts/reform/preapi/controllers/AuditController.java
  src/main/java/uk/gov/hmcts/reform/preapi/entities/listeners/AuditListener.java
  src/main/java/uk/gov/hmcts/reform/preapi/security/filter/XUserIdFilter.java
  src/main/java/uk/gov/hmcts/reform/preapi/services/AuditService.java
  src/test/java/uk/gov/hmcts/reform/preapi/controller/AuditControllerTest.java
  src/test/java/uk/gov/hmcts/reform/preapi/security/XUserIdFilterTest.java
Labels: ns:pre, prd:pre, destroy, rel:pre-api-pr-258

#263 Fix: Disable CSRF
  infrastructure/main.tf
  src/main/java/uk/gov/hmcts/reform/preapi/config/SecurityConfig.java
Labels: ns:pre, prd:pre, destroy, rel:pre-api-pr-263

#261 Update publish-swagger-v2-and-bump-apim-revision.yaml
  .github/workflows/publish-swagger-v2-and-bump-apim-revision.yaml
  infrastructure/main.tf
Labels: ns:pre, prd:pre, destroy, rel:pre-api-pr-261

#264 S28 2380: Authorisation for Bookings, Capture Sessions and Recordings
  infrastructure/main.tf
  src/integrationTest/java/uk/gov/hmcts/reform/preapi/services/BookingServiceIT.java
  src/main/java/uk/gov/hmcts/reform/preapi/controllers/BookingController.java
  src/main/java/uk/gov/hmcts/reform/preapi/controllers/CaptureSessionController.java
  src/main/java/uk/gov/hmcts/reform/preapi/controllers/CaseController.java
  src/main/java/uk/gov/hmcts/reform/preapi/controllers/CourtController.java
  src/main/java/uk/gov/hmcts/reform/preapi/controllers/InviteController.java
  src/main/java/uk/gov/hmcts/reform/preapi/controllers/RecordingController.java
  src/main/java/uk/gov/hmcts/reform/preapi/controllers/ReportController.java
  src/main/java/uk/gov/hmcts/reform/preapi/controllers/UserController.java
  src/main/java/uk/gov/hmcts/reform/preapi/repositories/BookingRepository.java
  src/main/java/uk/gov/hmcts/reform/preapi/repositories/CaptureSessionRepository.java
  src/main/java/uk/gov/hmcts/reform/preapi/repositories/RecordingRepository.java
  src/main/java/uk/gov/hmcts/reform/preapi/security/AuthorisationService.java
  src/main/java/uk/gov/hmcts/reform/preapi/security/authentication/UserAuthentication.java
  src/main/java/uk/gov/hmcts/reform/preapi/security/service/UserAuthenticationService.java
  src/main/java/uk/gov/hmcts/reform/preapi/services/BookingService.java
  src/main/java/uk/gov/hmcts/reform/preapi/services/CaptureSessionService.java
  src/main/java/uk/gov/hmcts/reform/preapi/services/RecordingService.java
  src/test/java/uk/gov/hmcts/reform/preapi/security/AuthorisationServiceTest.java
  src/test/java/uk/gov/hmcts/reform/preapi/services/BookingServiceTest.java
  src/test/java/uk/gov/hmcts/reform/preapi/services/CaptureSessionServiceTest.java
  src/test/java/uk/gov/hmcts/reform/preapi/services/RecordingServiceTest.java
Labels: ns:pre, prd:pre, destroy, rel:pre-api-pr-264

#270 Only increment APIM revision if changes made to the api
  .github/workflows/publish-swagger-v2-and-bump-apim-revision.yaml
Labels: ns:pre, prd:pre, rel:pre-api-pr-270

#265 S28 2424/users by access
  infrastructure/main.tf
  pre-api-stg.yaml
  src/integrationTest/java/uk/gov/hmcts/reform/preapi/services/UserServiceIT.java
  src/main/java/uk/gov/hmcts/reform/preapi/controllers/UserController.java
  src/main/java/uk/gov/hmcts/reform/preapi/controllers/params/SearchUsers.java
  src/main/java/uk/gov/hmcts/reform/preapi/dto/PortalAccessDTO.java
  src/main/java/uk/gov/hmcts/reform/preapi/dto/base/BaseUserDTO.java
  src/main/java/uk/gov/hmcts/reform/preapi/entities/User.java
  src/main/java/uk/gov/hmcts/reform/preapi/enums/AccessType.java
  src/main/java/uk/gov/hmcts/reform/preapi/repositories/AppAccessRepository.java
  src/main/java/uk/gov/hmcts/reform/preapi/repositories/UserRepository.java
  src/main/java/uk/gov/hmcts/reform/preapi/services/UserService.java
  src/test/java/uk/gov/hmcts/reform/preapi/controller/UserControllerTest.java
  src/test/java/uk/gov/hmcts/reform/preapi/services/UserServiceTest.java
Labels: ns:pre, prd:pre, destroy, rel:pre-api-pr-265

#273 Make PortalAccess column names consistent with other tables
  bin/migration/tables/portalaccess.py
  pre-api-stg.yaml
  src/integrationTest/java/uk/gov/hmcts/reform/preapi/entities/PortalAccessTest.java
  src/main/java/uk/gov/hmcts/reform/preapi/dto/PortalAccessDTO.java
  src/main/java/uk/gov/hmcts/reform/preapi/entities/PortalAccess.java
  src/main/resources/db/migration/V013__ConsistentPortalAccessColumns.sql
Labels: ns:pre, prd:pre, rel:pre-api-pr-273

#274 S28 2380: Authorisation Share Bookings and Cases
  src/integrationTest/java/uk/gov/hmcts/reform/preapi/services/CaseServiceIT.java
  src/main/java/uk/gov/hmcts/reform/preapi/controllers/CaseController.java
  src/main/java/uk/gov/hmcts/reform/preapi/repositories/CaseRepository.java
  src/main/java/uk/gov/hmcts/reform/preapi/security/AuthorisationService.java
  src/main/java/uk/gov/hmcts/reform/preapi/services/CaseService.java
  src/main/java/uk/gov/hmcts/reform/preapi/services/ShareBookingService.java
  src/test/java/uk/gov/hmcts/reform/preapi/security/AuthorisationServiceTest.java
  src/test/java/uk/gov/hmcts/reform/preapi/services/CaseServiceTest.java
Labels: ns:pre, prd:pre, rel:pre-api-pr-274

#277 S28 2439: Add Endpoint GET `/bookings/{id}/share`
  pre-api-stg.yaml
  src/functionalTest/java/uk/gov/hmcts/reform/preapi/controllers/BookingControllerFT.java
  src/main/java/uk/gov/hmcts/reform/preapi/controllers/BookingController.java
  src/main/java/uk/gov/hmcts/reform/preapi/dto/CreateShareBookingDTO.java
  src/main/java/uk/gov/hmcts/reform/preapi/dto/ShareBookingDTO.java
  src/main/java/uk/gov/hmcts/reform/preapi/repositories/ShareBookingRepository.java
  src/main/java/uk/gov/hmcts/reform/preapi/security/AuthorisationService.java
  src/main/java/uk/gov/hmcts/reform/preapi/services/ShareBookingService.java
  src/test/java/uk/gov/hmcts/reform/preapi/controller/BookingControllerTest.java
  src/test/java/uk/gov/hmcts/reform/preapi/dto/CreateShareBookingDTOTest.java
  src/test/java/uk/gov/hmcts/reform/preapi/security/AuthorisationServiceTest.java
  src/test/java/uk/gov/hmcts/reform/preapi/services/ShareBookingServiceTest.java
Labels: ns:pre, prd:pre, rel:pre-api-pr-277

#275 Change to RecordingStatus type
  bin/migration/tables/capturesessions.py
  pre-api-stg.yaml
  src/integrationTest/java/uk/gov/hmcts/reform/preapi/entities/CaptureSessionTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/preapi/entities/CreateRecordingDTOTest.java
  src/main/java/uk/gov/hmcts/reform/preapi/controllers/TestingSupportController.java
  src/main/java/uk/gov/hmcts/reform/preapi/enums/RecordingStatus.java
  src/main/java/uk/gov/hmcts/reform/preapi/services/ReportService.java
  src/main/resources/db/migration/V014__UpdateRecordingStatusType.sql
  src/test/java/uk/gov/hmcts/reform/preapi/controller/CaptureSessionControllerTest.java
  src/test/java/uk/gov/hmcts/reform/preapi/controller/ReportControllerTest.java
  src/test/java/uk/gov/hmcts/reform/preapi/dto/CaptureSessionDTOTest.java
  src/test/java/uk/gov/hmcts/reform/preapi/services/CaptureSessionServiceTest.java
  src/test/java/uk/gov/hmcts/reform/preapi/services/ReportServiceTest.java
Labels: ns:pre, prd:pre, rel:pre-api-pr-275

#280 Fix/api auth
  README.md
  infrastructure/main.tf
Labels: ns:pre, prd:pre, add-or-update, rel:pre-api-pr-280

#281 Fix: Sharing a Booking Uses UUID instead of UserDTO + Callable without `sharedBy` set
  pre-api-stg.yaml
  src/main/java/uk/gov/hmcts/reform/preapi/controllers/BookingController.java
  src/main/java/uk/gov/hmcts/reform/preapi/dto/CreateShareBookingDTO.java
  src/main/java/uk/gov/hmcts/reform/preapi/security/AuthorisationService.java
  src/main/java/uk/gov/hmcts/reform/preapi/services/ShareBookingService.java
  src/test/java/uk/gov/hmcts/reform/preapi/controller/BookingControllerTest.java
  src/test/java/uk/gov/hmcts/reform/preapi/security/AuthorisationServiceTest.java
  src/test/java/uk/gov/hmcts/reform/preapi/services/ShareBookingServiceTest.java
Labels: ns:pre, prd:pre, rel:pre-api-pr-281

#278 Fix: 401 Errors Instead of 500 Errors + `/reports/playback` Error 401 Fix
  src/main/java/uk/gov/hmcts/reform/preapi/config/SecurityConfig.java
  src/main/java/uk/gov/hmcts/reform/preapi/repositories/AuditRepository.java
  src/main/java/uk/gov/hmcts/reform/preapi/services/ReportService.java
Labels: ns:pre, prd:pre, rel:pre-api-pr-278

#227 Data Migration
  bin/migration/logger.py
  bin/migration/main_script.py
  bin/migration/summary.py
  bin/migration/tables/appaccess.py
  bin/migration/tables/audits.py
  bin/migration/tables/bookingparticipants.py
  bin/migration/tables/bookings.py
  bin/migration/tables/capturesessions.py
  bin/migration/tables/cases.py
  bin/migration/tables/courtregions.py
  bin/migration/tables/courtrooms.py
  bin/migration/tables/courts.py
  bin/migration/tables/helpers.py
  bin/migration/tables/participants.py
  bin/migration/tables/portalaccess.py
  bin/migration/tables/recordings.py
  bin/migration/tables/regions.py
  bin/migration/tables/roles.py
  bin/migration/tables/rooms.py
  bin/migration/tables/sharebookings.py
  bin/migration/tables/users.py
Labels: ns:pre, prd:pre, rel:pre-api-pr-227

#283 Fix: PUT `/recording/{id}` Capture Session Error
  src/main/java/uk/gov/hmcts/reform/preapi/services/RecordingService.java
  src/test/java/uk/gov/hmcts/reform/preapi/services/RecordingServiceTest.java
Labels: ns:pre, prd:pre, rel:pre-api-pr-283

#285 Create and store APIm sub keys for Portal
  .gitignore
  infrastructure/main.tf
Labels: ns:pre, prd:pre, add-or-update, rel:pre-api-pr-285

#288 Fix: Remove 404 Error when Booking Exists
  src/main/java/uk/gov/hmcts/reform/preapi/repositories/BookingRepository.java
  src/main/java/uk/gov/hmcts/reform/preapi/services/ShareBookingService.java
  src/test/java/uk/gov/hmcts/reform/preapi/services/ShareBookingServiceTest.java
Labels: ns:pre, prd:pre, add-or-update, rel:pre-api-pr-288

#286 Added remaining audit table fields to audit details json blob
  bin/migration/tables/audits.py
Labels: ns:pre, prd:pre, rel:pre-api-pr-286

#287 Tidy up the key names in audit details
  src/main/java/uk/gov/hmcts/reform/preapi/entities/AppAccess.java
  src/main/java/uk/gov/hmcts/reform/preapi/entities/Booking.java
  src/main/java/uk/gov/hmcts/reform/preapi/entities/CaptureSession.java
  src/main/java/uk/gov/hmcts/reform/preapi/entities/Case.java
  src/main/java/uk/gov/hmcts/reform/preapi/entities/Court.java
  src/main/java/uk/gov/hmcts/reform/preapi/entities/Invite.java
  src/main/java/uk/gov/hmcts/reform/preapi/entities/Permission.java
  src/main/java/uk/gov/hmcts/reform/preapi/entities/PortalAccess.java
  src/main/java/uk/gov/hmcts/reform/preapi/entities/Recording.java
  src/main/java/uk/gov/hmcts/reform/preapi/entities/Role.java
  src/main/java/uk/gov/hmcts/reform/preapi/entities/ShareBooking.java
  src/main/java/uk/gov/hmcts/reform/preapi/entities/User.java
Labels: ns:pre, prd:pre, rel:pre-api-pr-287

#292 Deploy infra to prod
  infrastructure/main.tf
Labels: ns:pre, prd:pre, add-or-update, rel:pre-api-pr-292

#297 S28 2468: Search Recordings by Participant Name
  pre-api-stg.yaml
  src/main/java/uk/gov/hmcts/reform/preapi/controllers/RecordingController.java
  src/main/java/uk/gov/hmcts/reform/preapi/controllers/params/SearchRecordings.java
  src/main/java/uk/gov/hmcts/reform/preapi/repositories/RecordingRepository.java
  src/main/java/uk/gov/hmcts/reform/preapi/services/RecordingService.java
  src/test/java/uk/gov/hmcts/reform/preapi/controller/RecordingControllerTest.java
  src/test/java/uk/gov/hmcts/reform/preapi/services/BookingServiceTest.java
  src/test/java/uk/gov/hmcts/reform/preapi/services/RecordingServiceTest.java
Labels: ns:pre, prd:pre, rel:pre-api-pr-297

#291 adding in deleted_at field for inactive participants
  bin/migration/tables/participants.py
Labels: ns:pre, prd:pre, rel:pre-api-pr-291

#300 S28 2468: Recording Search Params Update (`witnessName`, `defendantName`)
  pre-api-stg.yaml
  src/main/java/uk/gov/hmcts/reform/preapi/controllers/RecordingController.java
  src/main/java/uk/gov/hmcts/reform/preapi/controllers/params/SearchRecordings.java
  src/main/java/uk/gov/hmcts/reform/preapi/repositories/RecordingRepository.java
Labels: ns:pre, prd:pre, rel:pre-api-pr-300

#303 increase audit activity field as too short
  src/main/resources/db/migration/V015__UpdateFieldLength.sql
Labels: ns:pre, prd:pre, rel:pre-api-pr-303

#298 S28 2458/standardise failed migration log
  .gitignore
  bin/migration/README.md
  bin/migration/logger.py
  bin/migration/main_script.py
  bin/migration/migration_reports/constants.py
  bin/migration/migration_reports/failed_imports_logger.py
  bin/migration/migration_reports/migration_tracker.py
  bin/migration/migration_reports/sql_queries.py
  bin/migration/summary.py
  bin/migration/tables/appaccess.py
  bin/migration/tables/audits.py
  bin/migration/tables/bookingparticipants.py
  bin/migration/tables/bookings.py
  bin/migration/tables/capturesessions.py
  bin/migration/tables/cases.py
  bin/migration/tables/courtregions.py
  bin/migration/tables/courtrooms.py
  bin/migration/tables/courts.py
  bin/migration/tables/helpers.py
  bin/migration/tables/participants.py
  bin/migration/tables/portalaccess.py
  bin/migration/tables/recordings.py
  bin/migration/tables/regions.py
  bin/migration/tables/roles.py
  bin/migration/tables/rooms.py
  bin/migration/tables/sharebookings.py
  bin/migration/tables/users.py
Labels: ns:pre, prd:pre, rel:pre-api-pr-298

#301 S28 2469: API Admins Can Request Soft Deleted Values (GET `/recordings`, `/users`, `/cases`)
  pre-api-stg.yaml
  src/integrationTest/java/uk/gov/hmcts/reform/preapi/services/CaseServiceIT.java
  src/integrationTest/java/uk/gov/hmcts/reform/preapi/services/RecordingServiceIT.java
  src/integrationTest/java/uk/gov/hmcts/reform/preapi/services/UserServiceIT.java
  src/main/java/uk/gov/hmcts/reform/preapi/controllers/CaseController.java
  src/main/java/uk/gov/hmcts/reform/preapi/controllers/RecordingController.java
  src/main/java/uk/gov/hmcts/reform/preapi/controllers/UserController.java
  src/main/java/uk/gov/hmcts/reform/preapi/controllers/params/SearchCases.java
  src/main/java/uk/gov/hmcts/reform/preapi/controllers/params/SearchRecordings.java
  src/main/java/uk/gov/hmcts/reform/preapi/controllers/params/SearchUsers.java
  src/main/java/uk/gov/hmcts/reform/preapi/repositories/CaseRepository.java
  src/main/java/uk/gov/hmcts/reform/preapi/repositories/RecordingRepository.java
  src/main/java/uk/gov/hmcts/reform/preapi/repositories/UserRepository.java
  src/main/java/uk/gov/hmcts/reform/preapi/security/AuthorisationService.java
  src/main/java/uk/gov/hmcts/reform/preapi/services/BookingService.java
  src/main/java/uk/gov/hmcts/reform/preapi/services/CaptureSessionService.java
  src/main/java/uk/gov/hmcts/reform/preapi/services/CaseService.java
  src/main/java/uk/gov/hmcts/reform/preapi/services/RecordingService.java
  src/main/java/uk/gov/hmcts/reform/preapi/services/ReportService.java
  src/main/java/uk/gov/hmcts/reform/preapi/services/UserService.java
  src/test/java/uk/gov/hmcts/reform/preapi/controller/CaseControllerTest.java
  src/test/java/uk/gov/hmcts/reform/preapi/controller/RecordingControllerTest.java
  src/test/java/uk/gov/hmcts/reform/preapi/controller/UserControllerTest.java
  src/test/java/uk/gov/hmcts/reform/preapi/services/BookingServiceTest.java
  src/test/java/uk/gov/hmcts/reform/preapi/services/CaseServiceTest.java
  src/test/java/uk/gov/hmcts/reform/preapi/services/RecordingServiceTest.java
  src/test/java/uk/gov/hmcts/reform/preapi/services/UserServiceTest.java
Labels: ns:pre, prd:pre, rel:pre-api-pr-301

#308 S28 2170: Add Validators to `PUT /recordings/{id}` to Prevent 500 Errors
  pre-api-stg.yaml
  src/main/java/uk/gov/hmcts/reform/preapi/controllers/RecordingController.java
  src/main/java/uk/gov/hmcts/reform/preapi/dto/CreateRecordingDTO.java
  src/main/java/uk/gov/hmcts/reform/preapi/dto/base/BaseRecordingDTO.java
  src/main/java/uk/gov/hmcts/reform/preapi/dto/validators/JsonConstraint.java
  src/main/java/uk/gov/hmcts/reform/preapi/dto/validators/JsonValidator.java
  src/test/java/uk/gov/hmcts/reform/preapi/controller/RecordingControllerTest.java
  src/test/java/uk/gov/hmcts/reform/preapi/dto/validators/JsonValidatorTest.java
Labels: ns:pre, prd:pre, rel:pre-api-pr-308

#306 S28 2277/portal access
  bin/migration/tables/appaccess.py
  bin/migration/tables/audits.py
  bin/migration/tables/portalaccess.py
Labels: ns:pre, prd:pre, rel:pre-api-pr-306

#304 S28 2475: Fix Data Returned not Filtered by User's Court
  src/main/java/uk/gov/hmcts/reform/preapi/services/BookingService.java
  src/main/java/uk/gov/hmcts/reform/preapi/services/CaptureSessionService.java
  src/main/java/uk/gov/hmcts/reform/preapi/services/CaseService.java
  src/main/java/uk/gov/hmcts/reform/preapi/services/RecordingService.java
Labels: ns:pre, prd:pre, rel:pre-api-pr-304

#307 S28-2322/redeem invites
  pre-api-stg.yaml
  src/main/java/uk/gov/hmcts/reform/preapi/controllers/InviteController.java
  src/main/java/uk/gov/hmcts/reform/preapi/dto/CreateInviteDTO.java
  src/main/java/uk/gov/hmcts/reform/preapi/dto/InviteDTO.java
  src/main/java/uk/gov/hmcts/reform/preapi/entities/Invite.java
  src/main/java/uk/gov/hmcts/reform/preapi/entities/PortalAccess.java
  src/main/java/uk/gov/hmcts/reform/preapi/repositories/InviteRepository.java
  src/main/java/uk/gov/hmcts/reform/preapi/repositories/PortalAccessRepository.java
  src/main/java/uk/gov/hmcts/reform/preapi/services/InviteService.java
  src/main/java/uk/gov/hmcts/reform/preapi/services/UserService.java
  src/main/resources/db/migration/V016__RemoveInviteTableAndAddInviteCodeToPortalAccess.sql
  src/test/java/uk/gov/hmcts/reform/preapi/controller/InviteControllerTest.java
  src/test/java/uk/gov/hmcts/reform/preapi/controller/UserControllerTest.java
  src/test/java/uk/gov/hmcts/reform/preapi/dto/InviteDTOTest.java
  src/test/java/uk/gov/hmcts/reform/preapi/services/InviteServiceTest.java
  src/test/java/uk/gov/hmcts/reform/preapi/services/UserServiceTest.java
Labels: ns:pre, prd:pre, rel:pre-api-pr-307

#315 Amend action to compare branch to master
  .github/workflows/publish-swagger-v2-and-bump-apim-revision.yaml
Labels: ns:pre, prd:pre, rel:pre-api-pr-315

#316 Fix: Bump APIm Version to 33
  infrastructure/main.tf
Labels: ns:pre, prd:pre, destroy, rel:pre-api-pr-316

#319 S28-2393 Add unique constraints to appropriate columns
  src/integrationTest/java/uk/gov/hmcts/reform/preapi/services/RecordingServiceIT.java
  src/main/java/uk/gov/hmcts/reform/preapi/controllers/TestingSupportController.java
  src/main/resources/db/migration/V017__AddUniqueConstraints.sql
Labels: ns:pre, prd:pre, rel:pre-api-pr-319

#318 Feature: Add search param `captureSessionStatus` to `GET /bookings`
  pre-api-stg.yaml
  src/integrationTest/java/uk/gov/hmcts/reform/preapi/services/BookingServiceIT.java
  src/main/java/uk/gov/hmcts/reform/preapi/controllers/BookingController.java
  src/main/java/uk/gov/hmcts/reform/preapi/controllers/params/SearchBookings.java
  src/main/java/uk/gov/hmcts/reform/preapi/repositories/BookingRepository.java
  src/main/java/uk/gov/hmcts/reform/preapi/services/BookingService.java
  src/test/java/uk/gov/hmcts/reform/preapi/controller/BookingControllerTest.java
  src/test/java/uk/gov/hmcts/reform/preapi/services/BookingServiceTest.java
Labels: ns:pre, prd:pre, rel:pre-api-pr-318

#322 Improve the API revision bumping logic
  .github/workflows/publish-swagger-v2-and-bump-apim-revision.yaml
Labels: ns:pre, prd:pre, rel:pre-api-pr-322

#324 Fix: Cascade Delete Error When Associated Recording Not Deleted
  src/functionalTest/java/uk/gov/hmcts/reform/preapi/controllers/BookingControllerFT.java
  src/integrationTest/java/uk/gov/hmcts/reform/preapi/services/CaseServiceIT.java
  src/main/java/uk/gov/hmcts/reform/preapi/exception/GlobalControllerExceptionHandler.java
  src/main/java/uk/gov/hmcts/reform/preapi/exception/RecordingNotDeletedException.java
  src/main/java/uk/gov/hmcts/reform/preapi/repositories/RecordingRepository.java
  src/main/java/uk/gov/hmcts/reform/preapi/services/BookingService.java
  src/main/java/uk/gov/hmcts/reform/preapi/services/CaptureSessionService.java
  src/main/java/uk/gov/hmcts/reform/preapi/services/CaseService.java
  src/main/java/uk/gov/hmcts/reform/preapi/services/CourtService.java
  src/main/java/uk/gov/hmcts/reform/preapi/services/InviteService.java
  src/main/java/uk/gov/hmcts/reform/preapi/services/RecordingService.java
  src/main/java/uk/gov/hmcts/reform/preapi/services/ReportService.java
  src/main/java/uk/gov/hmcts/reform/preapi/services/RoleService.java
  src/main/java/uk/gov/hmcts/reform/preapi/services/ShareBookingService.java
  src/main/java/uk/gov/hmcts/reform/preapi/services/UserService.java
  src/test/java/uk/gov/hmcts/reform/preapi/controller/BookingControllerTest.java
  src/test/java/uk/gov/hmcts/reform/preapi/controller/CaptureSessionControllerTest.java
  src/test/java/uk/gov/hmcts/reform/preapi/controller/CaseControllerTest.java
  src/test/java/uk/gov/hmcts/reform/preapi/services/RecordingServiceTest.java
Labels: ns:pre, prd:pre, rel:pre-api-pr-324

#325 Fix: `GET /users/{id}` Should Return Users without App Access
  infrastructure/main.tf
  pre-api-stg.yaml
  src/main/java/uk/gov/hmcts/reform/preapi/controllers/UserController.java
  src/main/java/uk/gov/hmcts/reform/preapi/dto/AppAccessDTO.java
  src/main/java/uk/gov/hmcts/reform/preapi/dto/UserDTO.java
  src/main/java/uk/gov/hmcts/reform/preapi/services/UserService.java
  src/test/java/uk/gov/hmcts/reform/preapi/services/UserServiceTest.java
Labels: ns:pre, prd:pre, destroy, rel:pre-api-pr-325

#326 Return case isTest flag with recordings
  infrastructure/main.tf
  pre-api-stg.yaml
  src/main/java/uk/gov/hmcts/reform/preapi/dto/RecordingDTO.java
Labels: ns:pre, prd:pre, destroy, rel:pre-api-pr-326

#323 Data Mapping
  bin/migration/main_script.py
  bin/migration/migration_reports/failed_imports_logger.py
  bin/migration/migration_reports/migration_tracker.py
  bin/migration/tables/bookings.py
  bin/migration/tables/capturesessions.py
  bin/migration/tables/helpers.py
  bin/migration/tables/participants.py
  bin/migration/tables/recordings.py
  bin/migration/tables/sharebookings.py
Labels: ns:pre, prd:pre, rel:pre-api-pr-323

#330 Fix: remove unique constraints for now
  src/main/resources/db/migration/V017__AddUniqueConstraints.sql
Labels: ns:pre, prd:pre, rel:pre-api-pr-330

#331 Adding status to capture sessions
  bin/migration/tables/bookingparticipants.py
  bin/migration/tables/bookings.py
  bin/migration/tables/capturesessions.py
Labels: ns:pre, prd:pre, rel:pre-api-pr-331

#338 S28 2265: Untangle GET /users response and AppAccessDTO
  infrastructure/main.tf
  pre-api-stg.yaml
  src/main/java/uk/gov/hmcts/reform/preapi/controllers/UserController.java
  src/main/java/uk/gov/hmcts/reform/preapi/dto/AppAccessDTO.java
  src/main/java/uk/gov/hmcts/reform/preapi/dto/CreateUserDTO.java
  src/main/java/uk/gov/hmcts/reform/preapi/dto/UserDTO.java
  src/main/java/uk/gov/hmcts/reform/preapi/dto/base/BaseAppAccessDTO.java
  src/main/java/uk/gov/hmcts/reform/preapi/dto/base/BaseUserDTO.java
  src/main/java/uk/gov/hmcts/reform/preapi/services/UserService.java
  src/test/java/uk/gov/hmcts/reform/preapi/controller/UserControllerTest.java
  src/test/java/uk/gov/hmcts/reform/preapi/services/UserServiceTest.java
  src/test/java/uk/gov/hmcts/reform/preapi/util/HelperFactory.java
Labels: ns:pre, prd:pre, destroy, rel:pre-api-pr-338

#339 refactor of migration tracker and migration logger
  bin/migration/README.md
  bin/migration/main_script.py
  bin/migration/migration_reports/failed_imports_logger.py
  bin/migration/migration_reports/logging_config.json
  bin/migration/migration_reports/logging_utils.py
  bin/migration/migration_reports/migration_tracker.py
  bin/migration/migration_reports/sql_queries.py
  bin/migration/tables/helpers.py
  bin/migration/tables/participants.py
Labels: ns:pre, prd:pre, rel:pre-api-pr-339

#341 S28 2538: Add endpoint GET `/rooms`
  infrastructure/main.tf
  pre-api-stg.yaml
  src/main/java/uk/gov/hmcts/reform/preapi/controllers/RoomController.java
  src/main/java/uk/gov/hmcts/reform/preapi/services/RoomService.java
  src/test/java/uk/gov/hmcts/reform/preapi/controller/RoomControllerTest.java
  src/test/java/uk/gov/hmcts/reform/preapi/services/RoomServiceTest.java
Labels: ns:pre, prd:pre, destroy, rel:pre-api-pr-341

#340 S28 2266: Fix + Refactor `PUT /user/{id}`
  infrastructure/main.tf
  pre-api-stg.yaml
  src/main/java/uk/gov/hmcts/reform/preapi/controllers/UserController.java
  src/main/java/uk/gov/hmcts/reform/preapi/dto/CreateAppAccessDTO.java
  src/main/java/uk/gov/hmcts/reform/preapi/dto/CreateUserDTO.java
  src/main/java/uk/gov/hmcts/reform/preapi/dto/base/BaseUserDTO.java
  src/main/java/uk/gov/hmcts/reform/preapi/entities/AppAccess.java
  src/main/java/uk/gov/hmcts/reform/preapi/services/AppAccessService.java
  src/main/java/uk/gov/hmcts/reform/preapi/services/UserService.java
  src/test/java/uk/gov/hmcts/reform/preapi/controller/UserControllerTest.java
  src/test/java/uk/gov/hmcts/reform/preapi/services/AppAccessServiceTest.java
  src/test/java/uk/gov/hmcts/reform/preapi/services/UserServiceTest.java
Labels: ns:pre, prd:pre, destroy, rel:pre-api-pr-340

#344 S28 2267: Delete/Undelete Updates AppAccess Active Value
  src/integrationTest/java/uk/gov/hmcts/reform/preapi/services/UserServiceIT.java
  src/main/java/uk/gov/hmcts/reform/preapi/entities/base/CreatedModifiedAtEntity.java
  src/main/java/uk/gov/hmcts/reform/preapi/repositories/AppAccessRepository.java
  src/main/java/uk/gov/hmcts/reform/preapi/repositories/PortalAccessRepository.java
  src/main/java/uk/gov/hmcts/reform/preapi/services/UserService.java
  src/test/java/uk/gov/hmcts/reform/preapi/services/UserServiceTest.java
Labels: ns:pre, prd:pre, rel:pre-api-pr-344

#346 S28 2266: PUT `/users/{id}` Add Portal Access Field
  infrastructure/main.tf
  pre-api-stg.yaml
  src/integrationTest/java/uk/gov/hmcts/reform/preapi/entities/PortalAccessTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/preapi/services/UserServiceIT.java
  src/main/java/uk/gov/hmcts/reform/preapi/dto/CreatePortalAccessDTO.java
  src/main/java/uk/gov/hmcts/reform/preapi/dto/CreateUserDTO.java
  src/main/java/uk/gov/hmcts/reform/preapi/entities/PortalAccess.java
  src/main/java/uk/gov/hmcts/reform/preapi/repositories/PortalAccessRepository.java
  src/main/java/uk/gov/hmcts/reform/preapi/services/PortalAccessService.java
  src/main/java/uk/gov/hmcts/reform/preapi/services/UserService.java
  src/main/resources/db/migration/V017__RemovePortalAccessPasswordField.sql
  src/test/java/uk/gov/hmcts/reform/preapi/controller/UserControllerTest.java
  src/test/java/uk/gov/hmcts/reform/preapi/services/PortalAccessServiceTest.java
  src/test/java/uk/gov/hmcts/reform/preapi/services/UserServiceTest.java
Labels: ns:pre, prd:pre, destroy, rel:pre-api-pr-346

#345 S28 2317: Fix Concurrent Capture Sessions Report 500 Error
  src/main/java/uk/gov/hmcts/reform/preapi/repositories/RecordingRepository.java
  src/main/java/uk/gov/hmcts/reform/preapi/services/ReportService.java
  src/test/java/uk/gov/hmcts/reform/preapi/services/ReportServiceTest.java
Labels: ns:pre, prd:pre, rel:pre-api-pr-345

#350 S28 2264: GET `/users` Search Param `name`
  infrastructure/main.tf
  pre-api-stg.yaml
  src/integrationTest/java/uk/gov/hmcts/reform/preapi/services/UserServiceIT.java
  src/main/java/uk/gov/hmcts/reform/preapi/controllers/UserController.java
  src/main/java/uk/gov/hmcts/reform/preapi/controllers/params/SearchUsers.java
  src/main/java/uk/gov/hmcts/reform/preapi/repositories/UserRepository.java
  src/main/java/uk/gov/hmcts/reform/preapi/services/UserService.java
  src/test/java/uk/gov/hmcts/reform/preapi/controller/UserControllerTest.java
  src/test/java/uk/gov/hmcts/reform/preapi/services/UserServiceTest.java
Labels: ns:pre, prd:pre, destroy, rel:pre-api-pr-350
