Repository hmcts/pre-api, pull requests merged in 2024-08, with the labels that each got.

#629 S28 2972: Fix Check Stream Endpoint Responses
  infrastructure/main.tf
  pre-api-stg.yaml
  src/main/java/uk/gov/hmcts/reform/preapi/controllers/MediaServiceController.java
  src/main/java/uk/gov/hmcts/reform/preapi/exception/GlobalControllerExceptionHandler.java
  src/main/java/uk/gov/hmcts/reform/preapi/exception/UnprocessableContentException.java
  src/main/java/uk/gov/hmcts/reform/preapi/media/storage/AzureStorageService.java
  src/test/java/uk/gov/hmcts/reform/preapi/controller/MediaServiceControllerTest.java
  src/test/java/uk/gov/hmcts/reform/preapi/media/storage/AzureFinalStorageServiceTest.java
Labels: ns:pre, prd:pre, enable_keep_helm, stg/destroy, prod/destroy, rel:pre-api-pr-629

#648 S28 2972: Revert Making Check Stream Not Return Capture Session
  infrastructure/main.tf
  pre-api-stg.yaml
  src/main/java/uk/gov/hmcts/reform/preapi/controllers/MediaServiceController.java
  src/test/java/uk/gov/hmcts/reform/preapi/controller/MediaServiceControllerTest.java
Labels: ns:pre, prd:pre, enable_keep_helm, stg/destroy, prod/destroy, rel:pre-api-pr-648

#645 Fix: Enable RTMPS on MK
  src/main/java/uk/gov/hmcts/reform/preapi/dto/media/LiveEventDTO.java
  src/main/java/uk/gov/hmcts/reform/preapi/media/MediaKind.java
  src/main/java/uk/gov/hmcts/reform/preapi/media/dto/MkLiveEventProperties.java
  src/test/java/uk/gov/hmcts/reform/preapi/media/MediaKindTest.java
Labels: ns:pre, prd:pre, enable_keep_helm, rel:pre-api-pr-645

#650 S28 3171: Check stream MK not looking for `gc_state`
  src/main/java/uk/gov/hmcts/reform/preapi/controllers/MediaServiceController.java
  src/test/java/uk/gov/hmcts/reform/preapi/controller/MediaServiceControllerTest.java
Labels: ns:pre, prd:pre, enable_keep_helm, rel:pre-api-pr-650

#658 Adds subscription to APIm for the Editing VM
  infrastructure/main.tf
Labels: ns:pre, prd:pre, stg/add-or-update, prod/add-or-update, rel:pre-api-pr-658

#659 Transaction fix
  src/main/java/uk/gov/hmcts/reform/preapi/media/MediaKind.java
  src/main/java/uk/gov/hmcts/reform/preapi/tasks/CleanupLiveEvents.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/preapi/media/MediaKindTest.java
  src/test/java/uk/gov/hmcts/reform/preapi/tasks/CleanupLiveEventsTest.java
Labels: ns:pre, prd:pre, rel:pre-api-pr-659

#664 S28 3206: Create live events with type `PassthroughBasic`
  src/main/java/uk/gov/hmcts/reform/preapi/media/MediaKind.java
Labels: ns:pre, prd:pre, enable_keep_helm, rel:pre-api-pr-664

#668 Use stg SA for MK in Staging
  charts/pre-api/values.dev.template.yaml
  charts/pre-api/values.stg.template.yaml
Labels: ns:pre, prd:pre, rel:pre-api-pr-668

#673 Increase helm version
  charts/pre-api/Chart.yaml
Labels: ns:pre, prd:pre, rel:pre-api-pr-673

#676 S28 3192: Default Endpoint for Live Playback
  charts/pre-api/values.dev.template.yaml
  charts/pre-api/values.stg.template.yaml
  src/functionalTest/java/uk/gov/hmcts/reform/preapi/controllers/ReportControllerFT.java
  src/main/java/uk/gov/hmcts/reform/preapi/controllers/MediaServiceController.java
  src/main/java/uk/gov/hmcts/reform/preapi/media/IMediaService.java
  src/main/java/uk/gov/hmcts/reform/preapi/media/MediaKind.java
  src/test/java/uk/gov/hmcts/reform/preapi/media/MediaKindTest.java
Labels: ns:pre, prd:pre, enable_keep_helm, rel:pre-api-pr-676

#652 S28 3072/bugs
  charts/pre-api/Chart.yaml
  charts/pre-api/values.dev.template.yaml
  infrastructure/main.tf
  pre-api-stg.yaml
  src/main/java/uk/gov/hmcts/reform/preapi/config/SecurityConfig.java
  src/main/java/uk/gov/hmcts/reform/preapi/controllers/MediaServiceController.java
  src/main/java/uk/gov/hmcts/reform/preapi/controllers/params/SearchRecordings.java
  src/main/java/uk/gov/hmcts/reform/preapi/dto/media/GenerateAssetDTO.java
  src/main/java/uk/gov/hmcts/reform/preapi/media/AzureMediaService.java
  src/main/java/uk/gov/hmcts/reform/preapi/media/MediaKind.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/preapi/controller/MediaServiceControllerTest.java
  src/test/java/uk/gov/hmcts/reform/preapi/media/AzureMediaServiceTest.java
  src/test/java/uk/gov/hmcts/reform/preapi/media/MediaKindTest.java
Labels: ns:pre, prd:pre, enable_keep_helm, stg/destroy, prod/destroy, rel:pre-api-pr-652

#688 Append job chart to java one
  charts/pre-api/Chart.yaml
  charts/pre-api/values.yaml
Labels: ns:pre, prd:pre, rel:pre-api-pr-688
