Repository hmcts/pre-api, pull requests merged in 2024-03, with the labels that each got.

#354 Fix: Allow invited_at to be nullable
  infrastructure/main.tf
  pre-api-stg.yaml
  src/main/java/uk/gov/hmcts/reform/preapi/dto/CreatePortalAccessDTO.java
  src/main/java/uk/gov/hmcts/reform/preapi/entities/PortalAccess.java
  src/test/java/uk/gov/hmcts/reform/preapi/controller/UserControllerTest.java
Labels: ns:pre, prd:pre, destroy, rel:pre-api-pr-354

#349 S28 2563: Remove Hard-coded Court Filter (for API use in Admin Section)
  infrastructure/main.tf
  pre-api-stg.yaml
  src/main/java/uk/gov/hmcts/reform/preapi/controllers/CaptureSessionController.java
  src/main/java/uk/gov/hmcts/reform/preapi/controllers/params/SearchCaptureSessions.java
  src/main/java/uk/gov/hmcts/reform/preapi/repositories/CaptureSessionRepository.java
  src/main/java/uk/gov/hmcts/reform/preapi/services/BookingService.java
  src/main/java/uk/gov/hmcts/reform/preapi/services/CaptureSessionService.java
  src/main/java/uk/gov/hmcts/reform/preapi/services/CaseService.java
  src/main/java/uk/gov/hmcts/reform/preapi/services/RecordingService.java
  src/test/java/uk/gov/hmcts/reform/preapi/controller/CaptureSessionControllerTest.java
  src/test/java/uk/gov/hmcts/reform/preapi/services/BookingServiceTest.java
  src/test/java/uk/gov/hmcts/reform/preapi/services/CaptureSessionServiceTest.java
  src/test/java/uk/gov/hmcts/reform/preapi/services/CaseServiceTest.java
Labels: ns:pre, prd:pre, destroy, rel:pre-api-pr-349

#356 Fix: Access Deletion Causing 404
  infrastructure/main.tf
  src/main/java/uk/gov/hmcts/reform/preapi/services/UserService.java
Labels: ns:pre, prd:pre, destroy, rel:pre-api-pr-356

#360 Feature: Add Params `id` and `startedAt` + Remove Param `scheduledFor`
  infrastructure/main.tf
  pre-api-stg.yaml
  src/main/java/uk/gov/hmcts/reform/preapi/controllers/RecordingController.java
  src/main/java/uk/gov/hmcts/reform/preapi/controllers/params/SearchRecordings.java
  src/main/java/uk/gov/hmcts/reform/preapi/repositories/RecordingRepository.java
  src/main/java/uk/gov/hmcts/reform/preapi/services/RecordingService.java
  src/test/java/uk/gov/hmcts/reform/preapi/controller/RecordingControllerTest.java
  src/test/java/uk/gov/hmcts/reform/preapi/controller/params/SearchRecordingsTest.java
  src/test/java/uk/gov/hmcts/reform/preapi/services/RecordingServiceTest.java
Labels: ns:pre, prd:pre, destroy, rel:pre-api-pr-360

#359 S28 2550: Fix Empty String Search Params Affecting Responses
  src/main/java/uk/gov/hmcts/reform/preapi/controllers/params/SearchBookings.java
  src/main/java/uk/gov/hmcts/reform/preapi/controllers/params/SearchCaptureSessions.java
  src/main/java/uk/gov/hmcts/reform/preapi/controllers/params/SearchCases.java
  src/main/java/uk/gov/hmcts/reform/preapi/controllers/params/SearchCourts.java
  src/main/java/uk/gov/hmcts/reform/preapi/controllers/params/SearchInvites.java
  src/main/java/uk/gov/hmcts/reform/preapi/controllers/params/SearchRecordings.java
  src/main/java/uk/gov/hmcts/reform/preapi/controllers/params/SearchSharedReport.java
  src/main/java/uk/gov/hmcts/reform/preapi/controllers/params/SearchUsers.java
  src/test/java/uk/gov/hmcts/reform/preapi/controller/params/SearchBookingsTest.java
  src/test/java/uk/gov/hmcts/reform/preapi/controller/params/SearchCaptureSessionsTest.java
  src/test/java/uk/gov/hmcts/reform/preapi/controller/params/SearchCasesTest.java
  src/test/java/uk/gov/hmcts/reform/preapi/controller/params/SearchCourtsTest.java
  src/test/java/uk/gov/hmcts/reform/preapi/controller/params/SearchInvitesTest.java
  src/test/java/uk/gov/hmcts/reform/preapi/controller/params/SearchRecordingsTest.java
  src/test/java/uk/gov/hmcts/reform/preapi/controller/params/SearchUsersTest.java
Labels: ns:pre, prd:pre, rel:pre-api-pr-359

#357 S28 2511: `scheduled_for` Filtering in Search Queries
  src/main/java/uk/gov/hmcts/reform/preapi/repositories/BookingRepository.java
  src/main/java/uk/gov/hmcts/reform/preapi/repositories/CaptureSessionRepository.java
Labels: ns:pre, prd:pre, rel:pre-api-pr-357

#351 fixing the source field in the audits table
  bin/migration/tables/audits.py
Labels: ns:pre, prd:pre, rel:pre-api-pr-351

#364 Fix: Portal Access JPA Changes
  src/integrationTest/java/uk/gov/hmcts/reform/preapi/entities/PortalAccessTest.java
  src/main/java/uk/gov/hmcts/reform/preapi/dto/CreatePortalAccessDTO.java
  src/main/java/uk/gov/hmcts/reform/preapi/dto/PortalAccessDTO.java
  src/main/java/uk/gov/hmcts/reform/preapi/entities/PortalAccess.java
  src/main/java/uk/gov/hmcts/reform/preapi/enums/AccessStatus.java
  src/main/java/uk/gov/hmcts/reform/preapi/repositories/PortalAccessRepository.java
  src/main/java/uk/gov/hmcts/reform/preapi/services/InviteService.java
  src/main/java/uk/gov/hmcts/reform/preapi/services/PortalAccessService.java
  src/main/java/uk/gov/hmcts/reform/preapi/services/UserService.java
  src/test/java/uk/gov/hmcts/reform/preapi/controller/UserControllerTest.java
  src/test/java/uk/gov/hmcts/reform/preapi/services/InviteServiceTest.java
  src/test/java/uk/gov/hmcts/reform/preapi/services/PortalAccessServiceTest.java
Labels: ns:pre, prd:pre, rel:pre-api-pr-364

#366 S28 2511: Fix `scheduledFor` Search Param to `LocalDate`
  src/main/java/uk/gov/hmcts/reform/preapi/controllers/BookingController.java
  src/main/java/uk/gov/hmcts/reform/preapi/controllers/CaptureSessionController.java
  src/main/java/uk/gov/hmcts/reform/preapi/controllers/params/SearchBookings.java
  src/main/java/uk/gov/hmcts/reform/preapi/controllers/params/SearchCaptureSessions.java
Labels: ns:pre, prd:pre, rel:pre-api-pr-366

#367 S28 2511: Change Timezone in Repository Query
  src/main/java/uk/gov/hmcts/reform/preapi/repositories/BookingRepository.java
  src/main/java/uk/gov/hmcts/reform/preapi/repositories/CaptureSessionRepository.java
Labels: ns:pre, prd:pre, rel:pre-api-pr-367

#371 S28 2615: Add Search Params `page` and `size`
  infrastructure/main.tf
  pre-api-stg.yaml
  src/main/java/uk/gov/hmcts/reform/preapi/controllers/BookingController.java
Labels: ns:pre, prd:pre, destroy, rel:pre-api-pr-371

#373 removing parent_recording_ids for version 1 recordings
  bin/migration/tables/recordings.py
  infrastructure/main.tf
Labels: ns:pre, prd:pre, destroy, rel:pre-api-pr-373

#374 Enable portal to redeem invites
  infrastructure/main.tf
  pre-api-stg.yaml
  src/integrationTest/java/uk/gov/hmcts/reform/preapi/services/UserAuthenticationServiceIT.java
  src/main/java/uk/gov/hmcts/reform/preapi/config/SecurityConfig.java
  src/main/java/uk/gov/hmcts/reform/preapi/controllers/InviteController.java
  src/main/java/uk/gov/hmcts/reform/preapi/repositories/PortalAccessRepository.java
  src/main/java/uk/gov/hmcts/reform/preapi/repositories/ShareBookingRepository.java
  src/main/java/uk/gov/hmcts/reform/preapi/security/authentication/UserAuthentication.java
  src/main/java/uk/gov/hmcts/reform/preapi/security/service/UserAuthenticationService.java
  src/main/java/uk/gov/hmcts/reform/preapi/services/InviteService.java
  src/test/java/uk/gov/hmcts/reform/preapi/controller/InviteControllerTest.java
  src/test/java/uk/gov/hmcts/reform/preapi/util/HelperFactory.java
Labels: ns:pre, prd:pre, destroy, rel:pre-api-pr-374

#377 Fix: `GET /users/by-email/{email}` Endpoint Works for Portal and App Access Users
  infrastructure/main.tf
  pre-api-stg.yaml
  src/main/java/uk/gov/hmcts/reform/preapi/controllers/UserController.java
  src/main/java/uk/gov/hmcts/reform/preapi/dto/AccessDTO.java
  src/main/java/uk/gov/hmcts/reform/preapi/dto/AppAccessDTO.java
  src/main/java/uk/gov/hmcts/reform/preapi/entities/PortalAccess.java
  src/main/java/uk/gov/hmcts/reform/preapi/repositories/AppAccessRepository.java
  src/main/java/uk/gov/hmcts/reform/preapi/repositories/UserRepository.java
  src/main/java/uk/gov/hmcts/reform/preapi/services/UserService.java
  src/test/java/uk/gov/hmcts/reform/preapi/controller/UserControllerTest.java
  src/test/java/uk/gov/hmcts/reform/preapi/dto/AccessDTOTest.java
  src/test/java/uk/gov/hmcts/reform/preapi/services/UserServiceTest.java
Labels: ns:pre, prd:pre, destroy, rel:pre-api-pr-377

#379 Fix: 403 Error on `PUT /invites/{id}` Endpoint
  src/main/java/uk/gov/hmcts/reform/preapi/config/SecurityConfig.java
  src/main/java/uk/gov/hmcts/reform/preapi/security/filter/XUserIdFilter.java
  src/test/java/uk/gov/hmcts/reform/preapi/security/XUserIdFilterTest.java
Labels: ns:pre, prd:pre, rel:pre-api-pr-379

#383 Allow calling /health via APIm
  infrastructure/main.tf
  pre-api-stg.yaml
  src/main/resources/application.yaml
Labels: ns:pre, prd:pre, destroy, rel:pre-api-pr-383

#386 S28 2592: `PUT /user/{id}` Deletes App/Portal Access Correctly
  src/main/java/uk/gov/hmcts/reform/preapi/services/AppAccessService.java
  src/main/java/uk/gov/hmcts/reform/preapi/services/PortalAccessService.java
  src/main/java/uk/gov/hmcts/reform/preapi/services/UserService.java
  src/test/java/uk/gov/hmcts/reform/preapi/services/AppAccessServiceTest.java
  src/test/java/uk/gov/hmcts/reform/preapi/services/PortalAccessServiceTest.java
  src/test/java/uk/gov/hmcts/reform/preapi/services/UserServiceTest.java
Labels: ns:pre, prd:pre, rel:pre-api-pr-386

#385 S28 2369: Playback Report Get Data From Audit
  src/main/java/uk/gov/hmcts/reform/preapi/services/ReportService.java
  src/test/java/uk/gov/hmcts/reform/preapi/services/ReportServiceTest.java
Labels: ns:pre, prd:pre, rel:pre-api-pr-385

#392 Add liveness and exception alerts
  infrastructure/data.tf
  infrastructure/exception-alert.tf
  infrastructure/liveness-alert.tf
  src/main/resources/application.yaml
Labels: ns:pre, prd:pre, no-changes, rel:pre-api-pr-392

#376 S28 2630: Update `lastAccess` on Request
  src/integrationTest/java/uk/gov/hmcts/reform/preapi/entities/AppAccessTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/preapi/services/UserAuthenticationServiceIT.java
  src/main/java/uk/gov/hmcts/reform/preapi/dto/CreateAppAccessDTO.java
  src/main/java/uk/gov/hmcts/reform/preapi/dto/base/BaseAppAccessDTO.java
  src/main/java/uk/gov/hmcts/reform/preapi/entities/AppAccess.java
  src/main/java/uk/gov/hmcts/reform/preapi/security/service/UserAuthenticationService.java
  src/test/java/uk/gov/hmcts/reform/preapi/util/HelperFactory.java
Labels: ns:pre, prd:pre, rel:pre-api-pr-376

#394 Temp remove failing test
  src/functionalTest/java/uk/gov/hmcts/reform/preapi/controllers/BookingControllerFT.java
Labels: ns:pre, prd:pre, rel:pre-api-pr-394

#399 S28 2618: Prevent Creation of Users with Duplicate Emails
  src/main/java/uk/gov/hmcts/reform/preapi/repositories/UserRepository.java
  src/main/java/uk/gov/hmcts/reform/preapi/services/UserService.java
  src/test/java/uk/gov/hmcts/reform/preapi/services/UserServiceTest.java
Labels: ns:pre, prd:pre, rel:pre-api-pr-399

#396 S28 2577: Fix: `hasRecordings` Hides Bookings with Capture Sessions of Status `RECORDING_AVAILABLE`
  src/main/java/uk/gov/hmcts/reform/preapi/repositories/BookingRepository.java
Labels: ns:pre, prd:pre, rel:pre-api-pr-396

#395 S28 2662: Order `GET /recordings` by case reference and version
  src/main/java/uk/gov/hmcts/reform/preapi/repositories/RecordingRepository.java
Labels: ns:pre, prd:pre, rel:pre-api-pr-395

#401 S28 2577: Fix `GET /bookings` Search Param `hasRecordings`
  src/main/java/uk/gov/hmcts/reform/preapi/repositories/BookingRepository.java
Labels: ns:pre, prd:pre, rel:pre-api-pr-401

#404 Fix: Add `GET /invites` search param `accessStatus`
  infrastructure/main.tf
  pre-api-stg.yaml
  src/main/java/uk/gov/hmcts/reform/preapi/controllers/InviteController.java
  src/main/java/uk/gov/hmcts/reform/preapi/controllers/params/SearchInvites.java
  src/main/java/uk/gov/hmcts/reform/preapi/repositories/PortalAccessRepository.java
  src/main/java/uk/gov/hmcts/reform/preapi/services/InviteService.java
  src/test/java/uk/gov/hmcts/reform/preapi/controller/InviteControllerTest.java
  src/test/java/uk/gov/hmcts/reform/preapi/services/InviteServiceTest.java
Labels: ns:pre, prd:pre, destroy, rel:pre-api-pr-404

#403 checking for recording availability and failing if null
  bin/migration/tables/__init__.py
  bin/migration/tables/recordings.py
Labels: ns:pre, prd:pre, rel:pre-api-pr-403

#402 S28 2693: Throw Conflict Error on Booking Already Shared with User
  src/main/java/uk/gov/hmcts/reform/preapi/repositories/ShareBookingRepository.java
  src/main/java/uk/gov/hmcts/reform/preapi/services/ShareBookingService.java
  src/test/java/uk/gov/hmcts/reform/preapi/services/ShareBookingServiceTest.java
Labels: ns:pre, prd:pre, rel:pre-api-pr-402

#410 Update mermaid diagram in readme
  README.md
Labels: ns:pre, prd:pre, rel:pre-api-pr-410

#413 Fix: Invite search by status
  src/main/java/uk/gov/hmcts/reform/preapi/controllers/InviteController.java
  src/main/java/uk/gov/hmcts/reform/preapi/controllers/params/SearchInvites.java
Labels: ns:pre, prd:pre, rel:pre-api-pr-413

#415 S28 2734: Search Rooms by Court Id + Refactor IT
  infrastructure/main.tf
  pre-api-stg.yaml
  src/integrationTest/java/uk/gov/hmcts/reform/preapi/services/AuditServiceIT.java
  src/integrationTest/java/uk/gov/hmcts/reform/preapi/services/BookingServiceIT.java
  src/integrationTest/java/uk/gov/hmcts/reform/preapi/services/CaseServiceIT.java
  src/integrationTest/java/uk/gov/hmcts/reform/preapi/services/RecordingServiceIT.java
  src/integrationTest/java/uk/gov/hmcts/reform/preapi/services/ReportServiceIT.java
  src/integrationTest/java/uk/gov/hmcts/reform/preapi/services/RoomServiceIT.java
  src/integrationTest/java/uk/gov/hmcts/reform/preapi/services/UserAuthenticationServiceIT.java
  src/integrationTest/java/uk/gov/hmcts/reform/preapi/services/UserServiceIT.java
  src/integrationTest/java/uk/gov/hmcts/reform/preapi/utils/IntegrationTestBase.java
  src/main/java/uk/gov/hmcts/reform/preapi/controllers/RoomController.java
  src/main/java/uk/gov/hmcts/reform/preapi/controllers/params/SearchRooms.java
  src/main/java/uk/gov/hmcts/reform/preapi/repositories/RoomRepository.java
  src/main/java/uk/gov/hmcts/reform/preapi/services/RoomService.java
  src/test/java/uk/gov/hmcts/reform/preapi/controller/RoomControllerTest.java
  src/test/java/uk/gov/hmcts/reform/preapi/services/RoomServiceTest.java
Labels: ns:pre, prd:pre, destroy, rel:pre-api-pr-415

#417 S28 2141: Param `isPortalUser` Filters out Users with Status `INACTIVE`
  src/integrationTest/java/uk/gov/hmcts/reform/preapi/services/UserServiceIT.java
  src/main/java/uk/gov/hmcts/reform/preapi/repositories/UserRepository.java
Labels: ns:pre, prd:pre, rel:pre-api-pr-417

#411 S28 2717: Allow Creation of Case with Existing Case Reference in a Different Court
  src/integrationTest/java/uk/gov/hmcts/reform/preapi/services/CaseServiceIT.java
  src/main/java/uk/gov/hmcts/reform/preapi/repositories/CaseRepository.java
  src/main/java/uk/gov/hmcts/reform/preapi/services/CaseService.java
  src/test/java/uk/gov/hmcts/reform/preapi/controller/CaseControllerTest.java
  src/test/java/uk/gov/hmcts/reform/preapi/services/CaseServiceTest.java
  src/test/java/uk/gov/hmcts/reform/preapi/util/HelperFactory.java
Labels: ns:pre, prd:pre, rel:pre-api-pr-411

#414 S28 2354: FT Scenario Delete Case + Refactor FT
  src/functionalTest/java/uk/gov/hmcts/reform/preapi/controllers/AuditControllerFT.java
  src/functionalTest/java/uk/gov/hmcts/reform/preapi/controllers/BookingControllerFT.java
  src/functionalTest/java/uk/gov/hmcts/reform/preapi/controllers/CaseControllerFT.java
  src/functionalTest/java/uk/gov/hmcts/reform/preapi/security/XUserIdFilterFT.java
  src/functionalTest/java/uk/gov/hmcts/reform/preapi/util/FunctionalTestBase.java
Labels: ns:pre, prd:pre, rel:pre-api-pr-414

#416 S28 2734: Migration Script Add New Court
  bin/migration/tables/courtregions.py
  bin/migration/tables/courtrooms.py
  bin/migration/tables/courts.py
Labels: ns:pre, prd:pre, rel:pre-api-pr-416

#422 S28 2267: Fix Delete User Deletes Portal Access Correctly
  src/main/java/uk/gov/hmcts/reform/preapi/services/AppAccessService.java
  src/main/java/uk/gov/hmcts/reform/preapi/services/UserService.java
  src/test/java/uk/gov/hmcts/reform/preapi/services/UserServiceTest.java
Labels: ns:pre, prd:pre, rel:pre-api-pr-422

#421 Functional Tests: Put User
  src/functionalTest/java/uk/gov/hmcts/reform/preapi/controllers/AuditControllerFT.java
  src/functionalTest/java/uk/gov/hmcts/reform/preapi/controllers/BookingControllerFT.java
  src/functionalTest/java/uk/gov/hmcts/reform/preapi/controllers/CaseControllerFT.java
  src/functionalTest/java/uk/gov/hmcts/reform/preapi/controllers/UserControllerFT.java
  src/functionalTest/java/uk/gov/hmcts/reform/preapi/util/FunctionalTestBase.java
Labels: ns:pre, prd:pre, rel:pre-api-pr-421

#423 Functional Test: Delete Booking/Capture Session with Recording
  src/functionalTest/java/uk/gov/hmcts/reform/preapi/controllers/BookingControllerFT.java
  src/functionalTest/java/uk/gov/hmcts/reform/preapi/controllers/CaptureSessionControllerFT.java
  src/functionalTest/java/uk/gov/hmcts/reform/preapi/util/FunctionalTestBase.java
  src/main/java/uk/gov/hmcts/reform/preapi/controllers/TestingSupportController.java
Labels: ns:pre, prd:pre, rel:pre-api-pr-423
