Repository hmcts/pre-api, pull requests merged in 2024-01, with the labels that each got.

#147 Fix: API PUT Errors + General Code Cleanup
  src/main/java/uk/gov/hmcts/reform/preapi/controllers/RecordingController.java
  src/main/java/uk/gov/hmcts/reform/preapi/repositories/RecordingRepository.java
  src/main/java/uk/gov/hmcts/reform/preapi/services/CaseService.java
  src/main/java/uk/gov/hmcts/reform/preapi/services/CourtService.java
  src/main/java/uk/gov/hmcts/reform/preapi/services/RecordingService.java
  src/test/java/uk/gov/hmcts/reform/preapi/controller/RecordingControllerTest.java
  src/test/java/uk/gov/hmcts/reform/preapi/services/CaseServiceTest.java
  src/test/java/uk/gov/hmcts/reform/preapi/services/CourtServiceTest.java
  src/test/java/uk/gov/hmcts/reform/preapi/services/RecordingServiceTest.java
Labels: ns:pre, prd:pre, rel:pre-api-pr-147

#153 S28 2290: Flatten Recordings API Endpoints
  src/functionalTest/java/uk/gov/hmcts/reform/preapi/controllers/BookingControllerFT.java
  src/main/java/uk/gov/hmcts/reform/preapi/controllers/RecordingController.java
  src/main/java/uk/gov/hmcts/reform/preapi/controllers/params/SearchRecordings.java
  src/main/java/uk/gov/hmcts/reform/preapi/repositories/CaptureSessionRepository.java
  src/main/java/uk/gov/hmcts/reform/preapi/repositories/RecordingRepository.java
  src/main/java/uk/gov/hmcts/reform/preapi/services/RecordingService.java
  src/test/java/uk/gov/hmcts/reform/preapi/controller/RecordingControllerTest.java
  src/test/java/uk/gov/hmcts/reform/preapi/services/BookingServiceTest.java
  src/test/java/uk/gov/hmcts/reform/preapi/services/RecordingServiceTest.java
Labels: ns:pre, prd:pre, rel:pre-api-pr-153

#158 Adds types and page param to swagger
  .github/workflows/publish-swagger-v2.yaml
  pre-api-stg.yaml
  src/main/java/uk/gov/hmcts/reform/preapi/controllers/BookingController.java
  src/main/java/uk/gov/hmcts/reform/preapi/controllers/CaseController.java
  src/main/java/uk/gov/hmcts/reform/preapi/controllers/CourtController.java
  src/main/java/uk/gov/hmcts/reform/preapi/controllers/RecordingController.java
  src/main/java/uk/gov/hmcts/reform/preapi/controllers/UserController.java
Labels: ns:pre, prd:pre, rel:pre-api-pr-158

#160 Fix flyway postgres host for gradle tasks
  build.gradle
Labels: ns:pre, prd:pre, rel:pre-api-pr-160

#159 Fix: Add `active` UserDTO and CreateUserDTO
  pre-api-stg.yaml
  src/main/java/uk/gov/hmcts/reform/preapi/dto/UserDTO.java
  src/main/java/uk/gov/hmcts/reform/preapi/dto/base/BaseUserDTO.java
  src/main/java/uk/gov/hmcts/reform/preapi/services/UserService.java
Labels: ns:pre, prd:pre, rel:pre-api-pr-159

#162 Fix: Case Not Saved Booking Error
  src/main/java/uk/gov/hmcts/reform/preapi/services/BookingService.java
  src/test/java/uk/gov/hmcts/reform/preapi/services/BookingServiceTest.java
Labels: ns:pre, prd:pre, rel:pre-api-pr-162

#165 S28 2317: API Report concurrent capture sessions to replace `v_concurrent_recording_report`
  pre-api-stg.yaml
  src/main/java/uk/gov/hmcts/reform/preapi/controllers/ReportController.java
  src/main/java/uk/gov/hmcts/reform/preapi/dto/reports/CaptureSessionReportDTO.java
  src/main/java/uk/gov/hmcts/reform/preapi/repositories/RecordingRepository.java
  src/main/java/uk/gov/hmcts/reform/preapi/services/ReportService.java
  src/test/java/uk/gov/hmcts/reform/preapi/controller/ReportControllerTest.java
  src/test/java/uk/gov/hmcts/reform/preapi/services/ReportServiceTest.java
Labels: ns:pre, prd:pre, rel:pre-api-pr-165

#124 S28-2252 share a booking
  pre-api-stg.yaml
  src/integrationTest/java/uk/gov/hmcts/reform/preapi/entities/ShareBookingDTOTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/preapi/entities/ShareRecordingTestDTO.java
  src/main/java/uk/gov/hmcts/reform/preapi/controllers/BookingController.java
  src/main/java/uk/gov/hmcts/reform/preapi/dto/ShareBookingDTO.java
  src/main/java/uk/gov/hmcts/reform/preapi/entities/ShareBooking.java
  src/main/java/uk/gov/hmcts/reform/preapi/exception/ConflictException.java
  src/main/java/uk/gov/hmcts/reform/preapi/exception/GlobalControllerExceptionHandler.java
  src/main/java/uk/gov/hmcts/reform/preapi/repositories/ShareBookingRepository.java
  src/main/java/uk/gov/hmcts/reform/preapi/services/BookingService.java
  src/main/resources/db/migration/V006__RenameShareRecordings.sql
  src/test/java/uk/gov/hmcts/reform/preapi/controller/BookingControllerTest.java
  src/test/java/uk/gov/hmcts/reform/preapi/dto/ShareBookingDTOTest.java
  src/test/java/uk/gov/hmcts/reform/preapi/services/BookingServiceTest.java
Labels: ns:pre, prd:pre, rel:pre-api-pr-124

#166 S28 2318: API Report Recordings Per Case
  pre-api-stg.yaml
  src/main/java/uk/gov/hmcts/reform/preapi/controllers/ReportController.java
  src/main/java/uk/gov/hmcts/reform/preapi/dto/reports/RecordingsPerCaseReportDTO.java
  src/main/java/uk/gov/hmcts/reform/preapi/repositories/CaptureSessionRepository.java
  src/main/java/uk/gov/hmcts/reform/preapi/services/ReportService.java
  src/test/java/uk/gov/hmcts/reform/preapi/controller/ReportControllerTest.java
  src/test/java/uk/gov/hmcts/reform/preapi/services/ReportServiceTest.java
Labels: ns:pre, prd:pre, rel:pre-api-pr-166

#171 Uddate Springboot and Flyway
  build.gradle
  src/main/java/uk/gov/hmcts/reform/preapi/entities/Audit.java
  src/main/java/uk/gov/hmcts/reform/preapi/entities/CaptureSession.java
  src/main/java/uk/gov/hmcts/reform/preapi/entities/Court.java
  src/main/java/uk/gov/hmcts/reform/preapi/entities/Participant.java
  src/main/java/uk/gov/hmcts/reform/preapi/entities/PortalAccess.java
Labels: ns:pre, prd:pre, rel:pre-api-pr-171

#169 S28 2367: API Report Edits
  pre-api-stg.yaml
  src/main/java/uk/gov/hmcts/reform/preapi/controllers/ReportController.java
  src/main/java/uk/gov/hmcts/reform/preapi/dto/reports/EditReportDTO.java
  src/main/java/uk/gov/hmcts/reform/preapi/repositories/RecordingRepository.java
  src/main/java/uk/gov/hmcts/reform/preapi/services/ReportService.java
  src/test/java/uk/gov/hmcts/reform/preapi/controller/ReportControllerTest.java
  src/test/java/uk/gov/hmcts/reform/preapi/services/ReportServiceTest.java
Labels: ns:pre, prd:pre, rel:pre-api-pr-169

#172 Adds ability to create participants during Case creation
  pre-api-stg.yaml
  src/functionalTest/java/uk/gov/hmcts/reform/preapi/controllers/CaseControllerFT.java
  src/main/java/uk/gov/hmcts/reform/preapi/controllers/TestingSupportController.java
  src/main/java/uk/gov/hmcts/reform/preapi/dto/CaseDTO.java
  src/main/java/uk/gov/hmcts/reform/preapi/dto/CreateCaseDTO.java
  src/main/java/uk/gov/hmcts/reform/preapi/entities/Case.java
  src/main/java/uk/gov/hmcts/reform/preapi/services/CaseService.java
  src/test/java/uk/gov/hmcts/reform/preapi/services/CaseServiceTest.java
Labels: ns:pre, prd:pre, rel:pre-api-pr-172

#170 S28 2368: API Report Bookings Shared
  pre-api-stg.yaml
  src/main/java/uk/gov/hmcts/reform/preapi/controllers/ReportController.java
  src/main/java/uk/gov/hmcts/reform/preapi/dto/reports/SharedReportDTO.java
  src/main/java/uk/gov/hmcts/reform/preapi/entities/ShareBooking.java
  src/main/java/uk/gov/hmcts/reform/preapi/services/ReportService.java
  src/test/java/uk/gov/hmcts/reform/preapi/controller/ReportControllerTest.java
  src/test/java/uk/gov/hmcts/reform/preapi/services/ReportServiceTest.java
Labels: ns:pre, prd:pre, rel:pre-api-pr-170

#168 S28 2324: API Report Schedules `GET /reports/schedules`
  pre-api-stg.yaml
  src/main/java/uk/gov/hmcts/reform/preapi/controllers/ReportController.java
  src/main/java/uk/gov/hmcts/reform/preapi/dto/reports/ScheduleReportDTO.java
  src/main/java/uk/gov/hmcts/reform/preapi/repositories/CaptureSessionRepository.java
  src/main/java/uk/gov/hmcts/reform/preapi/services/ReportService.java
  src/test/java/uk/gov/hmcts/reform/preapi/controller/ReportControllerTest.java
  src/test/java/uk/gov/hmcts/reform/preapi/services/ReportServiceTest.java
Labels: ns:pre, prd:pre, rel:pre-api-pr-168

#174 S28 2370: API GET `/roles`
  pre-api-stg.yaml
  src/main/java/uk/gov/hmcts/reform/preapi/controllers/RoleController.java
  src/main/java/uk/gov/hmcts/reform/preapi/services/RoleService.java
  src/test/java/uk/gov/hmcts/reform/preapi/controller/RoleControllerTest.java
  src/test/java/uk/gov/hmcts/reform/preapi/services/RoleServiceTest.java
Labels: ns:pre, prd:pre, rel:pre-api-pr-174

#173 S28 2369: API Report Playback (Portal/Application)
  pre-api-stg.yaml
  src/integrationTest/java/uk/gov/hmcts/reform/preapi/entities/AuditTest.java
  src/main/java/uk/gov/hmcts/reform/preapi/controllers/ReportController.java
  src/main/java/uk/gov/hmcts/reform/preapi/dto/reports/PlaybackReportDTO.java
  src/main/java/uk/gov/hmcts/reform/preapi/entities/Audit.java
  src/main/java/uk/gov/hmcts/reform/preapi/repositories/AuditRepository.java
  src/main/java/uk/gov/hmcts/reform/preapi/services/ReportService.java
  src/main/resources/db/migration/V007__AuditCreatedByToUuid.sql
  src/test/java/uk/gov/hmcts/reform/preapi/services/ReportServiceTest.java
Labels: ns:pre, prd:pre, rel:pre-api-pr-173

#177 Return capture session for booking and recording
  pre-api-stg.yaml
  src/main/java/uk/gov/hmcts/reform/preapi/dto/BookingDTO.java
  src/main/java/uk/gov/hmcts/reform/preapi/dto/CaptureSessionDTO.java
  src/main/java/uk/gov/hmcts/reform/preapi/dto/CreateCaptureSessionDTO.java
  src/main/java/uk/gov/hmcts/reform/preapi/dto/CreateRecordingDTO.java
  src/main/java/uk/gov/hmcts/reform/preapi/dto/RecordingDTO.java
  src/main/java/uk/gov/hmcts/reform/preapi/dto/base/BaseRecordingDTO.java
  src/main/java/uk/gov/hmcts/reform/preapi/entities/Booking.java
  src/test/java/uk/gov/hmcts/reform/preapi/dto/CaptureSessionDTOTest.java
  src/test/java/uk/gov/hmcts/reform/preapi/services/RecordingServiceTest.java
Labels: ns:pre, prd:pre, rel:pre-api-pr-177

#178 S28-2314 Update Key Vault Name
  charts/pre-api/Chart.yaml
  charts/pre-api/values.yaml
Labels: ns:pre, prd:pre, rel:pre-api-pr-178

#183 Return Duration as a string for report
  pre-api-stg.yaml
  src/main/java/uk/gov/hmcts/reform/preapi/dto/base/BaseRecordingDTO.java
  src/main/java/uk/gov/hmcts/reform/preapi/dto/reports/CaptureSessionReportDTO.java
  src/main/java/uk/gov/hmcts/reform/preapi/dto/reports/PlaybackReportDTO.java
Labels: ns:pre, prd:pre, rel:pre-api-pr-183

#179 S28 2371: API Reports Complete Capture Sessions
  pre-api-stg.yaml
  src/main/java/uk/gov/hmcts/reform/preapi/controllers/ReportController.java
  src/main/java/uk/gov/hmcts/reform/preapi/dto/reports/CompletedCaptureSessionReportDTO.java
  src/main/java/uk/gov/hmcts/reform/preapi/dto/reports/ConcurrentCaptureSessionReportDTO.java
  src/main/java/uk/gov/hmcts/reform/preapi/repositories/RecordingRepository.java
  src/main/java/uk/gov/hmcts/reform/preapi/services/ReportService.java
  src/test/java/uk/gov/hmcts/reform/preapi/controller/ReportControllerTest.java
  src/test/java/uk/gov/hmcts/reform/preapi/services/ReportServiceTest.java
Labels: ns:pre, prd:pre, rel:pre-api-pr-179

#184 Fix: `/recordings` Duration Object in Swagger
  pre-api-stg.yaml
  src/main/java/uk/gov/hmcts/reform/preapi/dto/base/BaseRecordingDTO.java
Labels: ns:pre, prd:pre, rel:pre-api-pr-184

#182 Fix: API `PUT /cases` Case Reference Length Limits + Prevent Duplicates
  pre-api-stg.yaml
  src/functionalTest/java/uk/gov/hmcts/reform/preapi/controllers/CaseControllerFT.java
  src/main/java/uk/gov/hmcts/reform/preapi/controllers/CaseController.java
  src/main/java/uk/gov/hmcts/reform/preapi/dto/CreateCaseDTO.java
  src/main/java/uk/gov/hmcts/reform/preapi/repositories/CaseRepository.java
  src/main/java/uk/gov/hmcts/reform/preapi/services/CaseService.java
  src/test/java/uk/gov/hmcts/reform/preapi/controller/CaseControllerTest.java
  src/test/java/uk/gov/hmcts/reform/preapi/services/CaseServiceTest.java
Labels: ns:pre, prd:pre, rel:pre-api-pr-182

#180 S28 2323: API Reports Recording Access Revoked
  pre-api-stg.yaml
  src/main/java/uk/gov/hmcts/reform/preapi/controllers/ReportController.java
  src/main/java/uk/gov/hmcts/reform/preapi/dto/reports/AccessRemovedReportDTO.java
  src/main/java/uk/gov/hmcts/reform/preapi/repositories/ShareBookingRepository.java
  src/main/java/uk/gov/hmcts/reform/preapi/services/ReportService.java
  src/test/java/uk/gov/hmcts/reform/preapi/controller/ReportControllerTest.java
  src/test/java/uk/gov/hmcts/reform/preapi/services/ReportServiceTest.java
Labels: ns:pre, prd:pre, rel:pre-api-pr-180

#188 Try bumping chart version
  charts/pre-api/Chart.yaml
Labels: ns:pre, prd:pre, rel:pre-api-pr-188

#187 Search for bookings by scheduled for date
  pre-api-stg.yaml
  src/integrationTest/java/uk/gov/hmcts/reform/preapi/services/BookingServiceIT.java
  src/main/java/uk/gov/hmcts/reform/preapi/controllers/BookingController.java
  src/main/java/uk/gov/hmcts/reform/preapi/controllers/params/SearchBookings.java
  src/main/java/uk/gov/hmcts/reform/preapi/repositories/BookingRepository.java
  src/main/java/uk/gov/hmcts/reform/preapi/services/BookingService.java
  src/test/java/uk/gov/hmcts/reform/preapi/controller/BookingControllerTest.java
  src/test/java/uk/gov/hmcts/reform/preapi/services/BookingServiceTest.java
Labels: ns:pre, prd:pre, no-changes, rel:pre-api-pr-187

#192 Update Secrets mnt path for new KV
  lib/applicationinsights.json
  src/main/resources/application.yaml
Labels: ns:pre, prd:pre, rel:pre-api-pr-192

#185 Fix: Cascade Delete
  src/integrationTest/java/uk/gov/hmcts/reform/preapi/services/CaseServiceIT.java
  src/integrationTest/java/uk/gov/hmcts/reform/preapi/util/HelperFactory.java
  src/main/java/uk/gov/hmcts/reform/preapi/repositories/BookingRepository.java
  src/main/java/uk/gov/hmcts/reform/preapi/repositories/CaptureSessionRepository.java
  src/main/java/uk/gov/hmcts/reform/preapi/repositories/RecordingRepository.java
  src/main/java/uk/gov/hmcts/reform/preapi/services/BookingService.java
  src/main/java/uk/gov/hmcts/reform/preapi/services/CaptureSessionService.java
  src/main/java/uk/gov/hmcts/reform/preapi/services/CaseService.java
  src/main/java/uk/gov/hmcts/reform/preapi/services/RecordingService.java
  src/test/java/uk/gov/hmcts/reform/preapi/services/BookingServiceTest.java
  src/test/java/uk/gov/hmcts/reform/preapi/services/CaptureSessionServiceTest.java
  src/test/java/uk/gov/hmcts/reform/preapi/services/CaseServiceTest.java
  src/test/java/uk/gov/hmcts/reform/preapi/services/RecordingServiceTest.java
Labels: ns:pre, prd:pre, rel:pre-api-pr-185

#193 Fix: `GET /courts` Pagination Data Issues
  src/main/java/uk/gov/hmcts/reform/preapi/controllers/CaseController.java
  src/main/java/uk/gov/hmcts/reform/preapi/controllers/CourtController.java
  src/main/java/uk/gov/hmcts/reform/preapi/repositories/CourtRepository.java
  src/main/java/uk/gov/hmcts/reform/preapi/services/CourtService.java
  src/test/java/uk/gov/hmcts/reform/preapi/services/CourtServiceTest.java
Labels: ns:pre, prd:pre, rel:pre-api-pr-193

#194 Fix: Path UUID error message + PUT /recording Capture Session not found error
  src/main/java/uk/gov/hmcts/reform/preapi/exception/GlobalControllerExceptionHandler.java
  src/main/java/uk/gov/hmcts/reform/preapi/services/RecordingService.java
  src/test/java/uk/gov/hmcts/reform/preapi/controller/BookingControllerTest.java
  src/test/java/uk/gov/hmcts/reform/preapi/controller/CaseControllerTest.java
  src/test/java/uk/gov/hmcts/reform/preapi/controller/CourtControllerTest.java
  src/test/java/uk/gov/hmcts/reform/preapi/controller/RecordingControllerTest.java
  src/test/java/uk/gov/hmcts/reform/preapi/controller/UserControllerTest.java
  src/test/java/uk/gov/hmcts/reform/preapi/services/RecordingServiceTest.java
Labels: ns:pre, prd:pre, rel:pre-api-pr-194

#195 Smoke test for APIm working with authentication enabled
  charts/pre-api/Chart.yaml
  charts/pre-api/values.dev.template.yaml
  charts/pre-api/values.stg.template.yaml
  charts/pre-api/values.yaml
  pre-api-stg.yaml
  src/main/java/uk/gov/hmcts/reform/preapi/controllers/TestingSupportController.java
  src/smokeTest/java/uk/gov/hmcts/reform/preapi/controllers/SmokeTest.java
  src/smokeTest/resources/application.properties
Labels: ns:pre, prd:pre, rel:pre-api-pr-195

#199 Fix: Functional Test Clean up
  src/functionalTest/java/uk/gov/hmcts/reform/preapi/util/FunctionalTestBase.java
  src/main/java/uk/gov/hmcts/reform/preapi/controllers/TestingSupportController.java
Labels: ns:pre, prd:pre, rel:pre-api-pr-199

#200 Fix: FT Flush After Clean Up
  src/main/java/uk/gov/hmcts/reform/preapi/controllers/TestingSupportController.java
Labels: ns:pre, prd:pre, rel:pre-api-pr-200

#196 Fix: CreateCourtDTO Ensure Valid
  pre-api-stg.yaml
  src/main/java/uk/gov/hmcts/reform/preapi/controllers/CourtController.java
  src/main/java/uk/gov/hmcts/reform/preapi/dto/CreateCourtDTO.java
  src/main/java/uk/gov/hmcts/reform/preapi/exception/GlobalControllerExceptionHandler.java
  src/test/java/uk/gov/hmcts/reform/preapi/controller/CourtControllerTest.java
Labels: ns:pre, prd:pre, rel:pre-api-pr-196

#186 S28-2252 CRUD invites
  pre-api-stg.yaml
  src/main/java/uk/gov/hmcts/reform/preapi/controllers/InviteController.java
  src/main/java/uk/gov/hmcts/reform/preapi/controllers/params/SearchInvites.java
  src/main/java/uk/gov/hmcts/reform/preapi/dto/CreateInviteDTO.java
  src/main/java/uk/gov/hmcts/reform/preapi/dto/InviteDTO.java
  src/main/java/uk/gov/hmcts/reform/preapi/entities/Invite.java
  src/main/java/uk/gov/hmcts/reform/preapi/repositories/InviteRepository.java
  src/main/java/uk/gov/hmcts/reform/preapi/services/InviteService.java
  src/main/resources/db/migration/V008__CreateInviteTable.sql
  src/test/java/uk/gov/hmcts/reform/preapi/controller/InviteControllerTest.java
  src/test/java/uk/gov/hmcts/reform/preapi/dto/InviteDTOTest.java
  src/test/java/uk/gov/hmcts/reform/preapi/services/InviteServiceTest.java
Labels: ns:pre, prd:pre, rel:pre-api-pr-186

#202 Fix: FT Generate Random Case Reference
  src/functionalTest/java/uk/gov/hmcts/reform/preapi/controllers/CaseControllerFT.java
  src/functionalTest/java/uk/gov/hmcts/reform/preapi/util/FunctionalTestBase.java
  src/main/java/uk/gov/hmcts/reform/preapi/controllers/TestingSupportController.java
Labels: ns:pre, prd:pre, rel:pre-api-pr-202

#157 README description and LLD
  README.md
Labels: ns:pre, prd:pre, rel:pre-api-pr-157

#204 FT for deleting non-existant booking
  src/functionalTest/java/uk/gov/hmcts/reform/preapi/controllers/BookingControllerFT.java
  src/main/java/uk/gov/hmcts/reform/preapi/controllers/TestingSupportController.java
Labels: ns:pre, prd:pre, rel:pre-api-pr-204

#203 S28 2368: Add Search Params to `GET /reports/shared-bookings`
  pre-api-stg.yaml
  src/integrationTest/java/uk/gov/hmcts/reform/preapi/services/ReportServiceIT.java
  src/integrationTest/java/uk/gov/hmcts/reform/preapi/util/HelperFactory.java
  src/main/java/uk/gov/hmcts/reform/preapi/controllers/ReportController.java
  src/main/java/uk/gov/hmcts/reform/preapi/controllers/params/SearchSharedReport.java
  src/main/java/uk/gov/hmcts/reform/preapi/dto/reports/AccessRemovedReportDTO.java
  src/main/java/uk/gov/hmcts/reform/preapi/dto/reports/CompletedCaptureSessionReportDTO.java
  src/main/java/uk/gov/hmcts/reform/preapi/dto/reports/ConcurrentCaptureSessionReportDTO.java
  src/main/java/uk/gov/hmcts/reform/preapi/dto/reports/EditReportDTO.java
  src/main/java/uk/gov/hmcts/reform/preapi/dto/reports/PlaybackReportDTO.java
  src/main/java/uk/gov/hmcts/reform/preapi/dto/reports/RecordingsPerCaseReportDTO.java
  src/main/java/uk/gov/hmcts/reform/preapi/dto/reports/ScheduleReportDTO.java
  src/main/java/uk/gov/hmcts/reform/preapi/dto/reports/SharedReportDTO.java
  src/main/java/uk/gov/hmcts/reform/preapi/entities/User.java
  src/main/java/uk/gov/hmcts/reform/preapi/repositories/ShareBookingRepository.java
  src/main/java/uk/gov/hmcts/reform/preapi/services/ReportService.java
  src/test/java/uk/gov/hmcts/reform/preapi/controller/ReportControllerTest.java
  src/test/java/uk/gov/hmcts/reform/preapi/services/ReportServiceTest.java
Labels: ns:pre, prd:pre, rel:pre-api-pr-203

#205 FT covers rooms and regions being returned by bookings
  src/functionalTest/java/uk/gov/hmcts/reform/preapi/controllers/BookingControllerFT.java
  src/main/java/uk/gov/hmcts/reform/preapi/controllers/TestingSupportController.java
Labels: ns:pre, prd:pre, rel:pre-api-pr-205

#206 S28 2395: General Playback Report `GET /reports/playback`
  pre-api-stg.yaml
  src/main/java/uk/gov/hmcts/reform/preapi/controllers/ReportController.java
  src/main/java/uk/gov/hmcts/reform/preapi/dto/reports/PlaybackReportDTO.java
  src/main/java/uk/gov/hmcts/reform/preapi/repositories/AuditRepository.java
  src/main/java/uk/gov/hmcts/reform/preapi/services/ReportService.java
  src/test/java/uk/gov/hmcts/reform/preapi/controller/ReportControllerTest.java
  src/test/java/uk/gov/hmcts/reform/preapi/services/ReportServiceTest.java
Labels: ns:pre, prd:pre, rel:pre-api-pr-206

#208 Require at least 1 participant in a Booking
  src/main/java/uk/gov/hmcts/reform/preapi/dto/CreateBookingDTO.java
  src/main/java/uk/gov/hmcts/reform/preapi/dto/validators/ParticipantTypeConstraint.java
  src/main/java/uk/gov/hmcts/reform/preapi/dto/validators/ParticipantTypeValidator.java
  src/test/java/uk/gov/hmcts/reform/preapi/controller/BookingControllerTest.java
  src/test/java/uk/gov/hmcts/reform/preapi/util/HelperFactory.java
Labels: ns:pre, prd:pre, rel:pre-api-pr-208

#207 S28 2240: `GET /recordings` New Search Params + Fix Bookings `scheduledFor` Search Param
  pre-api-stg.yaml
  src/main/java/uk/gov/hmcts/reform/preapi/controllers/RecordingController.java
  src/main/java/uk/gov/hmcts/reform/preapi/controllers/params/SearchBookings.java
  src/main/java/uk/gov/hmcts/reform/preapi/controllers/params/SearchRecordings.java
  src/main/java/uk/gov/hmcts/reform/preapi/repositories/BookingRepository.java
  src/main/java/uk/gov/hmcts/reform/preapi/repositories/CaseRepository.java
  src/main/java/uk/gov/hmcts/reform/preapi/repositories/RecordingRepository.java
  src/main/java/uk/gov/hmcts/reform/preapi/services/BookingService.java
  src/main/java/uk/gov/hmcts/reform/preapi/services/RecordingService.java
  src/test/java/uk/gov/hmcts/reform/preapi/controller/RecordingControllerTest.java
  src/test/java/uk/gov/hmcts/reform/preapi/services/BookingServiceTest.java
  src/test/java/uk/gov/hmcts/reform/preapi/services/RecordingServiceTest.java
Labels: ns:pre, prd:pre, rel:pre-api-pr-207

#210 Feature: Search Bookings and Recordings by Participant Id
  pre-api-stg.yaml
  src/integrationTest/java/uk/gov/hmcts/reform/preapi/services/BookingServiceIT.java
  src/main/java/uk/gov/hmcts/reform/preapi/controllers/BookingController.java
  src/main/java/uk/gov/hmcts/reform/preapi/controllers/RecordingController.java
  src/main/java/uk/gov/hmcts/reform/preapi/controllers/params/SearchBookings.java
  src/main/java/uk/gov/hmcts/reform/preapi/controllers/params/SearchRecordings.java
  src/main/java/uk/gov/hmcts/reform/preapi/repositories/BookingRepository.java
  src/main/java/uk/gov/hmcts/reform/preapi/repositories/RecordingRepository.java
  src/main/java/uk/gov/hmcts/reform/preapi/services/BookingService.java
  src/main/java/uk/gov/hmcts/reform/preapi/services/RecordingService.java
  src/test/java/uk/gov/hmcts/reform/preapi/controller/BookingControllerTest.java
  src/test/java/uk/gov/hmcts/reform/preapi/controller/RecordingControllerTest.java
  src/test/java/uk/gov/hmcts/reform/preapi/services/BookingServiceTest.java
  src/test/java/uk/gov/hmcts/reform/preapi/services/RecordingServiceTest.java
Labels: ns:pre, prd:pre, rel:pre-api-pr-210

#212 Fix: Participant Deletion when Updating Cases
  src/integrationTest/java/uk/gov/hmcts/reform/preapi/services/CaseServiceIT.java
  src/main/java/uk/gov/hmcts/reform/preapi/dto/BookingDTO.java
  src/main/java/uk/gov/hmcts/reform/preapi/dto/CaseDTO.java
  src/main/java/uk/gov/hmcts/reform/preapi/services/CaseService.java
Labels: ns:pre, prd:pre, rel:pre-api-pr-212

#215 Add Swagger docs for X-User-Id header
  pre-api-stg.yaml
  src/main/java/uk/gov/hmcts/reform/preapi/config/OpenAPIConfiguration.java
Labels: ns:pre, prd:pre, rel:pre-api-pr-215

#216 S28 2402: API GET `/capture-sessions/{id}`
  pre-api-stg.yaml
  src/main/java/uk/gov/hmcts/reform/preapi/controllers/CaptureSessionController.java
  src/main/java/uk/gov/hmcts/reform/preapi/services/CaptureSessionService.java
  src/test/java/uk/gov/hmcts/reform/preapi/controller/CaptureSessionControllerTest.java
  src/test/java/uk/gov/hmcts/reform/preapi/services/CaptureSessionServiceTest.java
Labels: ns:pre, prd:pre, rel:pre-api-pr-216

#217 S28 2403: API GET `/capture-sessions`
  pre-api-stg.yaml
  src/main/java/uk/gov/hmcts/reform/preapi/config/OpenAPIConfiguration.java
  src/main/java/uk/gov/hmcts/reform/preapi/controllers/BookingController.java
  src/main/java/uk/gov/hmcts/reform/preapi/controllers/CaptureSessionController.java
  src/main/java/uk/gov/hmcts/reform/preapi/controllers/CaseController.java
  src/main/java/uk/gov/hmcts/reform/preapi/controllers/CourtController.java
  src/main/java/uk/gov/hmcts/reform/preapi/controllers/InviteController.java
  src/main/java/uk/gov/hmcts/reform/preapi/controllers/RecordingController.java
  src/main/java/uk/gov/hmcts/reform/preapi/controllers/UserController.java
  src/main/java/uk/gov/hmcts/reform/preapi/controllers/params/SearchCaptureSessions.java
  src/main/java/uk/gov/hmcts/reform/preapi/repositories/CaptureSessionRepository.java
  src/main/java/uk/gov/hmcts/reform/preapi/services/CaptureSessionService.java
  src/test/java/uk/gov/hmcts/reform/preapi/controller/CaptureSessionControllerTest.java
  src/test/java/uk/gov/hmcts/reform/preapi/services/CaptureSessionServiceTest.java
Labels: ns:pre, prd:pre, rel:pre-api-pr-217

#219 Don't sync to ITHC whilst the env isn't there
  Jenkinsfile_CNP
Labels: ns:pre, prd:pre, rel:pre-api-pr-219

#218 S28 2405: API DELETE `/capture-session/{id}`
  pre-api-stg.yaml
  src/main/java/uk/gov/hmcts/reform/preapi/controllers/CaptureSessionController.java
  src/main/java/uk/gov/hmcts/reform/preapi/services/CaptureSessionService.java
  src/test/java/uk/gov/hmcts/reform/preapi/controller/CaptureSessionControllerTest.java
  src/test/java/uk/gov/hmcts/reform/preapi/services/CaptureSessionServiceTest.java
Labels: ns:pre, prd:pre, rel:pre-api-pr-218

#214 S28 2379: API DELETE `/bookings/{bookingId}/share/{shareId}` + Delete Cascade
  pre-api-stg.yaml
  src/main/java/uk/gov/hmcts/reform/preapi/controllers/BookingController.java
  src/main/java/uk/gov/hmcts/reform/preapi/entities/ShareBooking.java
  src/main/java/uk/gov/hmcts/reform/preapi/repositories/ShareBookingRepository.java
  src/main/java/uk/gov/hmcts/reform/preapi/services/BookingService.java
  src/main/java/uk/gov/hmcts/reform/preapi/services/ShareBookingService.java
  src/test/java/uk/gov/hmcts/reform/preapi/controller/BookingControllerTest.java
  src/test/java/uk/gov/hmcts/reform/preapi/services/BookingServiceTest.java
  src/test/java/uk/gov/hmcts/reform/preapi/services/ShareBookingServiceTest.java
Labels: ns:pre, prd:pre, rel:pre-api-pr-214

#221 Provide swagger with longer API description
  pre-api-stg.yaml
  src/main/java/uk/gov/hmcts/reform/preapi/config/OpenAPIConfiguration.java
Labels: ns:pre, prd:pre, rel:pre-api-pr-221

#222 S28 2404: API PUT `/capture-sessions/{id}`
  pre-api-stg.yaml
  src/main/java/uk/gov/hmcts/reform/preapi/controllers/CaptureSessionController.java
  src/main/java/uk/gov/hmcts/reform/preapi/dto/CreateCaptureSessionDTO.java
  src/main/java/uk/gov/hmcts/reform/preapi/entities/CaptureSession.java
  src/main/java/uk/gov/hmcts/reform/preapi/repositories/UserRepository.java
  src/main/java/uk/gov/hmcts/reform/preapi/services/CaptureSessionService.java
  src/test/java/uk/gov/hmcts/reform/preapi/controller/CaptureSessionControllerTest.java
  src/test/java/uk/gov/hmcts/reform/preapi/services/CaptureSessionServiceTest.java
Labels: ns:pre, prd:pre, rel:pre-api-pr-222

#223 2188: JPA Entity Aligned to New Migrations
  src/integrationTest/java/uk/gov/hmcts/reform/preapi/entities/AuditTest.java
  src/main/java/uk/gov/hmcts/reform/preapi/dto/RoleDTO.java
  src/main/java/uk/gov/hmcts/reform/preapi/entities/Audit.java
  src/main/java/uk/gov/hmcts/reform/preapi/entities/Recording.java
  src/main/java/uk/gov/hmcts/reform/preapi/entities/Role.java
Labels: ns:pre, prd:pre, rel:pre-api-pr-223

#88 2188/data mapping
  .gitignore
  bin/migration/README.md
  bin/migration/db_utils.py
  bin/migration/main_script.py
  bin/migration/requirements.txt
  bin/migration/summary.py
  bin/migration/tables/appaccess.py
  bin/migration/tables/audits.py
  bin/migration/tables/bookingparticipants.py
  bin/migration/tables/bookings.py
  bin/migration/tables/capturesessions.py
  bin/migration/tables/cases.py
  bin/migration/tables/courtregions.py
  bin/migration/tables/courtrooms.py
  bin/migration/tables/courts.py
  bin/migration/tables/helpers.py
  bin/migration/tables/participants.py
  bin/migration/tables/portalaccess.py
  bin/migration/tables/recordings.py
  bin/migration/tables/regions.py
  bin/migration/tables/roles.py
  bin/migration/tables/rooms.py
  bin/migration/tables/sharebookings.py
  bin/migration/tables/users.py
  pre-api-stg.yaml
  src/integrationTest/java/uk/gov/hmcts/reform/preapi/entities/AuditTest.java
  src/main/java/uk/gov/hmcts/reform/preapi/dto/RoleDTO.java
  src/main/java/uk/gov/hmcts/reform/preapi/entities/Audit.java
  src/main/java/uk/gov/hmcts/reform/preapi/entities/Recording.java
  src/main/java/uk/gov/hmcts/reform/preapi/entities/Role.java
  src/main/resources/db/migration/V009__AddFieldRoles.sql
  src/main/resources/db/migration/V010__AmendConstraintsAndDroppingFields.sql
  src/main/resources/db/migration/V011__RemoveConstraintOnField.sql
Labels: ns:pre, prd:pre, rel:pre-api-pr-88

#224 Update Audit table schema
  bin/migration/tables/audits.py
  bin/migration/tables/helpers.py
  config/checkstyle/checkstyle.xml
  pre-api-stg.yaml
  src/functionalTest/java/uk/gov/hmcts/reform/preapi/controllers/AuditControllerFT.java
  src/integrationTest/java/uk/gov/hmcts/reform/preapi/entities/AuditTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/preapi/services/AuditServiceIT.java
  src/main/java/uk/gov/hmcts/reform/preapi/controllers/AuditController.java
  src/main/java/uk/gov/hmcts/reform/preapi/dto/CreateAuditDTO.java
  src/main/java/uk/gov/hmcts/reform/preapi/entities/Audit.java
  src/main/java/uk/gov/hmcts/reform/preapi/entities/base/BaseEntity.java
  src/main/java/uk/gov/hmcts/reform/preapi/entities/listeners/AuditListener.java
  src/main/java/uk/gov/hmcts/reform/preapi/enums/AuditAction.java
  src/main/java/uk/gov/hmcts/reform/preapi/exception/GlobalControllerExceptionHandler.java
  src/main/java/uk/gov/hmcts/reform/preapi/exception/ImmutableDataException.java
  src/main/java/uk/gov/hmcts/reform/preapi/exception/UnauditableTableException.java
  src/main/java/uk/gov/hmcts/reform/preapi/repositories/AuditRepository.java
  src/main/java/uk/gov/hmcts/reform/preapi/services/AuditService.java
  src/main/resources/db/migration/V012__UpdateAuditSchema.sql
  src/test/java/uk/gov/hmcts/reform/preapi/controller/AuditControllerTest.java
  src/test/java/uk/gov/hmcts/reform/preapi/dto/CreateAuditDTOTest.java
  src/test/java/uk/gov/hmcts/reform/preapi/services/AuditServiceTest.java
  src/test/java/uk/gov/hmcts/reform/preapi/util/HelperFactory.java
Labels: ns:pre, prd:pre, rel:pre-api-pr-224

#209 S28-2374 Add APIm Infrastructure
  infrastructure/main.tf
  infrastructure/state.tf
Labels: ns:pre, prd:pre, add-or-update, rel:pre-api-pr-209

#239 Update KV name used for db migrations
  Jenkinsfile_CNP
Labels: ns:pre, prd:pre, rel:pre-api-pr-239

#238 Multistep column change to convert audit_details to jsonb
  src/main/resources/db/migration/V012__UpdateAuditSchema.sql
Labels: ns:pre, prd:pre, rel:pre-api-pr-238

#237 AuditDetails for each entity
  build.gradle
  pre-api-stg.yaml
  src/integrationTest/java/uk/gov/hmcts/reform/preapi/entities/AuditTest.java
  src/main/java/uk/gov/hmcts/reform/preapi/dto/reports/ConcurrentCaptureSessionReportDTO.java
  src/main/java/uk/gov/hmcts/reform/preapi/entities/AppAccess.java
  src/main/java/uk/gov/hmcts/reform/preapi/entities/Booking.java
  src/main/java/uk/gov/hmcts/reform/preapi/entities/CaptureSession.java
  src/main/java/uk/gov/hmcts/reform/preapi/entities/Case.java
  src/main/java/uk/gov/hmcts/reform/preapi/entities/Court.java
  src/main/java/uk/gov/hmcts/reform/preapi/entities/Invite.java
  src/main/java/uk/gov/hmcts/reform/preapi/entities/Participant.java
  src/main/java/uk/gov/hmcts/reform/preapi/entities/Permission.java
  src/main/java/uk/gov/hmcts/reform/preapi/entities/PortalAccess.java
  src/main/java/uk/gov/hmcts/reform/preapi/entities/Recording.java
  src/main/java/uk/gov/hmcts/reform/preapi/entities/Role.java
  src/main/java/uk/gov/hmcts/reform/preapi/entities/ShareBooking.java
  src/main/java/uk/gov/hmcts/reform/preapi/entities/User.java
  src/main/java/uk/gov/hmcts/reform/preapi/entities/base/BaseEntity.java
  src/main/java/uk/gov/hmcts/reform/preapi/entities/listeners/AuditListener.java
Labels: ns:pre, prd:pre, rel:pre-api-pr-237

#245 Search Bookings by Court Id
  pre-api-stg.yaml
  src/integrationTest/java/uk/gov/hmcts/reform/preapi/services/BookingServiceIT.java
  src/main/java/uk/gov/hmcts/reform/preapi/controllers/BookingController.java
  src/main/java/uk/gov/hmcts/reform/preapi/controllers/params/SearchBookings.java
  src/main/java/uk/gov/hmcts/reform/preapi/repositories/BookingRepository.java
  src/main/java/uk/gov/hmcts/reform/preapi/services/BookingService.java
  src/test/java/uk/gov/hmcts/reform/preapi/controller/BookingControllerTest.java
  src/test/java/uk/gov/hmcts/reform/preapi/services/BookingServiceTest.java
Labels: ns:pre, prd:pre, rel:pre-api-pr-245

#246 Include BaseUserDTO in SharedBookingDTO
  pre-api-stg.yaml
  src/main/java/uk/gov/hmcts/reform/preapi/dto/ShareBookingDTO.java
  src/main/java/uk/gov/hmcts/reform/preapi/dto/base/BaseUserDTO.java
  src/main/java/uk/gov/hmcts/reform/preapi/services/ShareBookingService.java
  src/test/java/uk/gov/hmcts/reform/preapi/controller/BookingControllerTest.java
  src/test/java/uk/gov/hmcts/reform/preapi/dto/ShareBookingDTOTest.java
  src/test/java/uk/gov/hmcts/reform/preapi/services/ShareBookingServiceTest.java
  src/test/java/uk/gov/hmcts/reform/preapi/util/HelperFactory.java
Labels: ns:pre, prd:pre, rel:pre-api-pr-246

#244 Fix: Update `RecordingStatus` Enum to Match Schema Changes
  bin/migration/tables/capturesessions.py
  src/integrationTest/java/uk/gov/hmcts/reform/preapi/entities/CaptureSessionTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/preapi/entities/CreateRecordingDTOTest.java
  src/main/java/uk/gov/hmcts/reform/preapi/controllers/TestingSupportController.java
  src/main/java/uk/gov/hmcts/reform/preapi/enums/RecordingStatus.java
  src/main/java/uk/gov/hmcts/reform/preapi/services/ReportService.java
  src/main/resources/db/migration/V013__UpdatingType.sql
  src/test/java/uk/gov/hmcts/reform/preapi/controller/CaptureSessionControllerTest.java
  src/test/java/uk/gov/hmcts/reform/preapi/controller/ReportControllerTest.java
  src/test/java/uk/gov/hmcts/reform/preapi/dto/CaptureSessionDTOTest.java
  src/test/java/uk/gov/hmcts/reform/preapi/services/CaptureSessionServiceTest.java
  src/test/java/uk/gov/hmcts/reform/preapi/services/ReportServiceTest.java
Labels: ns:pre, prd:pre, destroy, rel:pre-api-pr-244

#247 Adds CaseRef and Participants to RecordingDTO
  pre-api-stg.yaml
  src/main/java/uk/gov/hmcts/reform/preapi/dto/RecordingDTO.java
  src/test/java/uk/gov/hmcts/reform/preapi/dto/RecordingDTOTest.java
  src/test/java/uk/gov/hmcts/reform/preapi/services/RecordingServiceTest.java
  src/test/java/uk/gov/hmcts/reform/preapi/util/HelperFactory.java
Labels: ns:pre, prd:pre, rel:pre-api-pr-247
