Repository hmcts/pre-api, pull requests merged in 2024-06, with the labels that each got.

#511 S28 2887: Media Kind Client
  .env.local
  build.gradle
  charts/pre-api/Chart.yaml
  charts/pre-api/values.dev.template.yaml
  charts/pre-api/values.stg.template.yaml
  charts/pre-api/values.yaml
  infrastructure/main.tf
  pre-api-stg.yaml
  src/main/java/uk/gov/hmcts/reform/preapi/Application.java
  src/main/java/uk/gov/hmcts/reform/preapi/config/MediaKindClientConfiguration.java
  src/main/java/uk/gov/hmcts/reform/preapi/controllers/MediaServiceController.java
  src/main/java/uk/gov/hmcts/reform/preapi/dto/media/AssetDTO.java
  src/main/java/uk/gov/hmcts/reform/preapi/exception/GlobalControllerExceptionHandler.java
  src/main/java/uk/gov/hmcts/reform/preapi/exception/MediaKindException.java
  src/main/java/uk/gov/hmcts/reform/preapi/media/AzureMediaService.java
  src/main/java/uk/gov/hmcts/reform/preapi/media/IMediaService.java
  src/main/java/uk/gov/hmcts/reform/preapi/media/MediaKind.java
  src/main/java/uk/gov/hmcts/reform/preapi/media/MediaKindClient.java
  src/main/java/uk/gov/hmcts/reform/preapi/media/dto/MkAsset.java
  src/main/java/uk/gov/hmcts/reform/preapi/media/dto/MkAssetProperties.java
  src/main/java/uk/gov/hmcts/reform/preapi/media/dto/MkGetListResponse.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/preapi/controller/MediaServiceControllerTest.java
  src/test/java/uk/gov/hmcts/reform/preapi/media/AzureMediaServiceTest.java
  src/test/java/uk/gov/hmcts/reform/preapi/media/MediaKindTest.java
Labels: ns:pre, prd:pre, enable_keep_helm, stg/destroy, prod/destroy, rel:pre-api-pr-511

#546 chore(deps): update terraform azurerm to v3.106.1
  infrastructure/state.tf
Labels: ns:pre, prd:pre, stg/no-changes, prod/destroy, rel:pre-api-pr-546

#550 fix(deps): update feign monorepo to v10.12
  build.gradle
Labels: ns:pre, prd:pre, rel:pre-api-pr-550

#549 Fix null-safe comparison on user access dtos
  src/main/java/uk/gov/hmcts/reform/preapi/dto/UserDTO.java
  src/test/java/uk/gov/hmcts/reform/preapi/dto/UserDTOTest.java
Labels: ns:pre, prd:pre, enable_keep_helm, stg/add-or-update, prod/destroy, rel:pre-api-pr-549

#553 Fix helm chart KV config
  charts/pre-api/Chart.yaml
  charts/pre-api/values.stg.template.yaml
  charts/pre-api/values.yaml
Labels: ns:pre, prd:pre, rel:pre-api-pr-553

#555 Broker the 2 media service options
  .env.local
  infrastructure/main.tf
  pre-api-stg.yaml
  src/main/java/uk/gov/hmcts/reform/preapi/controllers/MediaServiceController.java
  src/main/java/uk/gov/hmcts/reform/preapi/media/AzureMediaService.java
  src/main/java/uk/gov/hmcts/reform/preapi/media/MediaServiceBroker.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/preapi/controller/MediaServiceControllerTest.java
  src/test/java/uk/gov/hmcts/reform/preapi/media/MediaServiceBrokerTest.java
Labels: ns:pre, prd:pre, stg/destroy, prod/destroy, rel:pre-api-pr-555

#528 S28 2884: `GET /media-service/live-events` and `GET /media-service/live-events/{name}`
  charts/pre-api/values.dev.template.yaml
  infrastructure/main.tf
  pre-api-stg.yaml
  src/main/java/uk/gov/hmcts/reform/preapi/controllers/MediaServiceController.java
  src/main/java/uk/gov/hmcts/reform/preapi/dto/media/LiveEventDTO.java
  src/main/java/uk/gov/hmcts/reform/preapi/exception/GlobalControllerExceptionHandler.java
  src/main/java/uk/gov/hmcts/reform/preapi/media/AzureMediaService.java
  src/main/java/uk/gov/hmcts/reform/preapi/media/IMediaService.java
  src/main/java/uk/gov/hmcts/reform/preapi/media/MediaKind.java
  src/main/java/uk/gov/hmcts/reform/preapi/media/MediaKindClient.java
  src/main/java/uk/gov/hmcts/reform/preapi/media/dto/MkLiveEvent.java
  src/test/java/uk/gov/hmcts/reform/preapi/controller/MediaServiceControllerTest.java
  src/test/java/uk/gov/hmcts/reform/preapi/media/AzureMediaServiceTest.java
  src/test/java/uk/gov/hmcts/reform/preapi/media/MediaKindTest.java
  src/test/java/uk/gov/hmcts/reform/preapi/util/HelperFactory.java
Labels: ns:pre, prd:pre, enable_keep_helm, stg/destroy, prod/destroy, rel:pre-api-pr-528

#572 Suppress vuln without a fix yet
  config/owasp/suppressions.xml
Labels: ns:pre, prd:pre, rel:pre-api-pr-572

#559 S28 2881: Start Live Event
  .env.local
  build.gradle
  charts/pre-api/Chart.yaml
  charts/pre-api/values.dev.template.yaml
  charts/pre-api/values.stg.template.yaml
  charts/pre-api/values.yaml
  infrastructure/main.tf
  pre-api-stg.yaml
  src/main/java/uk/gov/hmcts/reform/preapi/controllers/MediaServiceController.java
  src/main/java/uk/gov/hmcts/reform/preapi/exception/GlobalControllerExceptionHandler.java
  src/main/java/uk/gov/hmcts/reform/preapi/media/AzureMediaService.java
  src/main/java/uk/gov/hmcts/reform/preapi/media/IMediaService.java
  src/main/java/uk/gov/hmcts/reform/preapi/media/MediaKind.java
  src/main/java/uk/gov/hmcts/reform/preapi/media/MediaKindClient.java
  src/main/java/uk/gov/hmcts/reform/preapi/media/dto/MkLiveEvent.java
  src/main/java/uk/gov/hmcts/reform/preapi/media/dto/MkLiveOutput.java
  src/main/java/uk/gov/hmcts/reform/preapi/media/dto/MkStreamingLocator.java
  src/main/java/uk/gov/hmcts/reform/preapi/services/CaptureSessionService.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/preapi/controller/MediaServiceControllerTest.java
  src/test/java/uk/gov/hmcts/reform/preapi/media/AzureMediaServiceTest.java
  src/test/java/uk/gov/hmcts/reform/preapi/media/MediaKindTest.java
  src/test/java/uk/gov/hmcts/reform/preapi/services/CaptureSessionServiceTest.java
Labels: ns:pre, prd:pre, enable_keep_helm, stg/destroy, prod/destroy, rel:pre-api-pr-559

#570 S28-2712 Add pre-commit hooks for infrastructure code
  infrastructure/.pre-commit-config.yaml
  infrastructure/.terraform-docs.yml
  infrastructure/README.md
  infrastructure/aat.tfvars
  infrastructure/demo.tfvars
  infrastructure/exception-alert.tf
  infrastructure/liveness-alert.tf
  infrastructure/main.tf
  infrastructure/output.tf
  infrastructure/prod.tfvars
Labels: ns:pre, prd:pre, stg/add-or-update, prod/add-or-update, rel:pre-api-pr-570

#540 S28-2981/db remove recordings url
  src/integrationTest/java/uk/gov/hmcts/reform/preapi/entities/CreateRecordingDTOTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/preapi/services/BookingServiceIT.java
  src/integrationTest/java/uk/gov/hmcts/reform/preapi/services/CaseServiceIT.java
  src/integrationTest/java/uk/gov/hmcts/reform/preapi/services/RecordingServiceIT.java
  src/integrationTest/java/uk/gov/hmcts/reform/preapi/services/ReportServiceIT.java
  src/main/java/uk/gov/hmcts/reform/preapi/controllers/TestingSupportController.java
  src/main/java/uk/gov/hmcts/reform/preapi/dto/CreateRecordingDTO.java
  src/main/java/uk/gov/hmcts/reform/preapi/dto/RecordingDTO.java
  src/main/java/uk/gov/hmcts/reform/preapi/entities/Recording.java
  src/main/java/uk/gov/hmcts/reform/preapi/services/RecordingService.java
  src/test/java/uk/gov/hmcts/reform/preapi/dto/CreateRecordingDTOTest.java
  src/test/java/uk/gov/hmcts/reform/preapi/dto/RecordingDTOTest.java
  src/test/java/uk/gov/hmcts/reform/preapi/services/RecordingServiceTest.java
  src/test/java/uk/gov/hmcts/reform/preapi/services/ReportServiceTest.java
  src/test/java/uk/gov/hmcts/reform/preapi/util/HelperFactory.java
Labels: ns:pre, prd:pre, stg/destroy, prod/destroy, rel:pre-api-pr-540

#564 S28-3068: Dont update app access records that have been deleted
  src/main/java/uk/gov/hmcts/reform/preapi/services/UserService.java
Labels: ns:pre, prd:pre, enable_keep_helm, rel:pre-api-pr-564
