Repository hmcts/pre-api, pull requests merged in 2024-11, with the labels that each got.

#789 Revert Azure Resource Manager Update
  build.gradle
Labels: ns:pre, prd:pre, enable_keep_helm, rel:pre-api-pr-789

#783 S28 3458: Disable access for app access when it is active=False
  src/integrationTest/java/uk/gov/hmcts/reform/preapi/services/UserAuthenticationServiceIT.java
  src/main/java/uk/gov/hmcts/reform/preapi/repositories/AppAccessRepository.java
  src/main/java/uk/gov/hmcts/reform/preapi/security/service/UserAuthenticationService.java
Labels: ns:pre, prd:pre, enable_keep_helm, rel:pre-api-pr-783

#794 Update readme post AMS
  README.md
Labels: ns:pre, prd:pre, rel:pre-api-pr-794

#800 S28 3434: Add `totalVersionCount` to `RecordingDTO`
  infrastructure/main.tf
  pre-api-stg.yaml
  src/functionalTest/java/uk/gov/hmcts/reform/preapi/controllers/RecordingControllerFT.java
  src/main/java/uk/gov/hmcts/reform/preapi/dto/RecordingDTO.java
  src/main/java/uk/gov/hmcts/reform/preapi/entities/Recording.java
  src/test/java/uk/gov/hmcts/reform/preapi/dto/RecordingDTOTest.java
Labels: ns:pre, prd:pre, enable_keep_helm, stg/destroy, prod/destroy, rel:pre-api-pr-800

#808 S28 3488: On Closed Case Delete Bookings w/ Capture Session No Recording or Failure
  src/functionalTest/java/uk/gov/hmcts/reform/preapi/controllers/BookingControllerFT.java
  src/functionalTest/java/uk/gov/hmcts/reform/preapi/controllers/CaptureSessionControllerFT.java
  src/functionalTest/java/uk/gov/hmcts/reform/preapi/controllers/CaseControllerFT.java
  src/integrationTest/java/uk/gov/hmcts/reform/preapi/services/CaseServiceIT.java
  src/main/java/uk/gov/hmcts/reform/preapi/services/CaseService.java
  src/test/java/uk/gov/hmcts/reform/preapi/services/CaseServiceTest.java
Labels: ns:pre, prd:pre, enable_keep_helm, rel:pre-api-pr-808

#809 S28 3492: Cron Job acts as Robot User
  src/main/java/uk/gov/hmcts/reform/preapi/tasks/CleanupLiveEvents.java
  src/main/java/uk/gov/hmcts/reform/preapi/tasks/ClosePendingCases.java
  src/main/java/uk/gov/hmcts/reform/preapi/tasks/RobotUserTask.java
  src/test/java/uk/gov/hmcts/reform/preapi/tasks/ClosePendingCasesTest.java
Labels: ns:pre, prd:pre, rel:pre-api-pr-809

#810 Don't alert on PRs
  infrastructure/exception-alert.tf
  infrastructure/liveness-alert.tf
Labels: ns:pre, prd:pre, stg/add-or-update, prod/add-or-update, rel:pre-api-pr-810

#812 Fulls Ts&Cs content as a migration
  src/main/resources/db/migration/V024__AddTermsAndConditionsCopy.sql
Labels: ns:pre, prd:pre, enable_keep_helm, rel:pre-api-pr-812

#815 Fix for multiplines
  src/main/resources/db/migration/V024__AddTermsAndConditionsCopy.sql
Labels: ns:pre, prd:pre, rel:pre-api-pr-815

#816 Fix: Case Closed Email Flow Add Env Var
  charts/pre-api/Chart.yaml
  charts/pre-api/values.yaml
Labels: ns:pre, prd:pre, rel:pre-api-pr-816

#817 Fixed Migration for Ts&Cs content
  src/main/resources/db/migration/V025__AddTermsAndConditionsMultiline.sql
Labels: ns:pre, prd:pre, enable_keep_helm, rel:pre-api-pr-817

#811 S28 3492: Audits `created_by` Not Null For Cron Jobs
  src/main/java/uk/gov/hmcts/reform/preapi/entities/listeners/AuditListener.java
  src/test/java/uk/gov/hmcts/reform/preapi/entities/listeners/AuditListenerTest.java
Labels: ns:pre, prd:pre, rel:pre-api-pr-811

#801 S28 3365: Booking Validator for `scheduledFor`
  infrastructure/main.tf
  src/functionalTest/java/uk/gov/hmcts/reform/preapi/controllers/BookingControllerFT.java
  src/main/java/uk/gov/hmcts/reform/preapi/controllers/TestingSupportController.java
  src/main/java/uk/gov/hmcts/reform/preapi/dto/CreateBookingDTO.java
  src/main/java/uk/gov/hmcts/reform/preapi/dto/validators/BookingScheduledForNotPastOrNotChangedConstraint.java
  src/main/java/uk/gov/hmcts/reform/preapi/dto/validators/BookingScheduledForNotPastOrNotChangedValidator.java
  src/test/java/uk/gov/hmcts/reform/preapi/controller/BookingControllerTest.java
  src/test/java/uk/gov/hmcts/reform/preapi/dto/validators/BookingScheduledForNotPastOrNotChangedValidatorTest.java
Labels: ns:pre, prd:pre, enable_keep_helm, stg/destroy, prod/destroy, rel:pre-api-pr-801

#826 Revert "fix(deps): update testcontainers-java monorepo to v1.20.4"
  build.gradle
Labels: ns:pre, prd:pre, rel:pre-api-pr-826

#829 Work around random order validators are applied by spring
  src/main/java/uk/gov/hmcts/reform/preapi/dto/CreateBookingDTO.java
  src/main/java/uk/gov/hmcts/reform/preapi/dto/validators/BookingScheduledForNotPastOrNotChangedValidator.java
  src/test/java/uk/gov/hmcts/reform/preapi/controller/BookingControllerTest.java
Labels: ns:pre, prd:pre, rel:pre-api-pr-829

#782 S28 3371: Decommission AMS
  build.gradle
  charts/pre-api/Chart.yaml
  charts/pre-api/values.dev.template.yaml
  charts/pre-api/values.stg.template.yaml
  charts/pre-api/values.yaml
  src/main/java/uk/gov/hmcts/reform/preapi/config/AzureConfiguration.java
  src/main/java/uk/gov/hmcts/reform/preapi/exception/GlobalControllerExceptionHandler.java
  src/main/java/uk/gov/hmcts/reform/preapi/media/AzureMediaService.java
  src/main/java/uk/gov/hmcts/reform/preapi/media/MediaServiceBroker.java
  src/main/java/uk/gov/hmcts/reform/preapi/services/CaptureSessionService.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/preapi/controller/MediaServiceControllerTest.java
  src/test/java/uk/gov/hmcts/reform/preapi/media/AzureMediaServiceTest.java
  src/test/java/uk/gov/hmcts/reform/preapi/media/MediaServiceBrokerTest.java
  src/test/java/uk/gov/hmcts/reform/preapi/services/CaptureSessionServiceTest.java
  src/test/java/uk/gov/hmcts/reform/preapi/tasks/CleanupLiveEventsTest.java
Labels: ns:pre, prd:pre, enable_keep_helm, rel:pre-api-pr-782
