Repository hmcts/pre-api, pull requests merged in 2025-03, with the labels that each got.

#937 NRO court updates
  src/main/resources/db/migration/V028__UpdateNewCourtsNRO.sql
Labels: ns:pre, prd:pre, rel:pre-api-pr-937

#933 S28 3616: Add all NRO Court Users into the PRE App
  src/integrationTest/java/uk/gov/hmcts/reform/preapi/tasks/AddNROUsersIT.java
  src/integrationTest/resources/Test_NRO_User_Import.csv
  src/main/java/uk/gov/hmcts/reform/preapi/dto/AccessDTO.java
  src/main/java/uk/gov/hmcts/reform/preapi/entities/User.java
  src/main/java/uk/gov/hmcts/reform/preapi/repositories/AppAccessRepository.java
  src/main/java/uk/gov/hmcts/reform/preapi/repositories/CourtRepository.java
  src/main/java/uk/gov/hmcts/reform/preapi/services/UserService.java
  src/main/java/uk/gov/hmcts/reform/preapi/tasks/AddNROUsers.java
  src/main/java/uk/gov/hmcts/reform/preapi/tasks/ImportedNROUser.java
  src/main/java/uk/gov/hmcts/reform/preapi/tasks/ObscureNROUsers.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/preapi/services/UserServiceTest.java
  src/test/java/uk/gov/hmcts/reform/preapi/tasks/AddNROUsersTest.java
  src/test/java/uk/gov/hmcts/reform/preapi/tasks/ObscureNROUsersTest.java
Labels: ns:pre, prd:pre, rel:pre-api-pr-933

#970 S28-3708 Integrate with Slack
  charts/pre-api/Chart.yaml
  charts/pre-api/values.yaml
  src/main/java/uk/gov/hmcts/reform/preapi/alerts/SlackClient.java
  src/main/java/uk/gov/hmcts/reform/preapi/alerts/SlackMessage.java
  src/main/java/uk/gov/hmcts/reform/preapi/alerts/SlackMessageSection.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/preapi/alerts/SlackMessageSectionTest.java
  src/test/java/uk/gov/hmcts/reform/preapi/alerts/SlackMessageTest.java
Labels: ns:pre, prd:pre, rel:pre-api-pr-970

#962 S28-3671 Springboot 4.x upgrade and fixes
  .github/renovate.json
  build.gradle
  config/owasp/suppressions.xml
  src/integrationTest/java/uk/gov/hmcts/reform/preapi/utils/IntegrationTestBase.java
  src/main/java/uk/gov/hmcts/reform/preapi/repositories/CourtRepository.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/preapi/actuator/PreApiHealthIndicatorTest.java
  src/test/java/uk/gov/hmcts/reform/preapi/controller/AuditControllerTest.java
  src/test/java/uk/gov/hmcts/reform/preapi/controller/BookingControllerTest.java
  src/test/java/uk/gov/hmcts/reform/preapi/controller/CaptureSessionControllerTest.java
  src/test/java/uk/gov/hmcts/reform/preapi/controller/CaseControllerTest.java
  src/test/java/uk/gov/hmcts/reform/preapi/controller/CourtControllerTest.java
  src/test/java/uk/gov/hmcts/reform/preapi/controller/InviteControllerTest.java
  src/test/java/uk/gov/hmcts/reform/preapi/controller/MediaServiceControllerTest.java
  src/test/java/uk/gov/hmcts/reform/preapi/controller/RecordingControllerTest.java
  src/test/java/uk/gov/hmcts/reform/preapi/controller/ReportControllerTest.java
  src/test/java/uk/gov/hmcts/reform/preapi/controller/RoleControllerTest.java
  src/test/java/uk/gov/hmcts/reform/preapi/controller/RoomControllerTest.java
  src/test/java/uk/gov/hmcts/reform/preapi/controller/TermsAndConditionsControllerTest.java
  src/test/java/uk/gov/hmcts/reform/preapi/controller/UserControllerTest.java
  src/test/java/uk/gov/hmcts/reform/preapi/dto/validators/PortalAppAccessValidatorTest.java
  src/test/java/uk/gov/hmcts/reform/preapi/email/GovNotifyTest.java
  src/test/java/uk/gov/hmcts/reform/preapi/entities/listeners/AuditListenerTest.java
  src/test/java/uk/gov/hmcts/reform/preapi/entities/listeners/RecordingListenerTest.java
  src/test/java/uk/gov/hmcts/reform/preapi/media/MediaKindTest.java
  src/test/java/uk/gov/hmcts/reform/preapi/media/storage/AzureFinalStorageServiceTest.java
  src/test/java/uk/gov/hmcts/reform/preapi/media/storage/AzureIngestStorageServiceTest.java
  src/test/java/uk/gov/hmcts/reform/preapi/security/AuthorisationServiceTest.java
  src/test/java/uk/gov/hmcts/reform/preapi/security/XUserIdFilterTest.java
  src/test/java/uk/gov/hmcts/reform/preapi/services/AppAccessServiceTest.java
  src/test/java/uk/gov/hmcts/reform/preapi/services/AuditServiceTest.java
  src/test/java/uk/gov/hmcts/reform/preapi/services/BookingServiceTest.java
  src/test/java/uk/gov/hmcts/reform/preapi/services/CaptureSessionServiceTest.java
  src/test/java/uk/gov/hmcts/reform/preapi/services/CaseServiceTest.java
  src/test/java/uk/gov/hmcts/reform/preapi/services/CourtServiceTest.java
  src/test/java/uk/gov/hmcts/reform/preapi/services/InviteServiceTest.java
  src/test/java/uk/gov/hmcts/reform/preapi/services/PortalAccessServiceTest.java
  src/test/java/uk/gov/hmcts/reform/preapi/services/RecordingServiceTest.java
  src/test/java/uk/gov/hmcts/reform/preapi/services/ReportServiceTest.java
  src/test/java/uk/gov/hmcts/reform/preapi/services/RoleServiceTest.java
  src/test/java/uk/gov/hmcts/reform/preapi/services/RoomServiceTest.java
  src/test/java/uk/gov/hmcts/reform/preapi/services/ShareBookingServiceTest.java
  src/test/java/uk/gov/hmcts/reform/preapi/services/TermsAndConditionsServiceTest.java
  src/test/java/uk/gov/hmcts/reform/preapi/services/UserServiceTest.java
  src/test/java/uk/gov/hmcts/reform/preapi/services/UserTermsAcceptedServiceTest.java
  src/test/java/uk/gov/hmcts/reform/preapi/tasks/AddNROUsersTest.java
  src/test/java/uk/gov/hmcts/reform/preapi/tasks/ObscureNROUsersTest.java
Labels: ns:pre, prd:pre, enable_keep_helm, rel:pre-api-pr-962

#857 S28 3664: Start Live Event Cron
  src/main/java/uk/gov/hmcts/reform/preapi/controllers/TestingSupportController.java
  src/main/java/uk/gov/hmcts/reform/preapi/services/ScheduledTaskRunner.java
  src/main/java/uk/gov/hmcts/reform/preapi/tasks/StartLiveEvents.java
  src/test/java/uk/gov/hmcts/reform/preapi/tasks/StartLiveEventsTest.java
Labels: ns:pre, prd:pre, rel:pre-api-pr-857

#990 Publish integration reports
  Jenkinsfile_CNP
  build.gradle
Labels: ns:pre, prd:pre, stg/add-or-update, prod/add-or-update, rel:pre-api-pr-990

#961 NRO-teams script
  scripts/NRO-teams-onboarding.ps1
Labels: ns:pre, prd:pre, enable_keep_helm, stg/add-or-update, prod/add-or-update, rel:pre-api-pr-961

#996 Fix: Start Live Event Transaction Error
  src/main/java/uk/gov/hmcts/reform/preapi/services/BookingService.java
Labels: ns:pre, prd:pre, rel:pre-api-pr-996

#1009 increase pod mem to 3GB
  charts/pre-api/Chart.yaml
  charts/pre-api/values.dev.template.yaml
  charts/pre-api/values.yaml
Labels: ns:pre, prd:pre, rel:pre-api-pr-1009

#1012 Remove un needed mem setting Update Chart.yaml
  charts/pre-api/Chart.yaml
  charts/pre-api/values.yaml
Labels: ns:pre, prd:pre, rel:pre-api-pr-1012

#1014 Add edit request form to portal invite email
  src/main/java/uk/gov/hmcts/reform/preapi/email/govnotify/GovNotify.java
  src/main/java/uk/gov/hmcts/reform/preapi/email/govnotify/templates/PortalInvite.java
  src/test/java/uk/gov/hmcts/reform/preapi/email/GovNotifyTest.java
Labels: ns:pre, prd:pre, enable_keep_helm, rel:pre-api-pr-1014

#1015 Fix FT
  src/functionalTest/java/uk/gov/hmcts/reform/preapi/email/GovNotifyFT.java
Labels: ns:pre, prd:pre, rel:pre-api-pr-1015

#1005 S28 3744: Get Filename For New Recording
  src/main/java/uk/gov/hmcts/reform/preapi/services/CaptureSessionService.java
  src/test/java/uk/gov/hmcts/reform/preapi/services/CaptureSessionServiceTest.java
Labels: ns:pre, prd:pre, enable_keep_helm, rel:pre-api-pr-1005

#1017 REST to tasks refactor
  README.md
  charts/pre-api/values.yaml
  src/main/java/uk/gov/hmcts/reform/preapi/batch/application/services/reporting/LoggingService.java
  src/main/java/uk/gov/hmcts/reform/preapi/batch/config/BatchConfiguration.java
  src/main/java/uk/gov/hmcts/reform/preapi/batch/config/MigrationType.java
  src/main/java/uk/gov/hmcts/reform/preapi/batch/controllers/BatchController.java
  src/main/java/uk/gov/hmcts/reform/preapi/tasks/migration/BaseTask.java
  src/main/java/uk/gov/hmcts/reform/preapi/tasks/migration/FetchXML.java
  src/main/java/uk/gov/hmcts/reform/preapi/tasks/migration/MigrateExclusions.java
  src/main/java/uk/gov/hmcts/reform/preapi/tasks/migration/PostProcessMigration.java
  src/main/java/uk/gov/hmcts/reform/preapi/tasks/migration/ProcessMigration.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/preapi/controller/batch/BatchControllerTest.java
  src/test/java/uk/gov/hmcts/reform/preapi/tasks/batch/FetchXMLTest.java
  src/test/java/uk/gov/hmcts/reform/preapi/tasks/batch/MigrateExclusionsTest.java
  src/test/java/uk/gov/hmcts/reform/preapi/tasks/batch/PostProcessMigrationTest.java
  src/test/java/uk/gov/hmcts/reform/preapi/tasks/batch/ProcessMigrationTest.java
Labels: ns:pre, prd:pre, stg/destroy, prod/destroy, rel:pre-api-pr-1017

#1023 update fortify-client for gradle issues
  README.md
  build.gradle
Labels: ns:pre, prd:pre, rel:pre-api-pr-1023

#1022 Cleaning up old migration scripts
  bin/migration-update/__init__.py
  bin/migration-update/main.py
  bin/migration-update/sql_queries.py
  bin/migration/README.md
  bin/migration/azure_storage_utils/README.md
  bin/migration/azure_storage_utils/azure_storage_utils.py
  bin/migration/azure_storage_utils/main.py
  bin/migration/db_utils.py
  bin/migration/main.py
  bin/migration/migration_reports/constants.py
  bin/migration/migration_reports/failed_imports_logger.py
  bin/migration/migration_reports/logging_config.json
  bin/migration/migration_reports/logging_utils.py
  bin/migration/migration_reports/migration_tracker.py
  bin/migration/migration_reports/sql_queries.py
  bin/migration/requirements.txt
  bin/migration/tables/__init__.py
  bin/migration/tables/appaccess.py
  bin/migration/tables/audits.py
  bin/migration/tables/bookingparticipants.py
  bin/migration/tables/bookings.py
  bin/migration/tables/capturesessions.py
  bin/migration/tables/cases.py
  bin/migration/tables/courtregions.py
  bin/migration/tables/courtrooms.py
  bin/migration/tables/courts.py
  bin/migration/tables/helpers.py
  bin/migration/tables/participants.py
  bin/migration/tables/portalaccess.py
  bin/migration/tables/recordings.py
  bin/migration/tables/regions.py
  bin/migration/tables/roles.py
  bin/migration/tables/rooms.py
  bin/migration/tables/sharebookings.py
  bin/migration/tables/users.py
  data-migration.yml
Labels: ns:pre, prd:pre, rel:pre-api-pr-1022

#1029 S28 3770: Add `origin` to Cases
  infrastructure/main.tf
  pre-api-stg.yaml
  src/main/java/uk/gov/hmcts/reform/preapi/controllers/TestingSupportController.java
  src/main/java/uk/gov/hmcts/reform/preapi/dto/CaseDTO.java
  src/main/java/uk/gov/hmcts/reform/preapi/dto/CreateCaseDTO.java
  src/main/java/uk/gov/hmcts/reform/preapi/entities/Case.java
  src/main/java/uk/gov/hmcts/reform/preapi/services/CaseService.java
  src/main/resources/db/migration/V029__CaseOrigin.sql
  src/test/java/uk/gov/hmcts/reform/preapi/dto/CaseDTOTest.java
  src/test/java/uk/gov/hmcts/reform/preapi/services/CaseServiceTest.java
  src/test/java/uk/gov/hmcts/reform/preapi/util/HelperFactory.java
Labels: ns:pre, prd:pre, enable_keep_helm, stg/destroy, prod/destroy, rel:pre-api-pr-1029

#1031 Fix: Start Live Event Asset Conflict
  src/main/java/uk/gov/hmcts/reform/preapi/media/MediaKind.java
  src/test/java/uk/gov/hmcts/reform/preapi/media/MediaKindTest.java
Labels: ns:pre, prd:pre, stg/add-or-update, prod/add-or-update, rel:pre-api-pr-1031
