Repository hmcts/pre-api, pull requests merged in 2025-02, with the labels that each got.

#890 S28-3159/playback report
  docker-compose.yml
  docker/database/init-db.sh
  pre-api-stg.yaml
  src/integrationTest/java/uk/gov/hmcts/reform/preapi/services/ReportServiceIT.java
  src/main/java/uk/gov/hmcts/reform/preapi/dto/reports/PlaybackReportDTO.java
  src/test/java/uk/gov/hmcts/reform/preapi/controller/ReportControllerTest.java
  src/test/java/uk/gov/hmcts/reform/preapi/services/ReportServiceTest.java
Labels: ns:pre, prd:pre, enable_keep_helm, stg/destroy, prod/destroy, rel:pre-api-pr-890

#880 S28 3160: Report Update - Access Removed
  src/main/java/uk/gov/hmcts/reform/preapi/dto/reports/AccessRemovedReportDTO.java
  src/main/java/uk/gov/hmcts/reform/preapi/services/ReportService.java
  src/test/java/uk/gov/hmcts/reform/preapi/controller/ReportControllerTest.java
  src/test/java/uk/gov/hmcts/reform/preapi/services/ReportServiceTest.java
Labels: ns:pre, prd:pre, stg/destroy, prod/destroy, rel:pre-api-pr-880

#884 S28 3161: Report Update - Edits
  src/main/java/uk/gov/hmcts/reform/preapi/dto/reports/EditReportDTO.java
  src/main/java/uk/gov/hmcts/reform/preapi/services/ReportService.java
  src/test/java/uk/gov/hmcts/reform/preapi/controller/ReportControllerTest.java
  src/test/java/uk/gov/hmcts/reform/preapi/services/ReportServiceTest.java
Labels: ns:pre, prd:pre, stg/destroy, prod/destroy

#885 S28 3162: Report Update - Share Report
  src/integrationTest/java/uk/gov/hmcts/reform/preapi/services/ReportServiceIT.java
  src/main/java/uk/gov/hmcts/reform/preapi/dto/reports/SharedReportDTO.java
  src/main/java/uk/gov/hmcts/reform/preapi/services/ReportService.java
  src/test/java/uk/gov/hmcts/reform/preapi/controller/ReportControllerTest.java
  src/test/java/uk/gov/hmcts/reform/preapi/services/ReportServiceTest.java
Labels: ns:pre, prd:pre, stg/destroy, prod/destroy

#887 S28 3163: Report Update - Recordings Per Case
  src/integrationTest/java/uk/gov/hmcts/reform/preapi/services/ReportServiceIT.java
  src/main/java/uk/gov/hmcts/reform/preapi/dto/reports/RecordingsPerCaseReportDTO.java
  src/test/java/uk/gov/hmcts/reform/preapi/controller/ReportControllerTest.java
  src/test/java/uk/gov/hmcts/reform/preapi/services/ReportServiceTest.java
Labels: ns:pre, prd:pre, stg/destroy, prod/destroy

#888 S28 3164: Report Update - Completed Capture Sessions (Recordings)
  src/main/java/uk/gov/hmcts/reform/preapi/dto/reports/CompletedCaptureSessionReportDTO.java
  src/main/java/uk/gov/hmcts/reform/preapi/entities/Participant.java
  src/main/java/uk/gov/hmcts/reform/preapi/services/ReportService.java
  src/test/java/uk/gov/hmcts/reform/preapi/controller/ReportControllerTest.java
  src/test/java/uk/gov/hmcts/reform/preapi/services/ReportServiceTest.java
Labels: ns:pre, prd:pre, stg/destroy, prod/destroy

#889 S28 3165: Report Update - Schedules
  src/main/java/uk/gov/hmcts/reform/preapi/dto/reports/ScheduleReportDTO.java
  src/main/java/uk/gov/hmcts/reform/preapi/services/ReportService.java
  src/test/java/uk/gov/hmcts/reform/preapi/controller/ReportControllerTest.java
  src/test/java/uk/gov/hmcts/reform/preapi/services/ReportServiceTest.java
Labels: ns:pre, prd:pre, stg/destroy, prod/destroy

#893 S28 3166: Report Update - Active Shares
  pre-api-stg.yaml
  src/integrationTest/java/uk/gov/hmcts/reform/preapi/services/ReportServiceIT.java
  src/main/java/uk/gov/hmcts/reform/preapi/controllers/ReportController.java
  src/main/java/uk/gov/hmcts/reform/preapi/controllers/params/SearchSharedReport.java
  src/main/java/uk/gov/hmcts/reform/preapi/dto/reports/SharedReportDTO.java
  src/main/java/uk/gov/hmcts/reform/preapi/repositories/ShareBookingRepository.java
  src/main/java/uk/gov/hmcts/reform/preapi/services/ReportService.java
  src/test/java/uk/gov/hmcts/reform/preapi/controller/ReportControllerTest.java
  src/test/java/uk/gov/hmcts/reform/preapi/services/ReportServiceTest.java
Labels: ns:pre, prd:pre, stg/destroy, prod/destroy, rel:pre-api-pr-893

#915 SQL to update existing court names and add Birmingham court
  src/main/resources/db/migration/V027__UpdateNewCourtsNRO.sql
Labels: ns:pre, prd:pre, rel:pre-api-pr-915

#881 S28 3232: Add Participant Ids to Booking Audit
  src/integrationTest/java/uk/gov/hmcts/reform/preapi/entities/BookingTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/preapi/entities/CaseTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/preapi/entities/CreateBookingDTOTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/preapi/entities/ParticipantTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/preapi/entities/RecordingTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/preapi/entities/ShareBookingTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/preapi/services/AuditServiceIT.java
  src/main/java/uk/gov/hmcts/reform/preapi/controllers/TestingSupportController.java
  src/main/java/uk/gov/hmcts/reform/preapi/entities/Booking.java
  src/main/java/uk/gov/hmcts/reform/preapi/repositories/AuditRepository.java
Labels: ns:pre, prd:pre, enable_keep_helm, rel:pre-api-pr-881

#925 Move base charts to OCI
  charts/pre-api/Chart.yaml
Labels: ns:pre, prd:pre, rel:pre-api-pr-925

#914 S28 3667: Create Streaming Locator on Start Live Event
  charts/pre-api/Chart.yaml
  charts/pre-api/values.dev.template.yaml
  charts/pre-api/values.stg.template.yaml
  charts/pre-api/values.yaml
  src/main/java/uk/gov/hmcts/reform/preapi/media/MediaKind.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/preapi/media/MediaKindTest.java
Labels: ns:pre, prd:pre, enable_keep_helm, rel:pre-api-pr-914

#941 Dedupe emails sent via gov notify for case close and remove time for close date
  src/functionalTest/java/uk/gov/hmcts/reform/preapi/email/GovNotifyFT.java
  src/main/java/uk/gov/hmcts/reform/preapi/dto/flow/StoppedLiveEventsNotificationDTO.java
  src/main/java/uk/gov/hmcts/reform/preapi/email/IEmailService.java
  src/main/java/uk/gov/hmcts/reform/preapi/email/govnotify/GovNotify.java
  src/main/java/uk/gov/hmcts/reform/preapi/email/govnotify/templates/CasePendingClosure.java
  src/main/java/uk/gov/hmcts/reform/preapi/services/CaseService.java
  src/main/java/uk/gov/hmcts/reform/preapi/tasks/CleanupLiveEvents.java
  src/test/java/uk/gov/hmcts/reform/preapi/email/GovNotifyTest.java
  src/test/java/uk/gov/hmcts/reform/preapi/tasks/CleanupLiveEventsTest.java
Labels: ns:pre, prd:pre, rel:pre-api-pr-941

#947 S28 3315: Include Last Name in All Gov Notify Emails (Functional Tests)
  src/functionalTest/java/uk/gov/hmcts/reform/preapi/email/GovNotifyFT.java
Labels: ns:pre, prd:pre, rel:pre-api-pr-947

#948 S28 3319: Change Date Format for Disassociation Emails
  src/functionalTest/java/uk/gov/hmcts/reform/preapi/email/GovNotifyFT.java
  src/main/java/uk/gov/hmcts/reform/preapi/email/govnotify/templates/CasePendingClosure.java
Labels: ns:pre, prd:pre, rel:pre-api-pr-948

#950 S28 3316: Trigger Re-Invitation Email for User
  src/main/java/uk/gov/hmcts/reform/preapi/services/InviteService.java
Labels: ns:pre, prd:pre, enable_keep_helm, rel:pre-api-pr-950

#953 S28-3377 Functional test changes
  src/functionalTest/java/uk/gov/hmcts/reform/preapi/controllers/OpenAPISpecFunctionalTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/preapi/util/FunctionalTestBase.java
Labels: ns:pre, prd:pre, rel:pre-api-pr-953

#959 Changed notify from email to fix func tests
  src/functionalTest/java/uk/gov/hmcts/reform/preapi/email/GovNotifyFT.java
Labels: ns:pre, prd:pre, rel:pre-api-pr-959

#960 Rely on RecordingListener to send gov emails in sweeper task
  src/main/java/uk/gov/hmcts/reform/preapi/tasks/CleanupLiveEvents.java
  src/test/java/uk/gov/hmcts/reform/preapi/tasks/CleanupLiveEventsTest.java
Labels: ns:pre, prd:pre, rel:pre-api-pr-960

#904 Remove unused code
  src/main/java/uk/gov/hmcts/reform/preapi/controllers/params/SearchRooms.java
  src/main/java/uk/gov/hmcts/reform/preapi/dto/media/AssetDTO.java
  src/main/java/uk/gov/hmcts/reform/preapi/dto/media/LiveEventDTO.java
  src/main/java/uk/gov/hmcts/reform/preapi/exception/AMSLiveEventNotRunningException.java
  src/main/java/uk/gov/hmcts/reform/preapi/media/MediaKind.java
  src/main/java/uk/gov/hmcts/reform/preapi/media/MediaResourcesHelper.java
  src/main/java/uk/gov/hmcts/reform/preapi/media/dto/MkStreamingEndpointProperties.java
  src/main/java/uk/gov/hmcts/reform/preapi/tasks/CleanupLiveEvents.java
  src/test/java/uk/gov/hmcts/reform/preapi/util/HelperFactory.java
Labels: ns:pre, prd:pre, rel:pre-api-pr-904

#924 S28 3686: Handle when flows use different `sig` values
  charts/pre-api/Chart.yaml
  charts/pre-api/values.yaml
  src/main/java/uk/gov/hmcts/reform/preapi/config/BaseFlowRequestInterceptor.java
  src/main/java/uk/gov/hmcts/reform/preapi/config/CaseStateChangeFlowHttpClientConfiguration.java
  src/main/java/uk/gov/hmcts/reform/preapi/config/CaseStateChangeFlowRequestInterceptor.java
  src/main/java/uk/gov/hmcts/reform/preapi/config/FlowHttpClientConfiguration.java
  src/main/java/uk/gov/hmcts/reform/preapi/config/FlowRequestInterceptor.java
  src/main/java/uk/gov/hmcts/reform/preapi/config/StopLiveEventFlowHttpClientConfiguration.java
  src/main/java/uk/gov/hmcts/reform/preapi/config/StopLiveEventFlowRequestInterceptor.java
  src/main/java/uk/gov/hmcts/reform/preapi/email/CaseStateChangeNotifierFlowClient.java
  src/main/java/uk/gov/hmcts/reform/preapi/email/StopLiveEventNotifierFlowClient.java
  src/main/java/uk/gov/hmcts/reform/preapi/services/CaseService.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/preapi/config/BaseFlowRequestInterceptorTest.java
  src/test/java/uk/gov/hmcts/reform/preapi/services/CaseServiceTest.java
Labels: ns:pre, prd:pre, enable_keep_helm, rel:pre-api-pr-924
