Repository hmcts/pre-api, pull requests merged in 2025-05, with the labels that each got.

#1045 drop role_permission table
  infrastructure/main.tf
  pre-api-stg.yaml
  src/integrationTest/java/uk/gov/hmcts/reform/preapi/entities/PermissionTest.java
  src/main/java/uk/gov/hmcts/reform/preapi/dto/PermissionDTO.java
  src/main/java/uk/gov/hmcts/reform/preapi/dto/RoleDTO.java
  src/main/java/uk/gov/hmcts/reform/preapi/entities/Permission.java
  src/main/java/uk/gov/hmcts/reform/preapi/entities/Role.java
  src/main/java/uk/gov/hmcts/reform/preapi/repositories/PermissionRepository.java
  src/main/resources/db/migration/V0031__DropTableRolePermissions.sql
  src/test/java/uk/gov/hmcts/reform/preapi/controller/RoleControllerTest.java
  src/test/java/uk/gov/hmcts/reform/preapi/services/RoleServiceTest.java
Labels: ns:pre, prd:pre, enable_keep_helm, stg/destroy, prod/destroy, rel:pre-api-pr-1045

#920 Feature: Batching for Start Live Event Task
  .env.local
  charts/pre-api/Chart.yaml
  charts/pre-api/values.yaml
  src/main/java/uk/gov/hmcts/reform/preapi/controllers/TestingSupportController.java
  src/main/java/uk/gov/hmcts/reform/preapi/tasks/StartLiveEvents.java
  src/main/java/uk/gov/hmcts/reform/preapi/util/Batcher.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/preapi/tasks/StartLiveEventsTest.java
  src/test/java/uk/gov/hmcts/reform/preapi/util/BatcherTest.java
Labels: ns:pre, prd:pre, rel:pre-api-pr-920

#762 S28 3358: Download From Storage Account
  src/main/java/uk/gov/hmcts/reform/preapi/media/storage/AzureStorageService.java
  src/test/java/uk/gov/hmcts/reform/preapi/media/storage/AzureFinalStorageServiceTest.java
Labels: ns:pre, prd:pre, stg/destroy, prod/destroy, rel:pre-api-pr-762

#770 S28 3359: Apply Edit using ffmpeg
  build.gradle
  charts/pre-api/Chart.yaml
  src/functionalTest/java/uk/gov/hmcts/reform/preapi/component/CommandExecutorFT.java
  src/functionalTest/java/uk/gov/hmcts/reform/preapi/controllers/EditControllerFT.java
  src/functionalTest/java/uk/gov/hmcts/reform/preapi/controllers/RecordingControllerFT.java
  src/functionalTest/java/uk/gov/hmcts/reform/preapi/util/FunctionalTestBase.java
  src/integrationTest/java/uk/gov/hmcts/reform/preapi/services/RecordingServiceIT.java
  src/main/java/uk/gov/hmcts/reform/preapi/component/CommandExecutor.java
  src/main/java/uk/gov/hmcts/reform/preapi/component/util/CommandRunner.java
  src/main/java/uk/gov/hmcts/reform/preapi/controllers/EditController.java
  src/main/java/uk/gov/hmcts/reform/preapi/controllers/TestingSupportController.java
  src/main/java/uk/gov/hmcts/reform/preapi/exception/CommandExecutionException.java
  src/main/java/uk/gov/hmcts/reform/preapi/media/edit/EditInstructions.java
  src/main/java/uk/gov/hmcts/reform/preapi/media/edit/EditingService.java
  src/main/java/uk/gov/hmcts/reform/preapi/media/edit/FfmpegService.java
  src/main/java/uk/gov/hmcts/reform/preapi/media/storage/AzureStorageService.java
  src/main/java/uk/gov/hmcts/reform/preapi/repositories/EditRequestRepository.java
  src/main/java/uk/gov/hmcts/reform/preapi/repositories/RecordingRepository.java
  src/main/java/uk/gov/hmcts/reform/preapi/security/AuthorisationService.java
  src/main/java/uk/gov/hmcts/reform/preapi/services/EditRequestService.java
  src/main/java/uk/gov/hmcts/reform/preapi/services/RecordingService.java
  src/main/java/uk/gov/hmcts/reform/preapi/tasks/PerformEditRequest.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/preapi/component/CommandExecutorTest.java
  src/test/java/uk/gov/hmcts/reform/preapi/component/util/CommandRunnerTest.java
  src/test/java/uk/gov/hmcts/reform/preapi/controller/EditControllerTest.java
  src/test/java/uk/gov/hmcts/reform/preapi/media/edit/FfmpegServiceTest.java
  src/test/java/uk/gov/hmcts/reform/preapi/media/storage/AzureFinalStorageServiceTest.java
  src/test/java/uk/gov/hmcts/reform/preapi/media/storage/AzureIngestStorageServiceTest.java
  src/test/java/uk/gov/hmcts/reform/preapi/security/AuthorisationServiceTest.java
  src/test/java/uk/gov/hmcts/reform/preapi/services/EditRequestServiceTest.java
  src/test/java/uk/gov/hmcts/reform/preapi/services/RecordingServiceTest.java
  src/test/java/uk/gov/hmcts/reform/preapi/tasks/PerformEditRequestTest.java
Labels: ns:pre, prd:pre, enable_keep_helm, stg/destroy, prod/destroy, rel:pre-api-pr-770

#773 S28 3366: Create Asset From Edit
  charts/pre-api/Chart.yaml
  src/main/java/uk/gov/hmcts/reform/preapi/controllers/MediaServiceController.java
  src/main/java/uk/gov/hmcts/reform/preapi/controllers/TestingSupportController.java
  src/main/java/uk/gov/hmcts/reform/preapi/dto/media/GenerateAssetDTO.java
  src/main/java/uk/gov/hmcts/reform/preapi/media/AzureMediaService.java
  src/main/java/uk/gov/hmcts/reform/preapi/media/IMediaService.java
  src/main/java/uk/gov/hmcts/reform/preapi/media/MediaKind.java
  src/main/java/uk/gov/hmcts/reform/preapi/media/storage/AzureStorageService.java
  src/main/java/uk/gov/hmcts/reform/preapi/services/EditRequestService.java
  src/main/java/uk/gov/hmcts/reform/preapi/tasks/PerformEditRequest.java
  src/test/java/uk/gov/hmcts/reform/preapi/controller/MediaServiceControllerTest.java
  src/test/java/uk/gov/hmcts/reform/preapi/media/AzureMediaServiceTest.java
  src/test/java/uk/gov/hmcts/reform/preapi/media/MediaKindTest.java
  src/test/java/uk/gov/hmcts/reform/preapi/media/storage/AzureFinalStorageServiceTest.java
  src/test/java/uk/gov/hmcts/reform/preapi/services/EditRequestServiceTest.java
  src/test/java/uk/gov/hmcts/reform/preapi/tasks/PerformEditRequestTest.java
Labels: ns:pre, prd:pre, enable_keep_helm, stg/destroy, prod/destroy, rel:pre-api-pr-773

#921 S28 3665: Cron Batching Cleanup Live Event Task
  .env.local
  README.md
  charts/pre-api/Chart.yaml
  charts/pre-api/values.yaml
  src/main/java/uk/gov/hmcts/reform/preapi/entities/Booking.java
  src/main/java/uk/gov/hmcts/reform/preapi/entities/Participant.java
  src/main/java/uk/gov/hmcts/reform/preapi/media/IMediaService.java
  src/main/java/uk/gov/hmcts/reform/preapi/media/MediaKind.java
  src/main/java/uk/gov/hmcts/reform/preapi/tasks/CleanupLiveEvents.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/preapi/media/MediaKindTest.java
  src/test/java/uk/gov/hmcts/reform/preapi/tasks/CleanupLiveEventsTest.java
Labels: ns:pre, prd:pre, enable_keep_helm, stg/destroy, prod/destroy, rel:pre-api-pr-921

#795 S28-3373: Editing Cron Job
  src/integrationTest/java/uk/gov/hmcts/reform/preapi/tasks/AddNROUsersIT.java
  src/main/java/uk/gov/hmcts/reform/preapi/media/edit/FfmpegService.java
  src/main/java/uk/gov/hmcts/reform/preapi/media/edit/IEditingService.java
  src/main/java/uk/gov/hmcts/reform/preapi/repositories/EditRequestRepository.java
  src/main/java/uk/gov/hmcts/reform/preapi/services/EditRequestService.java
  src/main/java/uk/gov/hmcts/reform/preapi/tasks/PerformEditRequest.java
  src/test/java/uk/gov/hmcts/reform/preapi/services/EditRequestServiceTest.java
  src/test/java/uk/gov/hmcts/reform/preapi/tasks/PerformEditRequestTest.java
Labels: ns:pre, prd:pre, enable_keep_helm, stg/destroy, prod/destroy, rel:pre-api-pr-795
