Repository hmcts/pre-api, pull requests merged in 2025-08, with the labels that each got.

#956 S28 2059: Search Audits
  src/main/java/uk/gov/hmcts/reform/preapi/controllers/AuditController.java
  src/main/java/uk/gov/hmcts/reform/preapi/controllers/TestingSupportController.java
  src/main/java/uk/gov/hmcts/reform/preapi/controllers/params/SearchAudits.java
  src/main/java/uk/gov/hmcts/reform/preapi/dto/AuditDTO.java
  src/main/java/uk/gov/hmcts/reform/preapi/repositories/AuditRepository.java
  src/main/java/uk/gov/hmcts/reform/preapi/services/AuditService.java
  src/test/java/uk/gov/hmcts/reform/preapi/controller/AuditControllerTest.java
  src/test/java/uk/gov/hmcts/reform/preapi/controllers/params/SearchAuditsTest.java
  src/test/java/uk/gov/hmcts/reform/preapi/dto/AuditDTOTest.java
  src/test/java/uk/gov/hmcts/reform/preapi/services/AuditServiceTest.java
Labels: ns:pre, prd:pre, stg/destroy, prod/destroy, rel:pre-api-pr-956

#1067 S28 3927: Feature Flag for Hiding VF Assets
  build.gradle
  charts/pre-api/Chart.yaml
  charts/pre-api/values.dev.template.yaml
  charts/pre-api/values.stg.template.yaml
  charts/pre-api/values.yaml
  src/functionalTest/java/uk/gov/hmcts/reform/preapi/controllers/BookingControllerFT.java
  src/functionalTest/java/uk/gov/hmcts/reform/preapi/controllers/CaptureSessionControllerFT.java
  src/functionalTest/java/uk/gov/hmcts/reform/preapi/controllers/CaseControllerFT.java
  src/functionalTest/java/uk/gov/hmcts/reform/preapi/util/FunctionalTestBase.java
  src/integrationTest/java/uk/gov/hmcts/reform/preapi/services/BookingServiceIT.java
  src/integrationTest/java/uk/gov/hmcts/reform/preapi/services/CaptureSessionServiceIT.java
  src/integrationTest/java/uk/gov/hmcts/reform/preapi/services/CaseServiceIT.java
  src/integrationTest/java/uk/gov/hmcts/reform/preapi/services/RecordingServiceIT.java
  src/integrationTest/java/uk/gov/hmcts/reform/preapi/utils/IntegrationTestBase.java
  src/main/java/uk/gov/hmcts/reform/preapi/batch/util/RegexPatterns.java
  src/main/java/uk/gov/hmcts/reform/preapi/controllers/CaptureSessionController.java
  src/main/java/uk/gov/hmcts/reform/preapi/controllers/TestingSupportController.java
  src/main/java/uk/gov/hmcts/reform/preapi/repositories/BookingRepository.java
  src/main/java/uk/gov/hmcts/reform/preapi/repositories/CaptureSessionRepository.java
  src/main/java/uk/gov/hmcts/reform/preapi/repositories/CaseRepository.java
  src/main/java/uk/gov/hmcts/reform/preapi/repositories/RecordingRepository.java
  src/main/java/uk/gov/hmcts/reform/preapi/security/AuthorisationService.java
  src/main/java/uk/gov/hmcts/reform/preapi/security/authentication/UserAuthentication.java
  src/main/java/uk/gov/hmcts/reform/preapi/services/BookingService.java
  src/main/java/uk/gov/hmcts/reform/preapi/services/CaptureSessionService.java
  src/main/java/uk/gov/hmcts/reform/preapi/services/CaseService.java
  src/main/java/uk/gov/hmcts/reform/preapi/services/RecordingService.java
  src/main/resources/application.yaml
  src/main/resources/batch/reference_data/Sites.csv
  src/test/java/uk/gov/hmcts/reform/preapi/security/AuthorisationServiceTest.java
  src/test/java/uk/gov/hmcts/reform/preapi/services/BookingServiceTest.java
  src/test/java/uk/gov/hmcts/reform/preapi/services/CaptureSessionServiceTest.java
  src/test/java/uk/gov/hmcts/reform/preapi/services/CaseServiceTest.java
  src/test/java/uk/gov/hmcts/reform/preapi/services/RecordingServiceTest.java
  src/test/java/uk/gov/hmcts/reform/preapi/tasks/StartLiveEventsTest.java
Labels: ns:pre, prd:pre, enable_keep_helm, stg/destroy, prod/destroy, rel:pre-api-pr-1067

#1137 Production DB connection script for BAU team
  scripts/Connect-To-PRE-Production-DB.sh
Labels: ns:pre, prd:pre, stg/destroy, prod/destroy, rel:pre-api-pr-1137

#1173 add normalisation of case ref when caching and adding logs for error …
  src/main/java/uk/gov/hmcts/reform/preapi/batch/application/services/persistence/InMemoryCacheService.java
  src/test/java/uk/gov/hmcts/reform/preapi/batch/application/services/persistence/InMemoryCacheServiceTest.java
Labels: ns:pre, prd:pre, rel:pre-api-pr-1173

#1176 Refactor InMemoryCacheService to avoid exceptions on invalid inputs
  src/main/java/uk/gov/hmcts/reform/preapi/batch/application/services/persistence/InMemoryCacheService.java
  src/test/java/uk/gov/hmcts/reform/preapi/batch/application/services/persistence/InMemoryCacheServiceTest.java
Labels: ns:pre, prd:pre, rel:pre-api-pr-1176

#1053 S28 3692: GovNotify Release Clean-up
  .env.local
  charts/pre-api/Chart.yaml
  charts/pre-api/values.dev.template.yaml
  charts/pre-api/values.stg.template.yaml
  charts/pre-api/values.yaml
  src/main/java/uk/gov/hmcts/reform/preapi/config/CaseStateChangeFlowHttpClientConfiguration.java
  src/main/java/uk/gov/hmcts/reform/preapi/config/CaseStateChangeFlowRequestInterceptor.java
  src/main/java/uk/gov/hmcts/reform/preapi/config/StopLiveEventFlowHttpClientConfiguration.java
  src/main/java/uk/gov/hmcts/reform/preapi/config/StopLiveEventFlowRequestInterceptor.java
  src/main/java/uk/gov/hmcts/reform/preapi/email/CaseStateChangeNotifierFlowClient.java
  src/main/java/uk/gov/hmcts/reform/preapi/email/StopLiveEventNotifierFlowClient.java
  src/main/java/uk/gov/hmcts/reform/preapi/media/MediaKind.java
  src/main/java/uk/gov/hmcts/reform/preapi/services/CaseService.java
  src/main/java/uk/gov/hmcts/reform/preapi/tasks/CleanupLiveEvents.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/preapi/media/MediaKindTest.java
  src/test/java/uk/gov/hmcts/reform/preapi/services/CaseServiceTest.java
  src/test/java/uk/gov/hmcts/reform/preapi/tasks/CleanupLiveEventsTest.java
Labels: ns:pre, prd:pre, enable_keep_helm, rel:pre-api-pr-1053

#1180 use branch name for github workflow
  .github/workflows/publish-openapi.yaml
Labels: ns:pre, prd:pre, rel:pre-api-pr-1180

#1165 S28 3939: Sorting for GET /edits
  infrastructure/main.tf
  pre-api-stg.yaml
  src/main/java/uk/gov/hmcts/reform/preapi/controllers/EditController.java
  src/main/java/uk/gov/hmcts/reform/preapi/repositories/EditRequestRepository.java
Labels: ns:pre, prd:pre, enable_keep_helm, stg/destroy, prod/destroy, rel:pre-api-pr-1165

#1184 Remove separate b2c api
  infrastructure/main.tf
Labels: ns:pre, prd:pre, stg/destroy, prod/destroy, rel:pre-api-pr-1184

#1187 S28 4188 - User stuck on Terms and Conditions page loop
  src/integrationTest/java/uk/gov/hmcts/reform/preapi/services/UserTermsAcceptedServiceIT.java
  src/main/java/uk/gov/hmcts/reform/preapi/services/UserTermsAcceptedService.java
  src/test/java/uk/gov/hmcts/reform/preapi/services/UserTermsAcceptedServiceTest.java
Labels: ns:pre, prd:pre, enable_keep_helm, rel:pre-api-pr-1187

#1172 S28 4192: Cleanup Ffmpeg Command Generation
  charts/pre-api/Chart.yaml
  charts/pre-api/values.dev.template.yaml
  charts/pre-api/values.stg.template.yaml
  charts/pre-api/values.yaml
  src/main/java/uk/gov/hmcts/reform/preapi/media/edit/FfmpegService.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/preapi/media/edit/FfmpegServiceMultiCommandTest.java
  src/test/java/uk/gov/hmcts/reform/preapi/media/edit/FfmpegServiceTest.java
Labels: ns:pre, prd:pre, enable_keep_helm, stg/destroy, prod/destroy, rel:pre-api-pr-1172

#1145 S28 3657: Deletion Blob Tagging
  src/functionalTest/resources/application.properties
  src/main/java/uk/gov/hmcts/reform/preapi/media/MediaKind.java
  src/main/java/uk/gov/hmcts/reform/preapi/media/storage/AzureIngestStorageService.java
  src/main/java/uk/gov/hmcts/reform/preapi/media/storage/AzureStorageService.java
  src/main/java/uk/gov/hmcts/reform/preapi/services/EditRequestService.java
  src/main/java/uk/gov/hmcts/reform/preapi/tasks/CleanupLiveEvents.java
  src/main/java/uk/gov/hmcts/reform/preapi/tasks/ProcessCaptureSessions.java
  src/test/java/uk/gov/hmcts/reform/preapi/media/MediaKindTest.java
  src/test/java/uk/gov/hmcts/reform/preapi/media/storage/AzureIngestStorageServiceTest.java
  src/test/java/uk/gov/hmcts/reform/preapi/services/EditRequestServiceTest.java
  src/test/java/uk/gov/hmcts/reform/preapi/tasks/CleanupLiveEventsTest.java
  src/test/java/uk/gov/hmcts/reform/preapi/tasks/ProcessCaptureSessionsTest.java
Labels: ns:pre, prd:pre, enable_keep_helm, stg/destroy, prod/destroy, rel:pre-api-pr-1145

#1166 S28 3766: Add Batch Asset Import for Vodafone Recordings
  charts/pre-api/Chart.yaml
  charts/pre-api/values.dev.template.yaml
  charts/pre-api/values.stg.template.yaml
  charts/pre-api/values.yaml
  src/main/java/uk/gov/hmcts/reform/preapi/dto/CreateCaptureSessionDTO.java
  src/main/java/uk/gov/hmcts/reform/preapi/dto/CreateRecordingDTO.java
  src/main/java/uk/gov/hmcts/reform/preapi/media/IMediaService.java
  src/main/java/uk/gov/hmcts/reform/preapi/media/MediaKind.java
  src/main/java/uk/gov/hmcts/reform/preapi/media/storage/AzureStorageService.java
  src/main/java/uk/gov/hmcts/reform/preapi/repositories/RecordingRepository.java
  src/main/java/uk/gov/hmcts/reform/preapi/services/RecordingService.java
  src/main/java/uk/gov/hmcts/reform/preapi/tasks/CleanupLiveEvents.java
  src/main/java/uk/gov/hmcts/reform/preapi/tasks/ProcessCaptureSessions.java
  src/main/java/uk/gov/hmcts/reform/preapi/tasks/migration/BatchImportMissingMkAssets.java
  src/main/java/uk/gov/hmcts/reform/preapi/util/Batcher.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/preapi/controller/MediaServiceControllerTest.java
  src/test/java/uk/gov/hmcts/reform/preapi/dto/CreateCaptureSessionDTOTest.java
  src/test/java/uk/gov/hmcts/reform/preapi/dto/CreateRecordingDTOTest.java
  src/test/java/uk/gov/hmcts/reform/preapi/media/MediaKindTest.java
  src/test/java/uk/gov/hmcts/reform/preapi/media/storage/AzureFinalStorageServiceTest.java
  src/test/java/uk/gov/hmcts/reform/preapi/media/storage/AzureIngestStorageServiceTest.java
  src/test/java/uk/gov/hmcts/reform/preapi/services/EditRequestServiceTest.java
  src/test/java/uk/gov/hmcts/reform/preapi/tasks/CleanupLiveEventsTest.java
  src/test/java/uk/gov/hmcts/reform/preapi/tasks/ProcessCaptureSessionsTest.java
  src/test/java/uk/gov/hmcts/reform/preapi/tasks/migration/BatchImportMissingMkAssetsTest.java
  src/test/java/uk/gov/hmcts/reform/preapi/util/BatcherTest.java
Labels: ns:pre, prd:pre, stg/destroy, prod/destroy, rel:pre-api-pr-1166

#1179 S28 4182: Add Functionality for Edit Requests on Previously Edited Recordings
  src/main/java/uk/gov/hmcts/reform/preapi/dto/EditCutInstructionDTO.java
  src/main/java/uk/gov/hmcts/reform/preapi/media/edit/EditInstructions.java
  src/main/java/uk/gov/hmcts/reform/preapi/media/edit/FfmpegService.java
  src/main/java/uk/gov/hmcts/reform/preapi/services/EditRequestService.java
  src/main/java/uk/gov/hmcts/reform/preapi/services/RecordingService.java
  src/test/java/uk/gov/hmcts/reform/preapi/dto/EditCutInstructionDTOTest.java
  src/test/java/uk/gov/hmcts/reform/preapi/media/edit/EditInstructionsTest.java
  src/test/java/uk/gov/hmcts/reform/preapi/services/EditRequestServiceTest.java
Labels: ns:pre, prd:pre, enable_keep_helm, rel:pre-api-pr-1179

#1185 updating case ref logic, channel user report, notify item
  src/main/java/uk/gov/hmcts/reform/preapi/batch/application/enums/VfFailureReason.java
  src/main/java/uk/gov/hmcts/reform/preapi/batch/application/processor/ArchiveMetadataXmlExtractor.java
  src/main/java/uk/gov/hmcts/reform/preapi/batch/application/processor/Processor.java
  src/main/java/uk/gov/hmcts/reform/preapi/batch/application/services/MigrationRecordService.java
  src/main/java/uk/gov/hmcts/reform/preapi/batch/application/services/extraction/DataExtractionService.java
  src/main/java/uk/gov/hmcts/reform/preapi/batch/application/services/extraction/MetadataValidator.java
  src/main/java/uk/gov/hmcts/reform/preapi/batch/application/services/migration/EntityCreationService.java
  src/main/java/uk/gov/hmcts/reform/preapi/batch/application/services/migration/MigrationGroupBuilderService.java
  src/main/java/uk/gov/hmcts/reform/preapi/batch/application/services/validation/DataValidationService.java
  src/main/java/uk/gov/hmcts/reform/preapi/batch/application/writer/MigrationWriter.java
  src/main/java/uk/gov/hmcts/reform/preapi/batch/config/Constants.java
  src/main/java/uk/gov/hmcts/reform/preapi/batch/config/jobs/PostMigrationJobConfig.java
  src/main/java/uk/gov/hmcts/reform/preapi/batch/config/steps/CoreStepsConfig.java
  src/main/java/uk/gov/hmcts/reform/preapi/batch/entities/ExtractedMetadata.java
  src/main/java/uk/gov/hmcts/reform/preapi/batch/entities/MigrationRecord.java
  src/main/java/uk/gov/hmcts/reform/preapi/batch/repositories/MigrationRecordRepository.java
  src/main/java/uk/gov/hmcts/reform/preapi/batch/util/ArchiveNameSanitizer.java
  src/main/resources/batch/reference_data/Channel_User_Report.csv
  src/test/java/uk/gov/hmcts/reform/preapi/batch/application/processor/ArchiveMetadataXmlExtractorTest.java
  src/test/java/uk/gov/hmcts/reform/preapi/batch/application/processor/ProcessorTest.java
  src/test/java/uk/gov/hmcts/reform/preapi/batch/application/services/MigrationRecordServiceTest.java
  src/test/java/uk/gov/hmcts/reform/preapi/batch/application/services/extraction/DataExtractionServiceTest.java
  src/test/java/uk/gov/hmcts/reform/preapi/batch/application/services/extraction/MetadataValidatorTest.java
  src/test/java/uk/gov/hmcts/reform/preapi/batch/application/services/migration/EntityCreationServiceTest.java
  src/test/java/uk/gov/hmcts/reform/preapi/batch/application/services/validation/DataValidationServiceTest.java
  src/test/java/uk/gov/hmcts/reform/preapi/batch/application/writer/WriterTest.java
  src/test/java/uk/gov/hmcts/reform/preapi/batch/config/steps/CoreStepsConfigTest.java
Labels: ns:pre, prd:pre, rel:pre-api-pr-1185
