Repository hmcts/pre-api, pull requests merged in 2025-01, with the labels that each got.

#886 S28 3615/new courts nro
  charts/pre-api/values.dev.template.yaml
  docker-compose.yml
  docker/database/Dockerfile
  docker/database/init-db.sh
  src/main/resources/db/migration/V026__AddNewCourtsNRO.sql
Labels: ns:pre, prd:pre

#900 Accept recordinguid field in audit for reports
  src/main/java/uk/gov/hmcts/reform/preapi/services/ReportService.java
  src/test/java/uk/gov/hmcts/reform/preapi/services/ReportServiceTest.java
Labels: ns:pre, prd:pre, enable_keep_helm

#905 Fix NPE on playback report
  src/main/java/uk/gov/hmcts/reform/preapi/services/ReportService.java
  src/test/java/uk/gov/hmcts/reform/preapi/services/ReportServiceTest.java
Labels: ns:pre, prd:pre, rel:pre-api-pr-905

#906 Alert on cron errors too
  infrastructure/exception-alert.tf
Labels: ns:pre, prd:pre, stg/add-or-update, prod/add-or-update, rel:pre-api-pr-906

#909 Use correct KV item for close live event email flow
  charts/pre-api/Chart.yaml
  charts/pre-api/values.yaml
  src/main/resources/application.yaml
Labels: ns:pre, prd:pre, rel:pre-api-pr-909

#911 Check for response body before processing errors
  src/main/java/uk/gov/hmcts/reform/preapi/media/FeignErrorDecoder.java
Labels: ns:pre, prd:pre, rel:pre-api-pr-911
