Repository hmcts/pre-api, pull requests merged in 2025-06, with the labels that each got.

#958 S28-3540 custom metrics app insights
  README.md
  build.gradle
  src/main/java/uk/gov/hmcts/reform/preapi/media/MediaKind.java
Labels: ns:pre, prd:pre, rel:pre-api-pr-958

#1047 S28 3826: Extend Functionality of CleanupLiveEvents Task
  src/integrationTest/java/uk/gov/hmcts/reform/preapi/services/BookingServiceIT.java
  src/main/java/uk/gov/hmcts/reform/preapi/media/IMediaService.java
  src/main/java/uk/gov/hmcts/reform/preapi/media/MediaKind.java
  src/main/java/uk/gov/hmcts/reform/preapi/repositories/BookingRepository.java
  src/main/java/uk/gov/hmcts/reform/preapi/repositories/CaptureSessionRepository.java
  src/main/java/uk/gov/hmcts/reform/preapi/services/BookingService.java
  src/main/java/uk/gov/hmcts/reform/preapi/services/CaptureSessionService.java
  src/main/java/uk/gov/hmcts/reform/preapi/tasks/CleanupLiveEvents.java
  src/test/java/uk/gov/hmcts/reform/preapi/media/MediaKindTest.java
  src/test/java/uk/gov/hmcts/reform/preapi/services/BookingServiceTest.java
  src/test/java/uk/gov/hmcts/reform/preapi/services/CaptureSessionServiceTest.java
  src/test/java/uk/gov/hmcts/reform/preapi/tasks/CleanupLiveEventsTest.java
Labels: ns:pre, prd:pre, enable_keep_helm, rel:pre-api-pr-1047

#1074 S28-3958 Fix Level 4 Create Bookings Functionality
  src/functionalTest/java/uk/gov/hmcts/reform/preapi/controllers/CaseControllerFT.java
  src/main/java/uk/gov/hmcts/reform/preapi/security/AuthorisationService.java
  src/test/java/uk/gov/hmcts/reform/preapi/security/AuthorisationServiceTest.java
Labels: ns:pre, prd:pre, enable_keep_helm, stg/destroy, prod/destroy, rel:pre-api-pr-1074

#1083 S28 3976: Restrict LEVEL 4 Access to VOD and Recordings
  src/functionalTest/java/uk/gov/hmcts/reform/preapi/controllers/MediaServiceControllerFT.java
  src/functionalTest/java/uk/gov/hmcts/reform/preapi/controllers/RecordingControllerFT.java
  src/main/java/uk/gov/hmcts/reform/preapi/controllers/MediaServiceController.java
  src/main/java/uk/gov/hmcts/reform/preapi/controllers/RecordingController.java
Labels: ns:pre, prd:pre, enable_keep_helm, rel:pre-api-pr-1083

#1087 Remove unused AppInsights secret
  charts/pre-api/Chart.yaml
  charts/pre-api/values.yaml
  src/main/resources/application.yaml
Labels: ns:pre, prd:pre, rel:pre-api-pr-1087

#878 S28 3158: Report Update - Concurrent Recordings
  docker-compose.yml
  docker/database/init-db.sh
  infrastructure/main.tf
  pre-api-stg.yaml
  src/functionalTest/java/uk/gov/hmcts/reform/preapi/controllers/ReportControllerFT.java
  src/integrationTest/java/uk/gov/hmcts/reform/preapi/services/ReportServiceIT.java
  src/main/java/uk/gov/hmcts/reform/preapi/controllers/CourtController.java
  src/main/java/uk/gov/hmcts/reform/preapi/controllers/ReportController.java
  src/main/java/uk/gov/hmcts/reform/preapi/controllers/params/SearchSharedReport.java
  src/main/java/uk/gov/hmcts/reform/preapi/dto/CourtDTO.java
  src/main/java/uk/gov/hmcts/reform/preapi/dto/CreateCourtDTO.java
  src/main/java/uk/gov/hmcts/reform/preapi/dto/reports/AccessRemovedReportDTO.java
  src/main/java/uk/gov/hmcts/reform/preapi/dto/reports/BaseReportDTO.java
  src/main/java/uk/gov/hmcts/reform/preapi/dto/reports/CompletedCaptureSessionReportDTO.java
  src/main/java/uk/gov/hmcts/reform/preapi/dto/reports/ConcurrentCaptureSessionReportDTO.java
  src/main/java/uk/gov/hmcts/reform/preapi/dto/reports/EditReportDTO.java
  src/main/java/uk/gov/hmcts/reform/preapi/dto/reports/PlaybackReportDTO.java
  src/main/java/uk/gov/hmcts/reform/preapi/dto/reports/RecordingsPerCaseReportDTO.java
  src/main/java/uk/gov/hmcts/reform/preapi/dto/reports/ScheduleReportDTO.java
  src/main/java/uk/gov/hmcts/reform/preapi/dto/reports/SharedReportDTO.java
  src/main/java/uk/gov/hmcts/reform/preapi/entities/Court.java
  src/main/java/uk/gov/hmcts/reform/preapi/entities/Participant.java
  src/main/java/uk/gov/hmcts/reform/preapi/repositories/ShareBookingRepository.java
  src/main/java/uk/gov/hmcts/reform/preapi/services/CourtService.java
  src/main/java/uk/gov/hmcts/reform/preapi/services/ReportService.java
  src/main/java/uk/gov/hmcts/reform/preapi/utils/DateTimeUtils.java
  src/main/resources/db/migration/V032__CourtPostcodeAndCounty.sql
  src/test/java/uk/gov/hmcts/reform/preapi/controller/ReportControllerTest.java
  src/test/java/uk/gov/hmcts/reform/preapi/services/ReportServiceTest.java
  src/test/java/uk/gov/hmcts/reform/preapi/util/HelperFactory.java
  src/test/java/uk/gov/hmcts/reform/preapi/utils/DateTimeUtilsTest.java
Labels: ns:pre, prd:pre, enable_keep_helm, stg/destroy, prod/destroy, rel:pre-api-pr-878

#991 S28 2634: PRE Application User Report
  infrastructure/main.tf
  pre-api-stg.yaml
  src/main/java/uk/gov/hmcts/reform/preapi/controllers/ReportController.java
  src/main/java/uk/gov/hmcts/reform/preapi/dto/reports/UserPrimaryCourtReportDTO.java
  src/main/java/uk/gov/hmcts/reform/preapi/repositories/AppAccessRepository.java
  src/main/java/uk/gov/hmcts/reform/preapi/services/ReportService.java
  src/test/java/uk/gov/hmcts/reform/preapi/controller/ReportControllerTest.java
  src/test/java/uk/gov/hmcts/reform/preapi/services/ReportServiceTest.java
Labels: ns:pre, prd:pre, enable_keep_helm, stg/destroy, prod/destroy, rel:pre-api-pr-991

#1095 Revert "S28 2634: PRE Application User Report"
  infrastructure/main.tf
  pre-api-stg.yaml
  src/main/java/uk/gov/hmcts/reform/preapi/controllers/ReportController.java
  src/main/java/uk/gov/hmcts/reform/preapi/dto/reports/UserPrimaryCourtReportDTO.java
  src/main/java/uk/gov/hmcts/reform/preapi/repositories/AppAccessRepository.java
  src/main/java/uk/gov/hmcts/reform/preapi/services/ReportService.java
  src/test/java/uk/gov/hmcts/reform/preapi/controller/ReportControllerTest.java
  src/test/java/uk/gov/hmcts/reform/preapi/services/ReportServiceTest.java
Labels: ns:pre, prd:pre, stg/destroy, prod/destroy, rel:pre-api-pr-1095
