Repository hmcts/pre-api, pull requests merged in 2025-10, with the labels that each got.

#1220 Upgrade all spring libraries
  .github/workflows/publish-swagger-v2-and-bump-apim-revision.yaml
  build.gradle
  infrastructure/main.tf
  pre-api-stg.yaml
Labels: ns:pre, prd:pre, stg/destroy, prod/destroy, rel:pre-api-pr-1220

#1260 Apply an oidc jwt validation policy to the B2C API
  infrastructure/data.tf
  infrastructure/main.tf
  infrastructure/variables.tf
Labels: ns:pre, prd:pre, stg/add-or-update, prod/add-or-update, rel:pre-api-pr-1260

#1261 Mk Assets - to include Vodafone recordings with null duration (not just NO_RECORDING sessions)
  src/main/java/uk/gov/hmcts/reform/preapi/repositories/RecordingRepository.java
  src/main/java/uk/gov/hmcts/reform/preapi/services/RecordingService.java
  src/test/java/uk/gov/hmcts/reform/preapi/services/RecordingServiceTest.java
  src/test/java/uk/gov/hmcts/reform/preapi/tasks/migration/BatchImportMissingMkAssetsTest.java
Labels: ns:pre, prd:pre, stg/destroy, prod/add-or-update, rel:pre-api-pr-1261

#1266 Add cors config and switch from scp to roles
  infrastructure/data.tf
  infrastructure/demo.tfvars
  infrastructure/dev.tfvars
  infrastructure/main.tf
  infrastructure/prod.tfvars
  infrastructure/stg.tfvars
  infrastructure/test.tfvars
  infrastructure/variables.tf
Labels: ns:pre, prd:pre, stg/add-or-update, prod/add-or-update, rel:pre-api-pr-1266
