Repository hmcts/pre-api, pull requests merged in 2025-09, with the labels that each got.

#1199 update to case upsert for pre-existing cases with closed state
  src/main/java/uk/gov/hmcts/reform/preapi/batch/application/enums/VfFailureReason.java
  src/main/java/uk/gov/hmcts/reform/preapi/batch/application/processor/Processor.java
  src/main/java/uk/gov/hmcts/reform/preapi/batch/application/services/MigrationRecordService.java
  src/main/java/uk/gov/hmcts/reform/preapi/batch/application/services/reporting/LoggingService.java
  src/main/java/uk/gov/hmcts/reform/preapi/batch/application/writer/MigrationWriter.java
  src/main/java/uk/gov/hmcts/reform/preapi/batch/config/jobs/ProcessCSVJobConfig.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/preapi/batch/application/processor/ProcessorTest.java
  src/test/java/uk/gov/hmcts/reform/preapi/batch/application/services/reporting/LoggingServiceTest.java
Labels: ns:pre, prd:pre, stg/destroy, prod/destroy, rel:pre-api-pr-1199

#1205 update chart version
  charts/pre-api/Chart.yaml
Labels: ns:pre, prd:pre, rel:pre-api-pr-1205

#1209 Vodafone patch
  charts/pre-api/Chart.yaml
Labels: ns:pre, prd:pre, rel:pre-api-pr-1209

#1211 Reinstate the transactions Propagation new flag
  src/main/java/uk/gov/hmcts/reform/preapi/batch/application/writer/MigrationWriter.java
Labels: ns:pre, prd:pre, rel:pre-api-pr-1211

#1213 Change way voda import handles exceptions during batch processing
  src/main/java/uk/gov/hmcts/reform/preapi/batch/application/writer/MigrationWriter.java
  src/main/java/uk/gov/hmcts/reform/preapi/batch/application/writer/PostMigrationWriter.java
  src/main/java/uk/gov/hmcts/reform/preapi/tasks/migration/BaseTask.java
  src/test/java/uk/gov/hmcts/reform/preapi/batch/application/writer/PostMigrationWriterTest.java
  src/test/java/uk/gov/hmcts/reform/preapi/tasks/batch/FetchDataTest.java
  src/test/java/uk/gov/hmcts/reform/preapi/tasks/batch/PostProcessMigrationTest.java
  src/test/java/uk/gov/hmcts/reform/preapi/tasks/batch/ProcessMigrationTest.java
Labels: ns:pre, prd:pre, rel:pre-api-pr-1213

#1214 Refactor writer to process items in individual transactions (rollback…
  charts/pre-api/Chart.yaml
  src/main/java/uk/gov/hmcts/reform/preapi/batch/application/services/migration/MigrationGroupBuilderService.java
  src/main/java/uk/gov/hmcts/reform/preapi/batch/application/writer/MigrationItemExecutor.java
  src/main/java/uk/gov/hmcts/reform/preapi/batch/application/writer/MigrationWriter.java
  src/test/java/uk/gov/hmcts/reform/preapi/batch/application/writer/WriterTest.java
Labels: ns:pre, prd:pre, rel:pre-api-pr-1214

#1201 S28-4247 - Remove Caffeine Caching ability
  build.gradle
  src/integrationTest/java/uk/gov/hmcts/reform/preapi/services/InviteServiceIT.java
  src/integrationTest/java/uk/gov/hmcts/reform/preapi/services/UserTermsAcceptedServiceIT.java
  src/integrationTest/java/uk/gov/hmcts/reform/preapi/tasks/AddNROUsersIT.java
  src/main/java/uk/gov/hmcts/reform/preapi/Application.java
  src/main/java/uk/gov/hmcts/reform/preapi/services/InviteService.java
  src/main/java/uk/gov/hmcts/reform/preapi/services/UserService.java
  src/main/java/uk/gov/hmcts/reform/preapi/services/UserTermsAcceptedService.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/preapi/services/UserServiceTest.java
  src/test/java/uk/gov/hmcts/reform/preapi/services/UserTermsAcceptedServiceTest.java
Labels: ns:pre, prd:pre, enable_keep_helm, DO-NOT-MERGE, rel:pre-api-pr-1201

#1218 Create a table for analysing errors in the vf migration
  src/main/resources/db/migration/V045__MigrationErrorsTable.sql
Labels: ns:pre, prd:pre, rel:pre-api-pr-1218

#1217 Revert "Resume MK Import before transformation stage"
  .gitignore
  charts/pre-api/Chart.yaml
  charts/pre-api/values.yaml
  src/main/java/uk/gov/hmcts/reform/preapi/media/MediaKind.java
  src/main/java/uk/gov/hmcts/reform/preapi/media/storage/AzureStorageService.java
  src/main/java/uk/gov/hmcts/reform/preapi/tasks/migration/BatchImportMissingMkAssets.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/preapi/media/storage/AzureIngestStorageServiceTest.java
  src/test/java/uk/gov/hmcts/reform/preapi/tasks/migration/BatchImportMissingMkAssetsTest.java
Labels: ns:pre, prd:pre, rel:pre-api-pr-1217
