Repository hmcts/pre-api, pull requests merged in 2025-07, with the labels that each got.

#1048 S28 3849: Optimise Courts Search
  infrastructure/main.tf
  pre-api-stg.yaml
  src/functionalTest/java/uk/gov/hmcts/reform/preapi/controllers/BookingControllerFT.java
  src/functionalTest/java/uk/gov/hmcts/reform/preapi/util/FunctionalTestBase.java
  src/integrationTest/java/uk/gov/hmcts/reform/preapi/entities/RoomTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/preapi/services/BookingServiceIT.java
  src/integrationTest/java/uk/gov/hmcts/reform/preapi/services/RoomServiceIT.java
  src/main/java/uk/gov/hmcts/reform/preapi/controllers/RoomController.java
  src/main/java/uk/gov/hmcts/reform/preapi/controllers/TestingSupportController.java
  src/main/java/uk/gov/hmcts/reform/preapi/dto/BookingDTO.java
  src/main/java/uk/gov/hmcts/reform/preapi/dto/CourtDTO.java
  src/main/java/uk/gov/hmcts/reform/preapi/dto/CreateCourtDTO.java
  src/main/java/uk/gov/hmcts/reform/preapi/dto/RoomDTO.java
  src/main/java/uk/gov/hmcts/reform/preapi/entities/Court.java
  src/main/java/uk/gov/hmcts/reform/preapi/entities/Room.java
  src/main/java/uk/gov/hmcts/reform/preapi/repositories/RoomRepository.java
  src/main/java/uk/gov/hmcts/reform/preapi/services/CourtService.java
  src/main/java/uk/gov/hmcts/reform/preapi/services/RoomService.java
  src/main/java/uk/gov/hmcts/reform/preapi/tasks/AddNROUsers.java
  src/main/resources/db/migration/V033__RemoveRooms.sql
  src/test/java/uk/gov/hmcts/reform/preapi/controller/CourtControllerTest.java
  src/test/java/uk/gov/hmcts/reform/preapi/controller/ReportControllerTest.java
  src/test/java/uk/gov/hmcts/reform/preapi/controller/RoomControllerTest.java
  src/test/java/uk/gov/hmcts/reform/preapi/dto/CourtDTOTest.java
  src/test/java/uk/gov/hmcts/reform/preapi/services/CourtServiceTest.java
  src/test/java/uk/gov/hmcts/reform/preapi/services/RoomServiceTest.java
  src/test/java/uk/gov/hmcts/reform/preapi/util/HelperFactory.java
Labels: ns:pre, prd:pre, stg/destroy, prod/destroy, rel:pre-api-pr-1048

#1119 Revert optimise courts
  infrastructure/main.tf
  pre-api-stg.yaml
  src/main/java/uk/gov/hmcts/reform/preapi/controllers/RoomController.java
  src/main/java/uk/gov/hmcts/reform/preapi/dto/CourtDTO.java
  src/main/java/uk/gov/hmcts/reform/preapi/dto/CreateCourtDTO.java
  src/main/java/uk/gov/hmcts/reform/preapi/dto/RoomDTO.java
  src/test/java/uk/gov/hmcts/reform/preapi/controller/CourtControllerTest.java
  src/test/java/uk/gov/hmcts/reform/preapi/controller/RoomControllerTest.java
Labels: stg/destroy

#987 S28 2346: Re-enable Functional Test
  src/functionalTest/java/uk/gov/hmcts/reform/preapi/controllers/BookingControllerFT.java
  src/functionalTest/java/uk/gov/hmcts/reform/preapi/controllers/CaseControllerFT.java
  src/main/java/uk/gov/hmcts/reform/preapi/repositories/CaptureSessionRepository.java
  src/main/java/uk/gov/hmcts/reform/preapi/repositories/ShareBookingRepository.java
  src/main/java/uk/gov/hmcts/reform/preapi/services/ShareBookingService.java
Labels: ns:pre, prd:pre, stg/add-or-update, prod/add-or-update, rel:pre-api-pr-987

#1129 Separate out View Per Media Held Report and rename
  infrastructure/main.tf
  pre-api-stg.yaml
  src/main/java/uk/gov/hmcts/reform/preapi/controllers/ReportController.java
  src/main/java/uk/gov/hmcts/reform/preapi/dto/reports/PlaybackReportArgsRecord.java
  src/main/java/uk/gov/hmcts/reform/preapi/dto/reports/PlaybackReportDTOV2.java
  src/main/java/uk/gov/hmcts/reform/preapi/dto/reports/UserRecordingPlaybackReportDTOV2.java
  src/main/java/uk/gov/hmcts/reform/preapi/services/ReportService.java
  src/test/java/uk/gov/hmcts/reform/preapi/controller/ReportControllerTest.java
  src/test/java/uk/gov/hmcts/reform/preapi/services/ReportServiceTest.java
Labels: ns:pre, prd:pre, stg/destroy, prod/destroy, rel:pre-api-pr-1129

#1115 S28-3984 Add GetScheduledBookings job
  src/integrationTest/java/uk/gov/hmcts/reform/preapi/services/BookingServiceIT.java
  src/main/java/uk/gov/hmcts/reform/preapi/alerts/SlackMessage.java
  src/main/java/uk/gov/hmcts/reform/preapi/alerts/SlackMessageJsonOptions.java
  src/main/java/uk/gov/hmcts/reform/preapi/services/BookingService.java
  src/main/java/uk/gov/hmcts/reform/preapi/tasks/GetScheduledBookings.java
  src/main/java/uk/gov/hmcts/reform/preapi/tasks/StartLiveEvents.java
  src/test/java/uk/gov/hmcts/reform/preapi/alerts/SlackMessageTest.java
  src/test/java/uk/gov/hmcts/reform/preapi/services/BookingServiceTest.java
  src/test/java/uk/gov/hmcts/reform/preapi/tasks/GetScheduledBookingsTest.java
  src/test/java/uk/gov/hmcts/reform/preapi/tasks/StartLiveEventsTest.java
Labels: ns:pre, prd:pre, rel:pre-api-pr-1115

#1133 Improve speed of Playback reports and concurrent capture session report
  build.gradle
  src/integrationTest/java/uk/gov/hmcts/reform/preapi/tasks/AddNROUsersIT.java
  src/main/java/uk/gov/hmcts/reform/preapi/Application.java
  src/main/java/uk/gov/hmcts/reform/preapi/repositories/CaptureSessionRepository.java
  src/main/java/uk/gov/hmcts/reform/preapi/repositories/RecordingRepository.java
  src/main/java/uk/gov/hmcts/reform/preapi/services/UserService.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/preapi/services/UserServiceTest.java
Labels: ns:pre, prd:pre, rel:pre-api-pr-1133

#1141 Revert "S28 3657: Blob Tagging for Deletion (#910)"
  src/main/java/uk/gov/hmcts/reform/preapi/media/MediaKind.java
  src/main/java/uk/gov/hmcts/reform/preapi/media/storage/AzureIngestStorageService.java
  src/main/java/uk/gov/hmcts/reform/preapi/media/storage/AzureStorageService.java
  src/main/java/uk/gov/hmcts/reform/preapi/tasks/CleanupLiveEvents.java
  src/main/java/uk/gov/hmcts/reform/preapi/tasks/ProcessCaptureSessions.java
  src/test/java/uk/gov/hmcts/reform/preapi/media/MediaKindTest.java
  src/test/java/uk/gov/hmcts/reform/preapi/media/storage/AzureIngestStorageServiceTest.java
  src/test/java/uk/gov/hmcts/reform/preapi/tasks/CleanupLiveEventsTest.java
  src/test/java/uk/gov/hmcts/reform/preapi/tasks/ProcessCaptureSessionsTest.java
Labels: ns:pre, prd:pre, rel:pre-api-pr-1141

#1118 S28 4043: Task for Clean up of Null Durations
  Dockerfile
  charts/pre-api/Chart.yaml
  charts/pre-api/values.dev.template.yaml
  charts/pre-api/values.stg.template.yaml
  charts/pre-api/values.yaml
  src/functionalTest/java/uk/gov/hmcts/reform/preapi/component/CommandExecutorFT.java
  src/integrationTest/java/uk/gov/hmcts/reform/preapi/services/RecordingServiceIT.java
  src/main/java/uk/gov/hmcts/reform/preapi/component/CommandExecutor.java
  src/main/java/uk/gov/hmcts/reform/preapi/component/util/CommandRunner.java
  src/main/java/uk/gov/hmcts/reform/preapi/config/AzureConfiguration.java
  src/main/java/uk/gov/hmcts/reform/preapi/controllers/TestingSupportController.java
  src/main/java/uk/gov/hmcts/reform/preapi/media/AzureMediaService.java
  src/main/java/uk/gov/hmcts/reform/preapi/media/edit/FfmpegService.java
  src/main/java/uk/gov/hmcts/reform/preapi/media/storage/AzureFinalStorageService.java
  src/main/java/uk/gov/hmcts/reform/preapi/media/storage/AzureIngestStorageService.java
  src/main/java/uk/gov/hmcts/reform/preapi/media/storage/AzureStorageService.java
  src/main/java/uk/gov/hmcts/reform/preapi/repositories/RecordingRepository.java
  src/main/java/uk/gov/hmcts/reform/preapi/services/RecordingService.java
  src/main/java/uk/gov/hmcts/reform/preapi/tasks/CleanupNullRecordingDuration.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/preapi/component/CommandExecutorTest.java
  src/test/java/uk/gov/hmcts/reform/preapi/media/AzureMediaServiceTest.java
  src/test/java/uk/gov/hmcts/reform/preapi/media/edit/FfmpegServiceTest.java
  src/test/java/uk/gov/hmcts/reform/preapi/media/storage/AzureFinalStorageServiceTest.java
  src/test/java/uk/gov/hmcts/reform/preapi/media/storage/AzureIngestStorageServiceTest.java
  src/test/java/uk/gov/hmcts/reform/preapi/services/RecordingServiceTest.java
  src/test/java/uk/gov/hmcts/reform/preapi/tasks/BaseCleanupNullRecordingDurationTest.java
  src/test/java/uk/gov/hmcts/reform/preapi/tasks/CleanupNullRecordingDurationTest.java
Labels: ns:pre, prd:pre, enable_keep_helm, stg/add-or-update, prod/add-or-update, rel:pre-api-pr-1118

#1148 S28-4112 UserDTOTest update to fix failing test
  src/test/java/uk/gov/hmcts/reform/preapi/dto/UserDTOTest.java
Labels: ns:pre, prd:pre, rel:pre-api-pr-1148

#1150 feat: enable automated editing feature by default
  infrastructure/main.tf
  pre-api-stg.yaml
  src/main/java/uk/gov/hmcts/reform/preapi/controllers/EditController.java
  src/main/resources/application.yaml
Labels: ns:pre, prd:pre, stg/destroy, prod/destroy, rel:pre-api-pr-1150

#1151 fix: extend timeout for processing capture sessions to 2 hours
  src/main/java/uk/gov/hmcts/reform/preapi/tasks/ProcessCaptureSessions.java
Labels: ns:pre, prd:pre, rel:pre-api-pr-1151

#1138 S28-4104 cleaning logic for closing cases
  infrastructure/main.tf
  src/functionalTest/java/uk/gov/hmcts/reform/preapi/controllers/BookingControllerFT.java
  src/functionalTest/java/uk/gov/hmcts/reform/preapi/controllers/CaptureSessionControllerFT.java
  src/integrationTest/java/uk/gov/hmcts/reform/preapi/services/CaseServiceIT.java
  src/main/java/uk/gov/hmcts/reform/preapi/exception/CaptureSessionNotDeletedException.java
  src/main/java/uk/gov/hmcts/reform/preapi/exception/GlobalControllerExceptionHandler.java
  src/main/java/uk/gov/hmcts/reform/preapi/exception/RecordingNotDeletedException.java
  src/main/java/uk/gov/hmcts/reform/preapi/services/BookingService.java
  src/main/java/uk/gov/hmcts/reform/preapi/services/CaptureSessionService.java
  src/main/java/uk/gov/hmcts/reform/preapi/services/CaseService.java
  src/main/java/uk/gov/hmcts/reform/preapi/services/RecordingService.java
  src/test/java/uk/gov/hmcts/reform/preapi/controller/BookingControllerTest.java
  src/test/java/uk/gov/hmcts/reform/preapi/controller/CaptureSessionControllerTest.java
  src/test/java/uk/gov/hmcts/reform/preapi/controller/CaseControllerTest.java
  src/test/java/uk/gov/hmcts/reform/preapi/services/BookingServiceTest.java
  src/test/java/uk/gov/hmcts/reform/preapi/services/CaptureSessionServiceTest.java
  src/test/java/uk/gov/hmcts/reform/preapi/services/CaseServiceTest.java
  src/test/java/uk/gov/hmcts/reform/preapi/services/RecordingServiceTest.java
Labels: ns:pre, prd:pre, enable_keep_helm, stg/destroy, prod/destroy, rel:pre-api-pr-1138

#1157 When cleaning, ignore capture sessions that are already deleted
  src/main/java/uk/gov/hmcts/reform/preapi/services/BookingService.java
  src/test/java/uk/gov/hmcts/reform/preapi/services/BookingServiceTest.java
Labels: ns:pre, prd:pre, stg/add-or-update, prod/add-or-update, rel:pre-api-pr-1157
