Repository hmcts/pre-api, pull requests merged in 2025-04, with the labels that each got.

#874 S28 3574: Fix Playback Report
  src/integrationTest/java/uk/gov/hmcts/reform/preapi/services/ReportServiceIT.java
  src/main/java/uk/gov/hmcts/reform/preapi/repositories/AuditRepository.java
Labels: ns:pre, prd:pre, enable_keep_helm, rel:pre-api-pr-874

#1036 Fix: Check Streaming Locator Exists Before Attempting Create
  src/main/java/uk/gov/hmcts/reform/preapi/media/MediaKind.java
  src/test/java/uk/gov/hmcts/reform/preapi/media/MediaKindTest.java
Labels: ns:pre, prd:pre, enable_keep_helm, rel:pre-api-pr-1036

#749 S28 3356: Schema Migration - Edit Requests
  src/integrationTest/java/uk/gov/hmcts/reform/preapi/entities/EditRequestTest.java
  src/main/java/uk/gov/hmcts/reform/preapi/entities/EditRequest.java
  src/main/java/uk/gov/hmcts/reform/preapi/enums/EditRequestStatus.java
  src/main/java/uk/gov/hmcts/reform/preapi/repositories/EditRequestRepository.java
  src/main/resources/db/migration/V030__EditRequests.sql
  src/test/java/uk/gov/hmcts/reform/preapi/util/HelperFactory.java
Labels: ns:pre, prd:pre, rel:pre-api-pr-749

#1044 S28 3574: Try Portal Access Id for Playback Report User Created By
  src/main/java/uk/gov/hmcts/reform/preapi/services/ReportService.java
  src/test/java/uk/gov/hmcts/reform/preapi/services/ReportServiceTest.java
Labels: ns:pre, prd:pre, enable_keep_helm, rel:pre-api-pr-1044

#1039 Lp/vodafone
  src/main/java/uk/gov/hmcts/reform/preapi/batch/application/processor/ArchiveMetadataXmlExtractor.java
  src/main/java/uk/gov/hmcts/reform/preapi/batch/application/processor/DeltaProcessor.java
  src/main/java/uk/gov/hmcts/reform/preapi/batch/application/processor/MediaTransformationService.java
  src/main/java/uk/gov/hmcts/reform/preapi/batch/application/processor/PreProcessor.java
  src/main/java/uk/gov/hmcts/reform/preapi/batch/application/processor/Processor.java
  src/main/java/uk/gov/hmcts/reform/preapi/batch/application/processor/RecordingMetadataProcessor.java
  src/main/java/uk/gov/hmcts/reform/preapi/batch/application/processor/ReferenceDataProcessor.java
  src/main/java/uk/gov/hmcts/reform/preapi/batch/application/reader/CSVReader.java
  src/main/java/uk/gov/hmcts/reform/preapi/batch/application/services/AzureVodafoneMigrationService.java
  src/main/java/uk/gov/hmcts/reform/preapi/batch/application/services/extraction/DataExtractionService.java
  src/main/java/uk/gov/hmcts/reform/preapi/batch/application/services/extraction/MetadataValidator.java
  src/main/java/uk/gov/hmcts/reform/preapi/batch/application/services/extraction/PatternMatcherService.java
  src/main/java/uk/gov/hmcts/reform/preapi/batch/application/services/migration/EntityCreationService.java
  src/main/java/uk/gov/hmcts/reform/preapi/batch/application/services/migration/MigrationGroupBuilderService.java
  src/main/java/uk/gov/hmcts/reform/preapi/batch/application/services/migration/MigrationTrackerService.java
  src/main/java/uk/gov/hmcts/reform/preapi/batch/application/services/persistence/InMemoryCacheService.java
  src/main/java/uk/gov/hmcts/reform/preapi/batch/application/services/reporting/LoggingService.java
  src/main/java/uk/gov/hmcts/reform/preapi/batch/application/services/reporting/ReportCsvWriter.java
  src/main/java/uk/gov/hmcts/reform/preapi/batch/application/services/transformation/DataTransformationService.java
  src/main/java/uk/gov/hmcts/reform/preapi/batch/application/services/validation/DataValidationService.java
  src/main/java/uk/gov/hmcts/reform/preapi/batch/application/writer/Writer.java
  src/main/java/uk/gov/hmcts/reform/preapi/batch/config/BatchConfiguration.java
  src/main/java/uk/gov/hmcts/reform/preapi/batch/config/Constants.java
  src/main/java/uk/gov/hmcts/reform/preapi/batch/config/jobs/PostMigrationJobConfig.java
  src/main/java/uk/gov/hmcts/reform/preapi/batch/config/steps/CommonStepUtils.java
  src/main/java/uk/gov/hmcts/reform/preapi/batch/config/steps/CoreStepsConfig.java
  src/main/java/uk/gov/hmcts/reform/preapi/batch/entities/CSVArchiveListData.java
  src/main/java/uk/gov/hmcts/reform/preapi/batch/entities/CSVChannelData.java
  src/main/java/uk/gov/hmcts/reform/preapi/batch/entities/CSVExemptionListData.java
  src/main/java/uk/gov/hmcts/reform/preapi/batch/entities/CSVSitesData.java
  src/main/java/uk/gov/hmcts/reform/preapi/batch/entities/CSVSupportStaffData.java
  src/main/java/uk/gov/hmcts/reform/preapi/batch/entities/ExtractedMetadata.java
  src/main/java/uk/gov/hmcts/reform/preapi/batch/entities/FailedItem.java
  src/main/java/uk/gov/hmcts/reform/preapi/batch/entities/MigratedItemGroup.java
  src/main/java/uk/gov/hmcts/reform/preapi/batch/entities/PassItem.java
  src/main/java/uk/gov/hmcts/reform/preapi/batch/entities/ProcessedRecording.java
  src/main/java/uk/gov/hmcts/reform/preapi/batch/entities/ServiceResult.java
  src/main/java/uk/gov/hmcts/reform/preapi/batch/entities/TestItem.java
  src/main/java/uk/gov/hmcts/reform/preapi/batch/util/RecordingUtils.java
  src/main/java/uk/gov/hmcts/reform/preapi/batch/util/RegexPatterns.java
  src/test/java/uk/gov/hmcts/reform/preapi/batch/application/services/AzureVodafoneMigrationServiceTest.java
  src/test/java/uk/gov/hmcts/reform/preapi/batch/application/services/extraction/DataExtractionServiceTest.java
  src/test/java/uk/gov/hmcts/reform/preapi/batch/application/services/extraction/MetadataValidatorTest.java
  src/test/java/uk/gov/hmcts/reform/preapi/batch/application/services/extraction/PatternMatcherServiceTest.java
  src/test/java/uk/gov/hmcts/reform/preapi/batch/application/services/migration/EntityCreationServiceTest.java
  src/test/java/uk/gov/hmcts/reform/preapi/batch/application/services/migration/MigrationGroupBuilderServiceTest.java
  src/test/java/uk/gov/hmcts/reform/preapi/batch/application/services/migration/MigrationTrackerServiceTest.java
  src/test/java/uk/gov/hmcts/reform/preapi/batch/application/services/persistence/InMemoryCacheServiceTest.java
  src/test/java/uk/gov/hmcts/reform/preapi/batch/application/services/reporting/ReportCsvWriterTest.java
  src/test/java/uk/gov/hmcts/reform/preapi/batch/application/services/transformation/DataTransformationServiceTest.java
  src/test/java/uk/gov/hmcts/reform/preapi/batch/application/services/validation/DataValidationServiceTest.java
  src/test/java/uk/gov/hmcts/reform/preapi/batch/application/writer/WriterTest.java
Labels: ns:pre, prd:pre, rel:pre-api-pr-1039

#759 S28 3363: Edit Request Endpoint (For CSVs)
  .env.local
  build.gradle
  charts/pre-api/Chart.yaml
  charts/pre-api/values.dev.template.yaml
  charts/pre-api/values.stg.template.yaml
  charts/pre-api/values.yaml
  src/functionalTest/java/uk/gov/hmcts/reform/preapi/controllers/EditControllerFT.java
  src/functionalTest/java/uk/gov/hmcts/reform/preapi/controllers/RecordingControllerFT.java
  src/functionalTest/java/uk/gov/hmcts/reform/preapi/controllers/ReportControllerFT.java
  src/functionalTest/java/uk/gov/hmcts/reform/preapi/util/FunctionalTestBase.java
  src/functionalTest/resources/application.properties
  src/functionalTest/resources/test/edit/edit_from_csv.csv
  src/main/java/uk/gov/hmcts/reform/preapi/controllers/EditController.java
  src/main/java/uk/gov/hmcts/reform/preapi/controllers/TestingSupportController.java
  src/main/java/uk/gov/hmcts/reform/preapi/dto/CreateEditRequestDTO.java
  src/main/java/uk/gov/hmcts/reform/preapi/dto/EditCutInstructionDTO.java
  src/main/java/uk/gov/hmcts/reform/preapi/dto/EditRequestDTO.java
  src/main/java/uk/gov/hmcts/reform/preapi/dto/FfmpegEditInstructionDTO.java
  src/main/java/uk/gov/hmcts/reform/preapi/dto/RoomDTO.java
  src/main/java/uk/gov/hmcts/reform/preapi/exception/BadRequestException.java
  src/main/java/uk/gov/hmcts/reform/preapi/exception/GlobalControllerExceptionHandler.java
  src/main/java/uk/gov/hmcts/reform/preapi/exception/UnsupportedMediaTypeException.java
  src/main/java/uk/gov/hmcts/reform/preapi/repositories/RecordingRepository.java
  src/main/java/uk/gov/hmcts/reform/preapi/security/AuthorisationService.java
  src/main/java/uk/gov/hmcts/reform/preapi/services/EditRequestService.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/preapi/controller/EditControllerTest.java
  src/test/java/uk/gov/hmcts/reform/preapi/dto/CreateParticipantDTOTest.java
  src/test/java/uk/gov/hmcts/reform/preapi/dto/EditCutInstructionDTOTest.java
  src/test/java/uk/gov/hmcts/reform/preapi/dto/EditRequestDTOTest.java
  src/test/java/uk/gov/hmcts/reform/preapi/security/AuthorisationServiceTest.java
  src/test/java/uk/gov/hmcts/reform/preapi/services/EditRequestServiceTest.java
Labels: ns:pre, prd:pre, enable_keep_helm, stg/destroy, prod/destroy, rel:pre-api-pr-759

#752 S28 3357: Edit Request Task + Locking
  .env.local
  build.gradle
  charts/pre-api/Chart.yaml
  charts/pre-api/values.dev.template.yaml
  charts/pre-api/values.stg.template.yaml
  charts/pre-api/values.yaml
  src/functionalTest/java/uk/gov/hmcts/reform/preapi/controllers/EditControllerFT.java
  src/functionalTest/java/uk/gov/hmcts/reform/preapi/controllers/RecordingControllerFT.java
  src/functionalTest/java/uk/gov/hmcts/reform/preapi/controllers/ReportControllerFT.java
  src/functionalTest/java/uk/gov/hmcts/reform/preapi/util/FunctionalTestBase.java
  src/functionalTest/resources/application.properties
  src/functionalTest/resources/test/edit/edit_from_csv.csv
  src/main/java/uk/gov/hmcts/reform/preapi/controllers/EditController.java
  src/main/java/uk/gov/hmcts/reform/preapi/controllers/TestingSupportController.java
  src/main/java/uk/gov/hmcts/reform/preapi/dto/CreateEditRequestDTO.java
  src/main/java/uk/gov/hmcts/reform/preapi/dto/EditCutInstructionDTO.java
  src/main/java/uk/gov/hmcts/reform/preapi/dto/EditRequestDTO.java
  src/main/java/uk/gov/hmcts/reform/preapi/dto/FfmpegEditInstructionDTO.java
  src/main/java/uk/gov/hmcts/reform/preapi/dto/RoomDTO.java
  src/main/java/uk/gov/hmcts/reform/preapi/exception/BadRequestException.java
  src/main/java/uk/gov/hmcts/reform/preapi/exception/GlobalControllerExceptionHandler.java
  src/main/java/uk/gov/hmcts/reform/preapi/exception/UnsupportedMediaTypeException.java
  src/main/java/uk/gov/hmcts/reform/preapi/repositories/EditRequestRepository.java
  src/main/java/uk/gov/hmcts/reform/preapi/repositories/RecordingRepository.java
  src/main/java/uk/gov/hmcts/reform/preapi/security/AuthorisationService.java
  src/main/java/uk/gov/hmcts/reform/preapi/services/EditRequestService.java
  src/main/java/uk/gov/hmcts/reform/preapi/services/ScheduledTaskRunner.java
  src/main/java/uk/gov/hmcts/reform/preapi/tasks/CleanupLiveEvents.java
  src/main/java/uk/gov/hmcts/reform/preapi/tasks/PerformEditRequest.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/preapi/controller/EditControllerTest.java
  src/test/java/uk/gov/hmcts/reform/preapi/dto/CreateParticipantDTOTest.java
  src/test/java/uk/gov/hmcts/reform/preapi/dto/EditCutInstructionDTOTest.java
  src/test/java/uk/gov/hmcts/reform/preapi/dto/EditRequestDTOTest.java
  src/test/java/uk/gov/hmcts/reform/preapi/security/AuthorisationServiceTest.java
  src/test/java/uk/gov/hmcts/reform/preapi/services/EditRequestServiceTest.java
  src/test/java/uk/gov/hmcts/reform/preapi/tasks/PerformEditRequestTest.java
Labels: ns:pre, prd:pre, stg/destroy, prod/destroy, rel:pre-api-pr-752

#979 S28 3542
  README.md
  src/main/java/uk/gov/hmcts/reform/preapi/repositories/CaptureSessionRepository.java
  src/main/java/uk/gov/hmcts/reform/preapi/services/CaptureSessionService.java
  src/main/java/uk/gov/hmcts/reform/preapi/tasks/CheckForMissingRecordings.java
  src/test/java/uk/gov/hmcts/reform/preapi/services/CaptureSessionServiceTest.java
  src/test/java/uk/gov/hmcts/reform/preapi/tasks/CheckForMissingRecordingsTest.java
Labels: ns:pre, prd:pre, rel:pre-api-pr-979

#1028 S28-3760: Added APIM logging into Application Insights
  infrastructure/api-mgmt-logging.tf
  infrastructure/main.tf
Labels: ns:pre, prd:pre, stg/add-or-update, prod/add-or-update, rel:pre-api-pr-1028

#1040 format date in email to UK time
  src/main/java/uk/gov/hmcts/reform/preapi/email/govnotify/templates/CasePendingClosure.java
Labels: ns:pre, prd:pre, rel:pre-api-pr-1040
